Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: icons, styles, web

codecov.yml:

coverage:
  status:
    project:
      default: off
      icons:
        target: auto
        flags:
          - icons
      styles:
        target: auto
        flags:
          - styles
      web:
        target: auto
        flags:
          - web
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
flags:
  icons:
    paths:
      - packages/icons
    carryforward: false
  styles:
    paths:
      - packages/styles
    carryforward: false
  web:
    paths:
      - packages/web
    carryforward: false

chore(release): publish v0.7.14-alpha.13 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(release): publish v0.7.14-alpha.14 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(release): publish v0.7.14-alpha.DSY-000.0 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore: don't generate changelog on prereleases
  package.json
Due: none

chore(release): publish v0.7.14-alpha.15 via lerna [skip ci]
  lerna.json
  packages/docs/package.json
  packages/icons/package.json
  packages/styles/package.json
  packages/web/package.json
Due: icons, styles, web

chore(release): publish v0.7.14-alpha.16 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(deps): update commitlint monorepo to v9
  package.json
  yarn.lock
Due: none

chore(deps): upgrade @commitlint monorepo to 9.0.1
  package.json
  yarn.lock
Due: none

fix(tslint): upgrade dependency and fix warnings/errors
  packages/docs/tslint.json
  packages/icons/src/index.ts
  packages/icons/tslint.json
  packages/styles/src/__tests__/themes/avon/avon.spec.ts
  packages/styles/src/index.ts
  packages/styles/src/themes/ITheme.ts
  packages/styles/src/tokens/avatarSizes/IAvatarSizes.ts
  packages/styles/src/tokens/buttonSizes/IButtonSizes.ts
  packages/styles/src/tokens/colors/natura/IColorsNatura.ts
  packages/styles/tslint.json
  packages/web/package.json
  packages/web/src/Components/Avatar.tsx
  packages/web/src/Components/ContextualBadge.tsx
  packages/web/src/Components/DrawerMenu.tsx
  packages/web/src/Components/KeyboardDatePicker.tsx
  packages/web/src/Components/Popover.tsx
  packages/web/src/Components/TextField/SearchClear.tsx
  packages/web/src/Components/TextField/shared.ts
  packages/web/src/Components/Typography.tsx
  packages/web/src/Provider/index.tsx
  packages/web/src/Themes/index.ts
  packages/web/src/__mocks__/react-text-mask.tsx
  packages/web/src/__tests__/TextField.Field.spec.tsx
  packages/web/src/__tests__/TextField.PasswordReveal.spec.tsx
  packages/web/src/__tests__/TextField.SearchClear.spec.tsx
  packages/web/src/__tests__/TextField.spec.tsx
  packages/web/src/index.ts
  packages/web/tslint.json
  yarn.lock
Due: icons, styles, web

chore(release): publish v0.7.14 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore: add --ci argument to storybook build
  scripts/build-storybook-prerelease.sh
  scripts/build-storybook.sh
Due: none

chore: make root repo private
  package.json
Due: none

chore(release): publish v0.7.14-alpha.DSY-1161.0 via lerna [skip ci]
  lerna.json
  packages/docs/package.json
  packages/icons/package.json
  packages/styles/package.json
  packages/web/package.json
Due: icons, styles, web

chore(release): publish v0.7.15 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(release): publish v0.7.16-alpha.0 via lerna [skip ci]
  lerna.json
  packages/docs/package.json
  packages/icons/package.json
  packages/styles/package.json
  packages/web/package.json
Due: icons, styles, web

chore(release): publish v0.7.16-alpha.1 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(deps): update \`typescript\` to 3.9.5
  packages/web/package.json
  yarn.lock
Due: web

test(web): add missing test for Icon
  packages/web/src/__tests__/Icon.spec.tsx
Due: web

fix(web): remove import warning at Icon component
  packages/web/src/__tests__/Icon.spec.tsx
Due: web

chore: don't check typo on test snapshots
  .typo-ci.yml
Due: none

fix(web): add missing snapshot for Icon component
  packages/web/src/__tests__/__snapshots__/Icon.spec.tsx.snap
Due: web

chore(release): publish v0.7.16-alpha.2 via lerna [skip ci]
  lerna.json
  packages/docs/package.json
  packages/icons/package.json
  packages/styles/package.json
  packages/web/package.json
Due: icons, styles, web

chore(release): publish v0.7.16-alpha.3 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

fix(deps): update dependency @material-ui/lab to v4.0.0-alpha.56
  packages/web/package.json
  yarn.lock
Due: web

fix(web): add missing test for Icon component
  packages/web/src/__tests__/Icon.spec.tsx
  packages/web/src/__tests__/__snapshots__/Icon.spec.tsx.snap
Due: web

test(web): update snapshot file
  packages/web/src/__tests__/__snapshots__/Icon.spec.tsx.snap
Due: web

chore(release): publish v0.7.16-alpha.4 via lerna [skip ci]
  lerna.json
  packages/docs/package.json
  packages/icons/package.json
  packages/styles/package.json
  packages/web/package.json
Due: icons, styles, web

chore(release): publish v0.7.16-alpha.5 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

ci: update lint/build/test lifecycle
  package.json
  packages/docs/package.json
  packages/icons/package.json
  packages/styles/.jest-test-results.json
  packages/styles/package.json
  packages/web/.jest-test-results.json
  packages/web/package.json
Due: icons, styles, web

ci: run yarn test on sanity check
  .travis.yml
Due: none

ci: add missing `test:ci` scripts
  packages/docs/package.json
  packages/icons/package.json
Due: icons

ci: set script to `test:ci`
  .travis.yml
Due: none

ci: set storybook build to --quiet
  scripts/build-storybook-prerelease.sh
  scripts/build-storybook.sh
Due: none

chore(release): publish v0.7.16-alpha.6 via lerna [skip ci]
  lerna.json
  packages/docs/package.json
  packages/icons/package.json
  packages/styles/package.json
  packages/web/package.json
Due: icons, styles, web

chore(release): publish v0.7.16-alpha.7 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

ci: keep only snyk on prepublish
  packages/docs/package.json
  packages/icons/.snyk
  packages/icons/package.json
  packages/styles/.snyk
  packages/styles/package.json
  packages/web/package.json
Due: icons, styles, web

ci: avoid duplicate storybook build, decrease log size
  packages/docs/package.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

chore(release): publish v0.7.16-alpha.8 via lerna [skip ci]
  lerna.json
  packages/docs/package.json
  packages/icons/package.json
  packages/styles/package.json
  packages/web/package.json
Due: icons, styles, web
