Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: icons, styles, web

chore(deps): update dependency eslint-plugin-react-hooks to v4.2.0
  packages/web/package.json
Due: web

chore(deps): update dependency rollup to v2.33.1
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update dependency codecov to v3.8.1
  packages/styles/package.json
  packages/web/package.json
  yarn.lock
Due: styles, web

chore(deps): update dependency @testing-library/react to v11.1.1
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency @testing-library/user-event to v12.2.0
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency @testing-library/dom to v7.26.5
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency jest to v26.6.3
  package.json
  packages/styles/package.json
  packages/web/package.json
  yarn.lock
Due: styles, web

chore(deps): update dependency @types/lodash to v4.14.165
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update stryker monorepo
  package.json
  yarn.lock
Due: none

chore(deps): pin dependencies
  package.json
  packages/styles/package.json
  packages/web/package.json
  packages/web/src/Components/Container/package.json
  yarn.lock
Due: styles, web

chore(deps): update dependency @types/react to v16.9.56
  package.json
  packages/web/package.json
  yarn.lock
Due: web

feat(web): remove natds-icons font loading. Now the user has the ability to decide when to load the
  packages/web/.gitignore
  packages/web/.storybook/preview-head.html
  packages/web/bin/copyAssetsToStorybook.sh
  packages/web/package.json
  packages/web/rollup.config.js
  packages/web/src/Components/AppBar/__snapshots__/AppBar.stories.storyshot
  packages/web/src/Components/Avatar/__snapshots__/Avatar.stories.storyshot
  packages/web/src/Components/Avatar/__snapshots__/Avatar.test.tsx.snap
  packages/web/src/Components/Badge/__snapshots__/Badge.stories.storyshot
  packages/web/src/Components/BottomNavigation/__snapshots__/BottomNavigation.stories.storyshot
  packages/web/src/Components/BottomNavigationAction/__snapshots__/BottomNavigationAction.stories.storyshot
  packages/web/src/Components/Breadcrumbs/__snapshots__/Breadcrumbs.stories.storyshot
  packages/web/src/Components/Button/__snapshots__/Button.stories.storyshot
  packages/web/src/Components/ButtonGroup/__snapshots__/ButtonGroup.stories.storyshot
  packages/web/src/Components/Card/__snapshots__/Card.stories.storyshot
  packages/web/src/Components/CardActions/__snapshots__/CardActions.stories.storyshot
  packages/web/src/Components/CardHeader/__snapshots__/CardHeader.stories.storyshot
  packages/web/src/Components/Chip/Chip.tsx
  packages/web/src/Components/Chip/__snapshots__/Chip.test.tsx.snap
  packages/web/src/Components/DrawerMenu/DrawerMenuItem/DrawerMenuItem.props.ts
  packages/web/src/Components/DrawerMenu/DrawerMenuItem/DrawerMenuItem.tsx
  packages/web/src/Components/DrawerMenu/DrawerMenuSection/DrawerMenuSection.tsx
  packages/web/src/Components/DrawerMenu/DrawerMenuSection/__snapshots__/DrawerMenuSection.test.tsx.snap
  packages/web/src/Components/DrawerMenu/__snapshots__/DrawerMenu.test.tsx.snap
  packages/web/src/Components/Icon/Icon.test.tsx
  packages/web/src/Components/Icon/Icon.tsx
  packages/web/src/Components/Icon/__snapshots__/Icon.test.tsx.snap
  packages/web/src/Components/Icon/index.ts
  packages/web/src/Components/InputStateHelpTextProvider/__snapshots__/InputStateHelpTextProvider.test.tsx.snap
  packages/web/src/Components/Intro/Intro.test.tsx
  packages/web/src/Components/Intro/__snapshots__/Intro.test.tsx.snap
  packages/web/src/Components/List/__snapshots__/List.test.tsx.snap
  packages/web/src/Components/Table/TableSortLabel/TableSortLabel.tsx
  packages/web/src/Components/Table/TableSortLabel/__snapshots__/TableSortLabel.test.tsx.snap
  packages/web/src/Components/TextField/__snapshots__/TextField.test.tsx.snap
  packages/web/src/index.ts
  yarn.lock
Due: web

chore(release): publish v1.0.0-alpha.0 via lerna [skip ci]
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/package.json
  examples/gatsby/package.json
  lerna.json
  packages/web/package.json
Due: web

chore(deps): update dependency eslint to v7.13.0
  package.json
  yarn.lock
Due: none

chore(release): publish v1.0.0-alpha.0 via lerna [skip ci]
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/package.json
  examples/gatsby/package.json
  lerna.json
  packages/web/package.json
  packages/web/rollup.config.js
  packages/web/src/Components/AppBar/__snapshots__/AppBar.stories.storyshot
  packages/web/src/Components/Avatar/__snapshots__/Avatar.stories.storyshot
  packages/web/src/Components/Avatar/__snapshots__/Avatar.test.tsx.snap
  packages/web/src/Components/Badge/__snapshots__/Badge.stories.storyshot
  packages/web/src/Components/BottomNavigation/__snapshots__/BottomNavigation.stories.storyshot
  packages/web/src/Components/BottomNavigationAction/__snapshots__/BottomNavigationAction.stories.storyshot
  packages/web/src/Components/Breadcrumbs/__snapshots__/Breadcrumbs.stories.storyshot
  packages/web/src/Components/Button/__snapshots__/Button.stories.storyshot
  packages/web/src/Components/ButtonGroup/__snapshots__/ButtonGroup.stories.storyshot
  packages/web/src/Components/Card/__snapshots__/Card.stories.storyshot
  packages/web/src/Components/CardActions/__snapshots__/CardActions.stories.storyshot
  packages/web/src/Components/CardHeader/__snapshots__/CardHeader.stories.storyshot
  packages/web/src/Components/Chip/__snapshots__/Chip.test.tsx.snap
  packages/web/src/Components/DrawerMenu/DrawerMenuSection/__snapshots__/DrawerMenuSection.test.tsx.snap
  packages/web/src/Components/DrawerMenu/__snapshots__/DrawerMenu.test.tsx.snap
  packages/web/src/Components/Icon/Icon.tsx
  packages/web/src/Components/Icon/__snapshots__/Icon.test.tsx.snap
  packages/web/src/Components/InputStateHelpTextProvider/__snapshots__/InputStateHelpTextProvider.test.tsx.snap
  packages/web/src/Components/Intro/__snapshots__/Intro.test.tsx.snap
  packages/web/src/Components/List/__snapshots__/List.test.tsx.snap
  packages/web/src/Components/Table/TableSortLabel/__snapshots__/TableSortLabel.test.tsx.snap
  packages/web/src/Components/TextField/__snapshots__/TextField.test.tsx.snap
Due: web

chore(deps): update typescript-eslint monorepo to v4.7.0
  package.json
  yarn.lock
Due: none

chore(web): upgrade natds-icons
  packages/web/package.json
  packages/web/src/Components/DrawerMenu/DrawerMenuItem/DrawerMenuItem.props.ts
  packages/web/src/Components/Icon/Icon.argTypes.ts
  packages/web/src/Components/Icon/Icon.props.ts
  packages/web/src/Components/InputStateHelpTextProvider/InputStateHelpTextProvider.tsx
  packages/web/src/Components/Table/TableSortLabel/TableSortLabel.tsx
  yarn.lock
Due: web

chore(release): publish v1.0.0-alpha.1 via lerna [skip ci]
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/package.json
  examples/gatsby/package.json
  lerna.json
  packages/web/package.json
Due: web

feat(web): add cssPrefix option to isolate classes
  packages/web/src/Provider/Provider.props.ts
  packages/web/src/Provider/Provider.tsx
Due: web

chore(release): publish v1.0.0-alpha.2 via lerna [skip ci]
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/package.json
  examples/gatsby/package.json
  lerna.json
  packages/web/package.json
Due: web

chore(release): publish v1.0.0-alpha.2 via lerna [skip ci]
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/package.json
  examples/gatsby/package.json
  lerna.json
  packages/web/package.json
  packages/web/src/Components/AppBar/__snapshots__/AppBar.stories.storyshot
  packages/web/src/Components/Avatar/__snapshots__/Avatar.stories.storyshot
  packages/web/src/Components/Avatar/__snapshots__/Avatar.test.tsx.snap
  packages/web/src/Components/Badge/__snapshots__/Badge.stories.storyshot
  packages/web/src/Components/BottomNavigation/__snapshots__/BottomNavigation.stories.storyshot
  packages/web/src/Components/BottomNavigationAction/__snapshots__/BottomNavigationAction.stories.storyshot
  packages/web/src/Components/Breadcrumbs/__snapshots__/Breadcrumbs.stories.storyshot
  packages/web/src/Components/Button/__snapshots__/Button.stories.storyshot
  packages/web/src/Components/ButtonGroup/__snapshots__/ButtonGroup.stories.storyshot
  packages/web/src/Components/Card/__snapshots__/Card.stories.storyshot
  packages/web/src/Components/CardActions/__snapshots__/CardActions.stories.storyshot
  packages/web/src/Components/CardHeader/__snapshots__/CardHeader.stories.storyshot
  packages/web/src/Components/Checkbox/__snapshots__/Checkbox.stories.storyshot
  packages/web/src/Components/ContextualBadge/__snapshots__/ContextualBadge.test.tsx.snap
  packages/web/src/Components/Fab/__snapshots__/Fab.test.tsx.snap
  packages/web/src/Components/Icon/__snapshots__/Icon.test.tsx.snap
  packages/web/src/Components/Intro/__snapshots__/Intro.test.tsx.snap
  packages/web/src/Components/SnackbarContent/__snapshots__/SnackbarContent.test.tsx.snap
  packages/web/src/Components/Spacing/__snapshots__/Spacing.test.tsx.snap
  packages/web/src/Components/Toolbar/__snapshots__/Toolbar.test.tsx.snap
Due: web

chore(release): publish v1.0.0-alpha.3 via lerna [skip ci]
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/package.json
  examples/gatsby/package.json
  lerna.json
  packages/web/package.json
Due: web

chore(deps): update babel monorepo
  packages/web/package.json
  yarn.lock
Due: web

chore: fix renovate config
  renovate.json
Due: none

chore(deps): update dependency @testing-library/dom to v7.26.6
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency @testing-library/react to v11.1.2
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency @testing-library/user-event to v12.2.2
  packages/web/package.json
  yarn.lock
Due: web

chore: skip netlify deploy on renovate PRs
  renovate.json
Due: none

chore: update pipeline user
  scripts/configure-git.sh
Due: none

chore(release): publish v0.24.1 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/gatsby/CHANGELOG.md
  examples/gatsby/package.json
  lerna.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, web

fix(web): TextField with states border color, remove icon name from icon component
  packages/web/src/Components/Icon/Icon.tsx
  packages/web/src/Components/Input/Input.styles.ts
Due: web

fix(web): TextField with states border color, remove icon name from icon component
  packages/web/src/Components/AppBar/__snapshots__/AppBar.stories.storyshot
  packages/web/src/Components/Avatar/__snapshots__/Avatar.stories.storyshot
  packages/web/src/Components/Avatar/__snapshots__/Avatar.test.tsx.snap
  packages/web/src/Components/Badge/__snapshots__/Badge.stories.storyshot
  packages/web/src/Components/BottomNavigation/__snapshots__/BottomNavigation.stories.storyshot
  packages/web/src/Components/BottomNavigationAction/__snapshots__/BottomNavigationAction.stories.storyshot
  packages/web/src/Components/Breadcrumbs/__snapshots__/Breadcrumbs.stories.storyshot
  packages/web/src/Components/Button/__snapshots__/Button.stories.storyshot
  packages/web/src/Components/ButtonGroup/__snapshots__/ButtonGroup.stories.storyshot
  packages/web/src/Components/Card/__snapshots__/Card.stories.storyshot
  packages/web/src/Components/CardActions/__snapshots__/CardActions.stories.storyshot
  packages/web/src/Components/CardHeader/__snapshots__/CardHeader.stories.storyshot
  packages/web/src/Components/Chip/__snapshots__/Chip.test.tsx.snap
  packages/web/src/Components/DrawerMenu/DrawerMenuSection/__snapshots__/DrawerMenuSection.test.tsx.snap
  packages/web/src/Components/DrawerMenu/__snapshots__/DrawerMenu.test.tsx.snap
  packages/web/src/Components/Icon/Icon.tsx
  packages/web/src/Components/Icon/__snapshots__/Icon.test.tsx.snap
  packages/web/src/Components/Input/Input.styles.ts
  packages/web/src/Components/InputStateHelpTextProvider/__snapshots__/InputStateHelpTextProvider.test.tsx.snap
  packages/web/src/Components/Intro/__snapshots__/Intro.test.tsx.snap
  packages/web/src/Components/List/__snapshots__/List.test.tsx.snap
  packages/web/src/Components/Table/TableSortLabel/__snapshots__/TableSortLabel.test.tsx.snap
  packages/web/src/Components/TextField/__snapshots__/TextField.test.tsx.snap
Due: web

chore(release): publish v1.0.0-alpha.DSY-666.10030.0 via lerna [skip ci]
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/package.json
  examples/gatsby/package.json
  lerna.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

fix(web): remove root box shadow from text field
  packages/styles/src/__tests__/themes/avon/__snapshots__/avon.test.ts.snap
  packages/styles/src/__tests__/themes/bodyShop/__snapshots__/theBodyShop.test.ts.snap
  packages/styles/src/__tests__/themes/natura/__snapshots__/natura.test.ts.snap
  packages/styles/src/themes/avon/avon-dark.ts
  packages/styles/src/themes/avon/avon-light.ts
  packages/styles/src/themes/natura/natura-dark.ts
  packages/styles/src/themes/natura/natura-light.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-dark.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-light.ts
  packages/web/src/Components/Input/Input.styles.ts
  packages/web/src/Themes/__snapshots__/themes.test.tsx.snap
Due: styles, web

chore(release): publish v1.0.0-alpha.DSY-666.10032.0 via lerna [skip ci]
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/package.json
  examples/gatsby/package.json
  lerna.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

feat(web): add maxLength to Field component + update TextField playground
  packages/web/src/Components/Field/Field.test.tsx
  packages/web/src/Components/Field/Field.tsx
  packages/web/src/Components/Field/__snapshots__/Field.test.tsx.snap
  packages/web/src/Components/TextField/TextField.stories.tsx
Due: web

chore(web): update snapshot test
  packages/web/src/Components/Field/__snapshots__/Field.test.tsx.snap
Due: web

chore(release): publish v1.0.0-alpha.DSY-666.10065.0 via lerna [skip ci]
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/package.json
  examples/gatsby/package.json
  lerna.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

chore: add cicd required files
  .cicd/Jenkinsfile
  .cicd/build.sh
  .cicd/integration-test.sh
  .cicd/package.sh
  .cicd/unit-test.sh
Due: none

Path conditions:
  icons: any of: packages/icons
  styles: any of: packages/styles
  web: any of: packages/web
