Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: icons, styles, web

chore(web): finish eslint configuration
  packages/web/.eslintrc.js
Due: web

chore(web): add .eslintignore file
  packages/web/.eslintignore
Due: web

refactor: move eslint config file to project root
  .eslintrc.js
Due: none

chore: add .eslintignore file at project root
  .eslintignore
Due: none

chore(styles): remove linting references from package manifest
  packages/styles/package.json
Due: styles

chore(icons): remove linting references from package manifest
  packages/icons/package.json
Due: icons

chore(docs): remove linting references from package manifest
  packages/docs/package.json
Due: none

chore: add linting at project root
  package.json
  yarn.lock
Due: none

refactor(web): remove old eslint files
  packages/web/.eslintignore
  packages/web/.eslintrc.js
Due: web

style: format stryker.conf.js file
  stryker.conf.js
Due: none

chore(web): remove linting references from package manifest
  packages/web/package.json
Due: web

refactor: format helper script with eslint
  scripts/helpers/addVersionOnConfig.js
Due: none

style: format config files with eslint rules
  commitlint.config.js
  jest.config.base.js
  jest.config.js
Due: none

chore: finish eslint config
  .eslintrc.js
Due: none

style(styles): format config files with eslint rules
  packages/styles/jest.config.js
  packages/styles/src/__tests__/themes/avon/avon.spec.ts
  packages/styles/src/__tests__/themes/bodyShop/theBodyShop.spec.ts
  packages/styles/src/__tests__/themes/natura/natura.spec.ts
  packages/styles/src/index.ts
  packages/styles/src/themes.ts
  packages/styles/src/themes/ITheme.ts
  packages/styles/src/themes/avon/avon-dark.ts
  packages/styles/src/themes/avon/avon-light.ts
  packages/styles/src/themes/avon/typography.ts
  packages/styles/src/themes/natura/natura-dark.ts
  packages/styles/src/themes/natura/natura-light.ts
  packages/styles/src/themes/natura/typography.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-dark.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-light.ts
  packages/styles/src/themes/theBodyShop/typography.ts
  packages/styles/src/tokens.ts
  packages/styles/src/tokens/avatarSizes/index.ts
  packages/styles/src/tokens/buttonSizes/index.ts
  packages/styles/src/tokens/colors/natura/index.ts
  packages/styles/src/tokens/colors/themeBound/IColorThemeTokens.ts
  packages/styles/src/tokens/colors/themeBound/avon/avon-dark.ts
  packages/styles/src/tokens/colors/themeBound/avon/avon-light.ts
  packages/styles/src/tokens/colors/themeBound/index.ts
  packages/styles/src/tokens/colors/themeBound/natura/natura-dark.ts
  packages/styles/src/tokens/colors/themeBound/natura/natura-light.ts
  packages/styles/src/tokens/colors/themeBound/theBodyShop/the-body-shop-dark.ts
  packages/styles/src/tokens/colors/themeBound/theBodyShop/the-body-shop-light.ts
  packages/styles/src/tokens/elevation/index.ts
  packages/styles/src/tokens/fontSize/index.ts
  packages/styles/src/tokens/iconSizes/index.ts
  packages/styles/src/tokens/opacity/index.ts
  packages/styles/src/tokens/overlay/index.ts
  packages/styles/src/tokens/radius/index.ts
  packages/styles/src/tokens/sizes/index.ts
  packages/styles/src/tokens/spacing/index.ts
Due: styles

style: format helper script and config files with eslint rules
  scripts/helpers/addVersionOnConfig.js
  stryker.conf.js
Due: none

style(icons): format config files with eslint rules
  packages/icons/package.json
  packages/icons/rollup.config.js
  packages/icons/scripts/svgCleaner.js
  packages/icons/scripts/svgToFont.js
  packages/icons/src/declaration.d.ts
  packages/icons/src/index.ts
  packages/icons/src/natds-icons.swift
  packages/icons/src/typings/declaration.d.ts
Due: icons

test(web): update test snapshots
  packages/web/src/__tests__/__snapshots__/Avatar.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/DrawerHeader.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Fab.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Intro.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Popover.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TextField.spec.tsx.snap
  packages/web/src/__tests__/themes/natura/__snapshots__/natura.spec.tsx.snap
Due: web

style(styles): add missing blank space after comment
  packages/styles/src/themes/theBodyShop/the-body-shop-dark.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-light.ts
Due: styles

test(styles): update snapshots
  packages/styles/src/__tests__/themes/avon/__snapshots__/avon.spec.ts.snap
  packages/styles/src/__tests__/themes/bodyShop/__snapshots__/theBodyShop.spec.ts.snap
  packages/styles/src/__tests__/themes/natura/__snapshots__/natura.spec.ts.snap
Due: styles

chore: update eslint config file
  .eslintrc.js
Due: none

style(web): remove old tslint references
  packages/web/src/Components/Avatar.tsx
  packages/web/src/Components/ContextualBadge.tsx
  packages/web/src/Components/DrawerMenu.tsx
  packages/web/src/Components/Popover.tsx
  packages/web/src/Components/TextField/SearchClear.tsx
  packages/web/src/Components/TextField/shared.ts
  packages/web/src/Components/Typography.tsx
  packages/web/src/__tests__/Popover.spec.tsx
  packages/web/src/index.ts
Due: web

chore(release): publish v0.12.4 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore: update Typo CI config file [skip ci]
  .typo-ci.yml
Due: none

chore: update eslint config file with packages/docs definitions
  .eslintrc.js
Due: none

chore: don't ignore docs on linting
  .eslintignore
Due: none

refactor(docs): remove Alert and Select unused code
  packages/docs/src/components/Alert/Alert.docs.mdx
  packages/docs/src/components/Alert/Alert.story.tsx
  packages/docs/src/components/Alert/sections.tsx
  packages/docs/src/components/Select/Select.docs.mdx
  packages/docs/src/components/Select/Select.story.tsx
  packages/docs/src/components/Select/sections.tsx
Due: none

chore(release): publish v0.12.5 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
Due: none

chore: format code on commit and push
  .eslintignore
  package.json
  scripts/configure-git.sh
Due: none

chore: don't add all files on pre-commit
  package.json
Due: none

chore(deps): pin dependency eslint to 7.4.0
  package.json
  yarn.lock
Due: none

chore: enable renovate lock file maint [skip ci]
  renovate.json
Due: none

chore(release): publish v0.13.0 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

Path conditions:
  icons: any of: packages/icons
  styles: any of: packages/styles
  web: any of: packages/web
