Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: icons, styles, web

codecov.yml:

coverage:
  status:
    project:
      default: off
      icons:
        target: auto
        flags:
          - icons
      styles:
        target: auto
        flags:
          - styles
      web:
        target: auto
        flags:
          - web
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
flags:
  icons:
    paths:
      - packages/icons
    carryforward: false
  styles:
    paths:
      - packages/styles
    carryforward: false
  web:
    paths:
      - packages/web
    carryforward: false

test(field): add more tests
  packages/web/src/Components/Field/PasswordReveal/PasswordReveal.test.tsx
  packages/web/src/Components/Field/PasswordReveal/__snapshots__/PasswordReveal.test.tsx.snap
Due: web

test(icon): add Icon mock
  packages/web/src/Components/Icon/__mocks__/Icon.props.ts
  packages/web/src/Components/Icon/__mocks__/Icon.tsx
Due: web

test(web): add storyshots
  packages/web/src/Components/Storyshots.test.js
Due: web

feat(web): add new public utilities and useSizeTokens hook
  packages/web/src/index.ts
Due: web

test(styles): add missing snapshots for opacity
  packages/styles/src/__tests__/themes/avon/__snapshots__/avon.test.ts.snap
  packages/styles/src/__tests__/themes/bodyShop/__snapshots__/theBodyShop.test.ts.snap
  packages/styles/src/__tests__/themes/natura/__snapshots__/natura.test.ts.snap
Due: styles

chore(jest config): use default config for testMatch
  packages/styles/jest.config.js
Due: styles

chore(release): publish v0.21.0-alpha.DSY-1501.8130.0 via lerna [skip ci]
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/package.json
  examples/gatsby/package.json
  examples/mdx-deck/package.json
  lerna.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

chore(deps): bump @types/react to 16.9.55
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): downgrade `@types/react*`
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): downgrade `@types/react` to 16.9.48
  packages/web/package.json
  yarn.lock
Due: web

docs: add cdn example [wip]
  examples/cdn/index.html
  examples/cdn/package-lock.json
  examples/cdn/package.json
Due: none

docs(single-spa): add single-spa example [wip]
  examples/single-spa/root/.gitignore
  examples/single-spa/root/package-lock.json
  examples/single-spa/root/package.json
  examples/single-spa/root/src/index.ejs
  examples/single-spa/root/src/root-config.js
  examples/single-spa/root/webpack.config.js
Due: none

chore: reference new examples at package manifest
  package.json
Due: none

style(web): remove comment from babel config file
  packages/web/babel.config.js
Due: web

fix(deps): remove duplicate @naturacosmeticos/natds-themes dependency
  packages/styles/package.json
Due: styles

test(styles): adopt babel-jest as tsx transform
  packages/styles/babel.config.js
  packages/styles/jest.config.js
Due: styles

chore(deps): update lock file
  examples/single-spa/root/yarn.lock
  yarn.lock
Due: none

chore(release): publish v0.22.0 via lerna [skip ci]
  CHANGELOG.md
  examples/cdn/CHANGELOG.md
  examples/cdn/package-lock.json
  examples/cdn/package.json
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/gatsby/CHANGELOG.md
  examples/gatsby/package.json
  examples/mdx-deck/CHANGELOG.md
  examples/mdx-deck/package.json
  lerna.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, web

chore(release): publish v0.22.1 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/gatsby/CHANGELOG.md
  examples/gatsby/package.json
  lerna.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, web

chore(release): publish v0.22.2 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/gatsby/CHANGELOG.md
  examples/gatsby/package.json
  lerna.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, web

chore(deps): update dependency jest to v26.6.1
  package.json
  packages/styles/package.json
  packages/web/package.json
  yarn.lock
Due: styles, web

chore(release): publish v0.22.3 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/gatsby/CHANGELOG.md
  examples/gatsby/package.json
  lerna.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, web

chore(deps): update dependency @testing-library/react to v11.1.0
  packages/web/package.json
  yarn.lock
Due: web

chore(release): publish v0.22.4 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/gatsby/CHANGELOG.md
  examples/gatsby/package.json
  lerna.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, web

chore(deps): update babel monorepo
  packages/web/package.json
  yarn.lock
Due: web

chore(release): publish v0.22.5 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/gatsby/CHANGELOG.md
  examples/gatsby/package.json
  lerna.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, web

chore(deps): update dependency @testing-library/user-event to v12.1.10
  packages/web/package.json
  yarn.lock
Due: web

chore(release): publish v0.22.6 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/gatsby/CHANGELOG.md
  examples/gatsby/package.json
  lerna.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, web

chore(release): publish v0.22.7 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/gatsby/CHANGELOG.md
  examples/gatsby/package.json
  lerna.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, web

chore(release): publish v0.22.8 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/gatsby/CHANGELOG.md
  examples/gatsby/package.json
  lerna.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, web

chore(release): publish v0.22.9 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/gatsby/CHANGELOG.md
  examples/gatsby/package.json
  lerna.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, web

chore(release): publish v0.22.10 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/gatsby/CHANGELOG.md
  examples/gatsby/package.json
  lerna.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, web

chore(release): publish v0.22.11 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/gatsby/CHANGELOG.md
  examples/gatsby/package.json
  lerna.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, web

chore(deps): update dependency @rollup/plugin-typescript to v6.1.0
  packages/web/package.json
  yarn.lock
Due: web

chore(release): publish v0.22.12 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/gatsby/CHANGELOG.md
  examples/gatsby/package.json
  lerna.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, web

chore(.gitignore): ignore yarn 2 files
  .gitignore
Due: none

chore(web): remove react 17 as possible peerDependency
  packages/web/package.json
Due: web

chore(.idea): improve support for IDEA IDEs
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/modules.xml
  .idea/natds-js.iml
  .idea/vcs.xml
Due: none

chore(deps): update dependency @types/jest to v26.0.15
  packages/web/package.json
  yarn.lock
Due: web

chore(release): publish v0.22.13 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/gatsby/CHANGELOG.md
  examples/gatsby/package.json
  lerna.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, web
