Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: icons, styles, web

fix: packages/web/package.json to reduce vulnerabilities
  packages/web/package.json
Due: web

chore(deps): update dependency @babel/core to v7.11.4
  packages/icons/package.json
  packages/web/package.json
  yarn.lock
Due: icons, web

chore(release): publish v0.18.1 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(release): publish v0.18.2 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(release): publish v0.18.3 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(deps): update rollup dependencies
  packages/web/package.json
  yarn.lock
Due: web

chore(release): publish v0.18.4 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(deps): update dependency eslint to v7.7.0
  package.json
  yarn.lock
Due: none

chore(release): publish v0.18.5 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(deps): update dependency commitizen to v4.1.3
  package.json
  yarn.lock
Due: none

chore(release): publish v0.18.6 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(deps): update dependency commitizen to v4.1.5
  package.json
  yarn.lock
Due: none

chore(release): publish v0.18.7 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(deps): update dependency @types/sinon to v9.0.5
  packages/web/package.json
  yarn.lock
Due: web

chore(release): publish v0.18.8 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(deps): update dependency jest to v26.4.2
  package.json
  packages/icons/package.json
  packages/styles/package.json
  packages/web/package.json
  yarn.lock
Due: icons, styles, web

chore(release): publish v0.18.9 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

refactor: rename and rewrite license file
  LICENSE
  license.md
Due: none

refactor(web): remove tech roadmap
  packages/web/docs/roadmap.mdx
Due: web

chore(web): add `natds-react` dependency for future use
  packages/web/package.json
  yarn.lock
Due: web

chore(release): publish v0.18.10 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

fix(deps): update dependency @naturacosmeticos/natds-react to ^0.11.0
  packages/web/package.json
  yarn.lock
Due: web

chore(release): publish v0.18.11 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(deps): update dependency eslint-plugin-react-hooks to v4.1.0
  packages/web/package.json
  yarn.lock
Due: web

chore(release): publish v0.18.12 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

fix(deps): update dependency @naturacosmeticos/natds-react to ^0.12.0
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency @rollup/plugin-babel to v5.2.0
  packages/web/package.json
  yarn.lock
Due: web

Path conditions:
  icons: any of: packages/icons
  styles: any of: packages/styles
  web: any of: packages/web
