Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: icons, styles, web

codecov.yml:

coverage:
  status:
    project:
      default: off
      icons:
        target: auto
        flags:
          - icons
      styles:
        target: auto
        flags:
          - styles
      web:
        target: auto
        flags:
          - web
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
flags:
  icons:
    paths:
      - packages/icons
    carryforward: false
  styles:
    paths:
      - packages/styles
    carryforward: false
  web:
    paths:
      - packages/web
    carryforward: false

docs(button sizes token): add jsdoc todo
  packages/styles/src/tokens/buttonSizes/index.ts
Due: styles

docs(styles): add deprecation message for `colorTokens` and `colors`
  packages/styles/src/tokens.ts
Due: styles

feat(typography token): integrate theme-bound typography with `natds-themes` [DSY-1462]
  packages/styles/src/themes/avon/typography.ts
  packages/styles/src/themes/natura/typography.ts
  packages/styles/src/themes/theBodyShop/typography.ts
Due: styles

test(styles): update test snapshots [DSY-1462]
  packages/styles/src/__tests__/themes/avon/__snapshots__/avon.spec.ts.snap
  packages/styles/src/__tests__/themes/bodyShop/__snapshots__/theBodyShop.spec.ts.snap
  packages/styles/src/__tests__/themes/natura/__snapshots__/natura.spec.ts.snap
  packages/styles/src/__tests__/tokens/__snapshots__/tokens.spec.ts.snap
Due: styles

style(web): replace `require` by `import` to prevent eslint error
  packages/web/config/test/setupEnzyme.ts
Due: web

docs(web): prevent importing warnings on setupChai.ts file
  packages/web/config/test/setupChai.ts
Due: web

test(toolbar): prevent type error on tests with `variant` prop
  packages/web/src/Components/Toolbar/Toolbar.test.tsx
Due: web

test(web): update legacy component snapshots [DSY-1462]
  packages/web/src/Components/Intro/__snapshots__/index.test.tsx.snap
  packages/web/src/__tests__/__snapshots__/Breadcrumbs.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/ContextualBadge.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/DrawerHeader.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/DrawerMenu.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Link.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Popover.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TextField.spec.tsx.snap
  packages/web/src/__tests__/themes/natura/__snapshots__/natura.spec.tsx.snap
Due: web

chore(release): publish v0.20.0-alpha.DSY-1462.6002.0 via lerna [skip ci]
  lerna.json
  packages/icons/package.json
  packages/styles/package.json
  packages/web/package.json
Due: icons, styles, web

chore(release): publish v0.19.2-alpha.DSY-1462.6003.0 via lerna [skip ci]
  lerna.json
  packages/icons/package.json
  packages/styles/package.json
  packages/web/package.json
Due: icons, styles, web

chore(eslint): ignore example app folder
  .eslintignore
Due: none

chore(dependabot): add example app folder to config
  .github/dependabot.yml
Due: none

chore(gitignore): ignore node_modules and storybook static files
  .gitignore
Due: none

chore(typo-ci): add support to filenames spellcheck
  .typo-ci.yml
Due: none

chore(lerna): add `examples/*` folders to config
  lerna.json
Due: none

feat(examples/create-react-app): add react example app
  examples/create-react-app-with-typescript/.env
  examples/create-react-app-with-typescript/.gitignore
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app-with-typescript/public/index.html
  examples/create-react-app-with-typescript/src/App/index.tsx
  examples/create-react-app-with-typescript/src/index.tsx
  examples/create-react-app-with-typescript/src/react-app-env.d.ts
  examples/create-react-app-with-typescript/tsconfig.json
  examples/create-react-app/.env
  examples/create-react-app/.eslintrc
  examples/create-react-app/.gitignore
  examples/create-react-app/README.md
  examples/create-react-app/__mocks__/styleMock.js
  examples/create-react-app/babel.config.js
  examples/create-react-app/jest.config.js
  examples/create-react-app/package.json
  examples/create-react-app/public/index.html
  examples/create-react-app/src/App/__snapshots__/index.test.js.snap
  examples/create-react-app/src/App/index.js
  examples/create-react-app/src/App/index.test.js
  examples/create-react-app/src/index.js
Due: none

chore(dependabot): add `create-react-app-with-typescript` to config
  .github/dependabot.yml
Due: none

chore(deps): add `eslint-plugin-react-hooks` dependency
  package.json
  yarn.lock
Due: none

chore(renovate): add `examples/create-react-app-*` to `renovate.json`
  renovate.json
Due: none

docs(storybook): organize example, contributor and utilities stories
  packages/web/.storybook/main.js
Due: web

chore(jest): rearrange `collectCoverageFrom` config
  packages/web/jest.config.js
Due: web

docs(avatar): add todo jsdoc
  packages/web/src/Components/Avatar/Avatar.props.ts
Due: web

fix(badge): prevent TypeScript errors on colors, overlaps and variants fixtures
  packages/web/src/Components/Badge/__fixtures__/colors.ts
  packages/web/src/Components/Badge/__fixtures__/overlaps.ts
  packages/web/src/Components/Badge/__fixtures__/variants.ts
Due: web

feat(button): add type support for `fullWidth` property
  packages/web/src/Components/Button/Button.props.ts
Due: web

refactor(container): rename IContainerProps to Container.props
  packages/web/src/Components/Container/Container.props.ts
  packages/web/src/Components/Container/Container.stories.mdx
  packages/web/src/Components/Container/Container.tsx
  packages/web/src/Components/Container/IContainerProps.ts
  packages/web/src/Components/Container/index.ts
Due: web

refactor(gridcontainer): rewrite GridContainer docs, stories and tests
  packages/web/src/Components/GridContainer.tsx
  packages/web/src/Components/GridContainer/GridContainer.argTypes.ts
  packages/web/src/Components/GridContainer/GridContainer.props.ts
  packages/web/src/Components/GridContainer/GridContainer.stories.tsx
  packages/web/src/Components/GridContainer/GridContainer.tsx
  packages/web/src/Components/GridContainer/Template.tsx
  packages/web/src/Components/GridContainer/index.ts
Due: web

refactor(grid item): rewrite GridItem docs, stories and tests
  packages/web/src/Components/GridItem.tsx
  packages/web/src/Components/GridItem/GridItem.argTypes.ts
  packages/web/src/Components/GridItem/GridItem.props.ts
  packages/web/src/Components/GridItem/GridItem.stories.tsx
  packages/web/src/Components/GridItem/GridItem.tsx
  packages/web/src/Components/GridItem/index.ts
Due: web

refactor(icon): add IconSize type, improve jsdoc for `name`
  packages/web/src/Components/Icon/Icon.props.ts
Due: web

docs(css baseline): change section name to "Utilities"
  packages/web/src/Components/CssBaseline/CssBaseline.stories.mdx
Due: web

feat(image): add `Image` component [DSY-1184]
  packages/web/src/Components/Image/Image.argTypes.ts
  packages/web/src/Components/Image/Image.props.ts
  packages/web/src/Components/Image/Image.stories.tsx
  packages/web/src/Components/Image/Image.styles.ts
  packages/web/src/Components/Image/Image.test.tsx
  packages/web/src/Components/Image/Image.tsx
  packages/web/src/Components/Image/__snapshots__/Image.test.tsx.snap
  packages/web/src/Components/Image/index.ts
Due: web

refactor(paper): rewrite Paper component, stories and tests
  packages/web/src/Components/Paper.tsx
  packages/web/src/Components/Paper/Paper.argTypes.ts
  packages/web/src/Components/Paper/Paper.props.ts
  packages/web/src/Components/Paper/Paper.stories.tsx
  packages/web/src/Components/Paper/Paper.tsx
  packages/web/src/Components/Paper/__fixtures__/variants.ts
  packages/web/src/Components/Paper/index.ts
Due: web

refactor: rename README.mdx to README.md
  packages/web/src/Components/README.md
Due: web

docs(scoped css baseline): change story title
  packages/web/src/Components/ScopedCssBaseline/README.md
  packages/web/src/Components/ScopedCssBaseline/ScopedCssBaseline.stories.mdx
Due: web

refactor(web): rewrite and add shared functions
  packages/web/src/Components/shared/SizeArgType.ts
  packages/web/src/Components/shared/SizeProp.ts
  packages/web/src/Components/shared/__snapshots__/sizePropArgType.test.ts.snap
  packages/web/src/Components/shared/__snapshots__/spacingPropArgType.test.ts.snap
  packages/web/src/Components/shared/getDefaultTheme.test.ts
  packages/web/src/Components/shared/getDefaultTheme.ts
  packages/web/src/Components/shared/getSizeFromProp.test.ts
  packages/web/src/Components/shared/getSizeFromProp.ts
  packages/web/src/Components/shared/index.test.ts
  packages/web/src/Components/shared/index.ts
  packages/web/src/Components/shared/sizePropArgType.test.ts
  packages/web/src/Components/shared/sizePropArgType.ts
  packages/web/src/Components/shared/spacingPropArgType.test.ts
  packages/web/src/Components/shared/spacingPropArgType.ts
Due: web

feat(skeleton): add support to `auto` and numeric values for `height` and `width` properties
  packages/web/src/Components/Skeleton/ISkeletonProps.ts
  packages/web/src/Components/Skeleton/Skeleton.argTypes.ts
  packages/web/src/Components/Skeleton/Skeleton.props.ts
  packages/web/src/Components/Skeleton/Skeleton.stories.tsx
  packages/web/src/Components/Skeleton/Skeleton.tsx
  packages/web/src/Components/Skeleton/__snapshots__/Skeleton.stories.test.tsx.snap
  packages/web/src/Components/Skeleton/__snapshots__/Skeleton.test.tsx.snap
  packages/web/src/Components/Skeleton/index.ts
Due: web

feat(spacing): add support to `auto` and numeric values for `height` and `width` properties
  packages/web/src/Components/Spacing/Spacing.argTypes.ts
  packages/web/src/Components/Spacing/Spacing.margin.props.ts
  packages/web/src/Components/Spacing/Spacing.margin.stories.tsx
  packages/web/src/Components/Spacing/Spacing.padding.props.ts
  packages/web/src/Components/Spacing/Spacing.padding.stories.tsx
  packages/web/src/Components/Spacing/Spacing.props.ts
  packages/web/src/Components/Spacing/Spacing.stories.meta.ts
  packages/web/src/Components/Spacing/Spacing.stories.tsx
  packages/web/src/Components/Spacing/Spacing.styles.ts
  packages/web/src/Components/Spacing/Spacing.tsx
  packages/web/src/Components/Spacing/Template.tsx
  packages/web/src/Components/Spacing/__snapshots__/Spacing.test.tsx.snap
Due: web

fix(toolbar): prevent TypeScript error on story
  packages/web/src/Components/Toolbar/Toolbar.stories.tsx
Due: web

test(typography): refactor tests
  packages/web/src/Components/Typography/Typography.stories.test.tsx
Due: web

test(typography): update test snapshots
  packages/web/src/Components/Typography/__snapshots__/Typography.stories.test.tsx.snap
Due: web

refactor(icon): prevent any type error
  packages/web/src/Components/Icon/Icon.tsx
Due: web
