Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: icons, styles, web

chore: adds release-npm step
  .cicd/release-npm.sh
Due: none

chore: adds validation branch to release
  .cicd/release-npm.sh
Due: none

chore: removes echo build_number from build-storybook.sh
  .cicd/build-storybook.sh
Due: none

chore: test build_number
  .cicd/build-storybook.sh
Due: none

chore: change folder name to be branch name on build-storybook
  .cicd/build-storybook.sh
Due: none

chore: change npm auth config
  .cicd/release-npm.sh
Due: none

chore(release): publish v1.0.1-alpha.DSY-1706.33.0 via lerna [skip ci]
  lerna.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

chore(release): publish v1.0.1-alpha.DSY-1706.34.0 via lerna [skip ci]
  lerna.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

chore: adds ci skip
  lerna.json
Due: none

chore(release): publish v1.0.1-alpha.DSY-1706.36.0 via lerna [ci skip]
  lerna.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

docs: updates CONTRIBUTING.pt-br.md
  CONTRIBUTING.pt-br.md
Due: none

docs: rewrite CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

chore: refactoring pipeline scripts
  .cicd/build-storybook.sh
  .cicd/configure-git.sh
  .cicd/get-branch-name.sh
  .cicd/quality-check.sh
  .cicd/release-npm.sh
  .cicd/setup.sh
  .cicd/unit-test.sh
Due: none

chore: add build-storybook
  .cicd/build-storybook.sh
Due: none

chore(release): publish v1.0.1-alpha.DSY-1706.40.0 via lerna [ci skip]
  lerna.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

chore(release): publish v1.0.1-alpha.DSY-1706.42.0 via lerna [ci skip]
  lerna.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

chore(release): publish v1.0.1-alpha.DSY-1706.43.0 via lerna [ci skip]
  lerna.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

chore: test [skip ci] [ci skip]
  README.md
Due: none

chore: test jenkins plugin [skip ci]
  README.md
Due: none

chore: test pipeline trigger this should run
  README.md
Due: none

chore(release): publish v1.0.1-alpha.DSY-1706.45.0 via lerna [ci skip]
  lerna.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

docs(web): updates import from natds-icons on README
  packages/web/README.md
Due: web

docs: fix broken link
  README.md
Due: none

docs: updates storybook link
  .github/ISSUE_TEMPLATE/bug_report.md
  packages/styles/README.md
Due: styles

chore: fix typos
  CONTRIBUTING.md
Due: none

chore: adds cicd word to typo-ci list
  .typo-ci.yml
Due: none

chore: removes skip netlify from renovate.json
  renovate.json
Due: none

chore: add styleguidist config [skip ci]
  .gitignore
  package.json
  styleguide.config.js
  yarn.lock
Due: none

chore: add md docs
  .cicd/build-storybook.sh
  .gitignore
  CONTRIBUTING.md
  package.json
  styleguide.config.js
Due: none

chore: add pipeline log
  .cicd/configure-git.sh
Due: none

chore: remove pipeline log
  .cicd/configure-git.sh
Due: none

chore: change packages config
  lerna.json
  package.json
Due: none

fix(textField): adds correct boxShadow to Success/Error state
  packages/web/src/Components/Input/Input.styles.ts
Due: web

Path conditions:
  icons: any of: packages/icons
  styles: any of: packages/styles
  web: any of: packages/web
