Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: icons, styles, web

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(release): publish v0.17.11 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(release): publish v0.17.12 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(deps): update dependency netlify to v4.3.11
  package.json
  yarn.lock
Due: none

chore(release): publish v0.17.13 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(release): publish v0.17.14 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(deps): update jest monorepo to v26.3.0
  package.json
  packages/icons/package.json
  packages/styles/package.json
  packages/web/package.json
  yarn.lock
Due: icons, styles, web

chore(release): publish v0.17.15 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(release): publish v0.17.16 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(deps): update typescript-eslint monorepo to v3.9.0
  package.json
  yarn.lock
Due: none

chore(release): publish v0.17.17 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

refactor(web): remove unused PickersUtilProvider
  packages/web/src/Components/PickersUtilProvider.tsx
  packages/web/src/Components/index.test.tsx
  packages/web/src/index.ts
Due: web

style(storybook): remove unused code and smelly comments
  packages/web/.storybook/webpack.config.js
Due: web

chore(deps): add/upgrade/remove dependencies
  package.json
  packages/icons/package.json
  packages/web/package.json
  yarn.lock
Due: icons, web

chore: don't format code on pre-push hook
  package.json
Due: none

chore: run only one command on pre-push
  package.json
Due: none

chore: add support to eslint cache on linting
  package.json
Due: none

chore: specify file extensions for eslint
  package.json
Due: none

perf: avoid linting of ignored/generated files
  .eslintignore
Due: none

chore(release): publish v0.17.18 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(storybook): always build with --quiet [skip ci]
  packages/web/package.json
Due: web

chore(deps): pin dependencies
  package.json
  yarn.lock
Due: none

chore(release): publish v0.17.19 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

docs: update security badge [skip ci]
  packages/web/README.md
Due: web

refactor(formcontrol): move to own folder
  packages/web/src/Components/FormControl/__snapshots__/index.test.tsx.snap
  packages/web/src/Components/FormControl/index.test.tsx
  packages/web/src/Components/FormControl/index.tsx
Due: web

style(select): format with eslint
  packages/web/src/Components/Select/index.tsx
Due: web

test(select): adopt react-test-renderer and move to own folder
  packages/web/src/Components/Select/__snapshots__/index.spec.tsx.snap
  packages/web/src/Components/Select/index.spec.tsx
Due: web

docs(select): add storybook/readme file
  packages/web/src/Components/Select/README.mdx
Due: web

test(select): update test snapshot
  packages/web/src/Components/Select/__snapshots__/index.spec.tsx.snap
Due: web

chore(release): publish v0.18.0-alpha.DSY-510.4524.0 via lerna [skip ci]
  lerna.json
  packages/icons/package.json
  packages/styles/package.json
  packages/web/package.json
Due: icons, styles, web

Path conditions:
  icons: any of: packages/icons
  styles: any of: packages/styles
  web: any of: packages/web
