Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: icons, styles, web

codecov.yml:

coverage:
  status:
    project:
      default: off
      icons:
        target: auto
        flags:
          - icons
      styles:
        target: auto
        flags:
          - styles
      web:
        target: auto
        flags:
          - web
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
flags:
  icons:
    paths:
      - packages/icons
    carryforward: false
  styles:
    paths:
      - packages/styles
    carryforward: false
  web:
    paths:
      - packages/web
    carryforward: false

chore(release): publish v0.17.20 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(deps): update dependency ts-jest to v26.2.0
  packages/styles/package.json
  packages/web/package.json
  yarn.lock
Due: styles, web

chore(release): publish v0.17.21 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(deps): update dependency sinon to v9.0.3
  packages/web/package.json
  yarn.lock
Due: web

chore(release): publish v0.17.22 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(deps): update storybook monorepo to v6
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): remove unused, add missing @types and peer deps
  packages/web/package.json
  yarn.lock
Due: web

style(skeleton): update imports strategy
  packages/web/src/Components/Skeleton/ISkeletonProps.ts
  packages/web/src/Components/Skeleton/index.tsx
Due: web

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(release): publish v0.17.23 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(deps): add @types dependencies, remove unused style-loader
  packages/web/package.json
  yarn.lock
Due: web

fix(fab): remove type errors and theme property pollution
  packages/web/src/Components/Fab/Fab.spec.tsx
  packages/web/src/Components/Fab/Fab.styles.ts
  packages/web/src/Components/Fab/Fab.tsx
  packages/web/src/Components/Fab/IFabProps.tsx
  packages/web/src/Components/Fab/__snapshots__/Fab.spec.tsx.snap
  packages/web/src/Components/Fab/index.tsx
  packages/web/src/__tests__/__snapshots__/Fab.spec.tsx.snap
Due: web

docs(fab): bring back Fab stories
  packages/web/src/Components/Fab/README.mdx
  packages/web/src/Components/Fab/index.story.tsx
  packages/web/src/Components/Fab/stories.tsx
Due: web

chore: exit when eslint warnings or errors are found
  package.json
Due: none

style(fab): remove eslint errors and warnings
  packages/web/src/Components/Fab/Fab.styles.ts
  packages/web/src/Components/Fab/index.story.tsx
Due: web

chore(jest): add support to *.{spec,test}.ts files
  packages/web/jest.config.js
Due: web

feat(fab): fully refactored component
  packages/web/src/Components/Fab/Fab.spec.tsx
  packages/web/src/Components/Fab/Fab.tsx
  packages/web/src/Components/Fab/__snapshots__/Fab.spec.tsx.snap
  packages/web/src/Components/Fab/getColorProp.test.ts
  packages/web/src/Components/Fab/getColorProp.ts
Due: web

test(snackbar content): remove type error on test
  packages/web/src/Components/SnackbarContent.tsx
  packages/web/src/__tests__/SnackbarContent.spec.tsx
Due: web

refactor(typography): create own folder for component
  packages/web/src/Components/Typography/ITypographyProps.ts
  packages/web/src/Components/Typography/Typography.test.tsx
  packages/web/src/Components/Typography/Typography.tsx
  packages/web/src/Components/Typography/index.ts
Due: web

refactor(elevation): refactor elevation token
  packages/styles/src/tokens/elevation/index.ts
Due: styles

refactor(fab): rename main file from tsx to ts
  packages/web/src/Components/Fab/index.ts
Due: web

test(fab): rename test file
  packages/web/src/Components/Fab/Fab.test.tsx
  packages/web/src/Components/Fab/__snapshots__/Fab.test.tsx.snap
Due: web

chore(web): prepare jest config file for storybook tests
  packages/web/jest.config.js
Due: web

refactor(fab): refactor fab styles
  packages/web/src/Components/Fab/Fab.styles.ts
Due: web

docs(fab): add missing stories
  packages/web/src/Components/Fab/__snapshots__/stories.test.tsx.snap
  packages/web/src/Components/Fab/stories.test.tsx
Due: web

fix(typography): prevent error when using TypographyColor type
  packages/web/src/Components/Typography/ITypographyProps.ts
  packages/web/src/Components/Typography/Typography.tsx
  packages/web/src/Components/Typography/index.ts
  packages/web/src/__tests__/Typography.spec.tsx
Due: web

feat(tooltip): fully refactored component
  packages/web/src/Components/Tooltip.tsx
  packages/web/src/Components/Tooltip/ITooltipProps.ts
  packages/web/src/Components/Tooltip/Tooltip.test.tsx
  packages/web/src/Components/Tooltip/Tooltip.tsx
  packages/web/src/Components/Tooltip/__snapshots__/Tooltip.test.tsx.snap
  packages/web/src/Components/Tooltip/index.ts
  packages/web/src/__tests__/__snapshots__/Tooltip.spec.tsx.snap
Due: web

refactor(web): remove unused IPlacements interface
  packages/web/src/Components/types/IPlacements.ts
Due: web

chore(deps): add prop-types and missing storybook deps
  packages/web/package.json
  yarn.lock
Due: web

style: don't ignore storybook folder when linting
  .eslintignore
Due: none

test(web): update snapshots for 6 components
  packages/web/src/Components/Intro/__snapshots__/index.test.tsx.snap
  packages/web/src/__tests__/Icon/__snapshots__/index.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Avatar.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/DrawerHeader.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Popover.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TextField.spec.tsx.snap
  packages/web/src/__tests__/themes/natura/__snapshots__/natura.spec.tsx.snap
Due: web

test(styles): update snapshots for themes
  packages/styles/src/__tests__/themes/avon/__snapshots__/avon.spec.ts.snap
  packages/styles/src/__tests__/themes/bodyShop/__snapshots__/theBodyShop.spec.ts.snap
  packages/styles/src/__tests__/themes/natura/__snapshots__/natura.spec.ts.snap
  packages/styles/src/__tests__/tokens/__snapshots__/tokens.spec.ts.snap
Due: styles

fix(storybook): prevent `import/no-named-as-default` warning
  packages/web/.storybook/addons/theme/register.js
Due: web

chore(release): publish v0.18.0 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web
