Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: icons, styles, web

chore(deps): update styled-components dependencies
  packages/web/package.json
  yarn.lock
Due: web

style(commitlint config): adopt eslint object-curly-spacing rule
  commitlint.config.js
Due: none

style(eslint): adopt `object-curly-spacing` rule
  .eslintrc.js
Due: none

feat(icons): add paymentlink icons
  packages/icons/src/assets/cleaned/filled-finance-paymentlink.svg
  packages/icons/src/assets/cleaned/outlined-finance-paymentlink.svg
  packages/icons/src/assets/raw/filled/filled-finance-paymentlink.svg
  packages/icons/src/assets/raw/outlined/outlined-finance-paymentlink.svg
  packages/icons/src/fonts/natds-icons.eot
  packages/icons/src/fonts/natds-icons.svg
  packages/icons/src/fonts/natds-icons.ttf
  packages/icons/src/fonts/natds-icons.woff
  packages/icons/src/fonts/natds-icons.woff2
  packages/icons/src/natds-icons.css
  packages/icons/src/natds-icons.css.d.ts
  packages/icons/src/natds-icons.json
  packages/icons/src/natds-icons.swift
Due: icons

style: apply eslint rules to helper script
  scripts/helpers/addVersionOnConfig.js
Due: none

docs: add contributing instructions for Portuguese (Brazil) version
  CONTRIBUTING.pt-br.md
Due: none

chore(eslint): update eslint rules
  .eslintignore
Due: none

chore(deps): update `jest-styled-components` to 7.0.3
  packages/web/package.json
  packages/web/src/__tests__/__snapshots__/TextField.spec.tsx.snap
  yarn.lock
Due: web

style(jest config): adopt `object-curly-spacing` rule
  jest.config.js
Due: none

style(icons): format jest config file with `object-curly-spacing` rule
  packages/icons/jest.config.js
Due: icons

chore(deps): add, upgrade and resolve dependencies
  package.json
Due: none

docs(styles): add deprecation and todo jsdocs to radius token [DSY-1461]
  packages/styles/src/tokens/radius/index.ts
Due: styles

feat(styles): integrate sizes with `natds-themes` [DSY-1461]
  packages/styles/src/tokens/sizes/deprecatedSizes.ts
  packages/styles/src/tokens/sizes/index.ts
Due: styles

refactor(style): remove unused `tslint` config file [DSY-1461]
  packages/styles/tslint.json
Due: styles

refactor(styles): extract IAvatarProperties to another file [DSY-1461]
  packages/styles/src/tokens/avatarSizes/IAvatarProperties.ts
  packages/styles/src/tokens/avatarSizes/IAvatarSizes.ts
Due: styles

feat(styles): add size tokens types with uppercase X suffix, deprecate lowercase ones [DSY-1461]
  packages/styles/src/tokens/sizes/IDeprecatedSizes.ts
  packages/styles/src/tokens/sizes/ISizes.ts
Due: styles

feat(styles): integrate spacing tokens with `natds-themes` [DSY-1461]
  packages/styles/src/tokens/spacing/index.ts
Due: styles

feat(styles): make IAvatarProperties publicly consumable [DSY-1461]
  packages/styles/src/index.ts
Due: styles

style(styles): format jest config with `object-curly-spacing` rule
  packages/styles/jest.config.js
Due: styles

style(styles): sort TypeScript config file keys by alpha order [DSY-1461]
  packages/styles/tsconfig.json
Due: styles

feat(styles): add new icon sizes token types with X suffix, deprecate lowercase ones [DSY-1461]
  packages/styles/src/tokens/iconSizes/IDeprecatedIconSizes.ts
  packages/styles/src/tokens/iconSizes/IIconSizes.ts
Due: styles

chore(styles): add `natds-themes` as dependency [DSY-1461]
  packages/styles/package.json
Due: styles

docs(styles): add todo jsdoc to overlay tokens [DSY-1461]
  packages/styles/src/tokens/overlay/index.ts
Due: styles

chore(styles): deprecate opacity number tokens [DSY-1461]
  packages/styles/src/tokens/opacity/index.ts
Due: styles

chore(web): ignore dist/ and docs/dist/ folders
  packages/web/.gitignore
Due: web

chore(icons): upgrade author info on package manifest
  packages/icons/package.json
Due: icons

feat(styles): integrate Natura Light border radius with `natds-themes` [DSY-1461]
  packages/styles/src/themes/natura/natura-light.ts
Due: styles

feat(styles): integrate avatar sizes tokens with `natds-themes` [DSY-1461]
  packages/styles/src/tokens/avatarSizes/index.ts
Due: styles

style(styles): order IButtonProperties keys by alpha [DSY-1461]
  packages/styles/src/tokens/buttonSizes/IButtonSizes.ts
Due: styles

test(styles): update snapshots for tokens and themes [DSY-1461]
  packages/styles/src/__tests__/themes/avon/__snapshots__/avon.spec.ts.snap
  packages/styles/src/__tests__/themes/bodyShop/__snapshots__/theBodyShop.spec.ts.snap
  packages/styles/src/__tests__/themes/natura/__snapshots__/natura.spec.ts.snap
  packages/styles/src/__tests__/tokens/__snapshots__/tokens.spec.ts.snap
Due: styles

feat(styles): integrate icon sizes with `natds-themes` [DSY-1461]
  packages/styles/src/tokens/iconSizes/index.ts
Due: styles

docs(styles): deprecate direct use of Natura colors [DSY-1461]
  packages/styles/src/tokens/colors/natura/index.ts
Due: styles

docs(styles): deprecate font size tokens [DSY-1461]
  packages/styles/src/tokens/fontSize/index.ts
Due: styles

feat(styles): integrate button sizes tokens with `natds-themes` [DSY-1461]
  packages/styles/src/tokens/buttonSizes/index.ts
Due: styles

chore(deps): fix conflict
  packages/web/package.json
Due: web

chore(deps): update lock file
  yarn.lock
Due: none

perf(storybook): optimize Storybook loading with splitChunks
  packages/web/.storybook/webpack.config.js
Due: web

test(cssbaseline): add own jest config
  packages/web/src/Components/CssBaseline/jest.config.js
Due: web

fix(avatar): prevent TypeScript errors when importing JPG and PNG files [DSY-798]
  packages/web/declaration.d.ts
  packages/web/globals.d.ts
Due: web

Path conditions:
  icons: any of: packages/icons
  styles: any of: packages/styles
  web: any of: packages/web
