Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: icons, styles, web

codecov.yml:

coverage:
  status:
    project:
      default: off
      icons:
        target: auto
        flags:
          - icons
      styles:
        target: auto
        flags:
          - styles
      web:
        target: auto
        flags:
          - web
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
flags:
  icons:
    paths:
      - packages/icons
    carryforward: false
  styles:
    paths:
      - packages/styles
    carryforward: false
  web:
    paths:
      - packages/web
    carryforward: false

chore(release): publish v0.21.18 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/mdx-deck/CHANGELOG.md
  examples/mdx-deck/package.json
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(deps): update dependency eslint-plugin-react-hooks to v4.1.2
  packages/web/package.json
  yarn.lock
Due: web

chore(release): publish v0.21.19 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/mdx-deck/CHANGELOG.md
  examples/mdx-deck/package.json
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(release): publish v0.21.20 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/mdx-deck/CHANGELOG.md
  examples/mdx-deck/package.json
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(deps): update dependency @types/enzyme to v3.10.7
  packages/web/package.json
  yarn.lock
Due: web

chore(release): publish v0.21.21 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/mdx-deck/CHANGELOG.md
  examples/mdx-deck/package.json
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(release): publish v0.21.22 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/mdx-deck/CHANGELOG.md
  examples/mdx-deck/package.json
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(deps): update dependency prettier to v2.1.2
  packages/web/package.json
  yarn.lock
Due: web

chore(release): publish v0.21.23 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/mdx-deck/CHANGELOG.md
  examples/mdx-deck/package.json
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(release): publish v0.21.24 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/mdx-deck/CHANGELOG.md
  examples/mdx-deck/package.json
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(deps): update dependency @typescript-eslint/parser to v4
  package.json
  yarn.lock
Due: none

chore(release): publish v0.21.25 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/mdx-deck/CHANGELOG.md
  examples/mdx-deck/package.json
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(deps): update dependency enzyme-adapter-react-16 to v1.15.5
  packages/web/package.json
  yarn.lock
Due: web

chore(release): publish v0.21.26 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/mdx-deck/CHANGELOG.md
  examples/mdx-deck/package.json
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(deps): update typescript-eslint monorepo to v4.4.0
  package.json
  yarn.lock
Due: none

chore(release): publish v0.21.27 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/mdx-deck/CHANGELOG.md
  examples/mdx-deck/package.json
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(release): publish v0.21.28 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/mdx-deck/CHANGELOG.md
  examples/mdx-deck/package.json
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(deps): update dependency @types/chai to v4.2.13
  packages/web/package.json
  yarn.lock
Due: web

chore(release): publish v0.21.29 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/mdx-deck/CHANGELOG.md
  examples/mdx-deck/package.json
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(release): publish v0.21.30 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/mdx-deck/CHANGELOG.md
  examples/mdx-deck/package.json
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(deps): update dependency @types/jest to v26.0.14
  packages/web/package.json
  yarn.lock
Due: web

chore(release): publish v0.21.31 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/mdx-deck/CHANGELOG.md
  examples/mdx-deck/package.json
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(deps): update dependency sass to v1.26.12
  packages/styles/package.json
  yarn.lock
Due: styles

chore(deps): update dependency @types/sinon to v9.0.8
  packages/web/package.json
  yarn.lock
Due: web

chore(release): publish v0.21.32 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/mdx-deck/CHANGELOG.md
  examples/mdx-deck/package.json
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(release): publish v0.21.33 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/mdx-deck/CHANGELOG.md
  examples/mdx-deck/package.json
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(release): publish v0.21.34 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/mdx-deck/CHANGELOG.md
  examples/mdx-deck/package.json
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(deps): update commitlint monorepo to v11
  package.json
  yarn.lock
Due: none

chore(release): publish v0.21.35 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/mdx-deck/CHANGELOG.md
  examples/mdx-deck/package.json
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(deps): update dependency eslint-plugin-react to v7.21.3
  package.json
  yarn.lock
Due: none

chore(release): publish v0.21.36 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/mdx-deck/CHANGELOG.md
  examples/mdx-deck/package.json
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(release): publish v0.21.37 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/mdx-deck/CHANGELOG.md
  examples/mdx-deck/package.json
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(deps): update dependency netlify to v4.7.0
  package.json
  yarn.lock
Due: none

chore(release): publish v0.21.38 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/mdx-deck/CHANGELOG.md
  examples/mdx-deck/package.json
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

feat(examples/gatsby): add gatsby example project
  examples/gatsby/.gitignore
  examples/gatsby/README.md
  examples/gatsby/gatsby-config.js
  examples/gatsby/package.json
  examples/gatsby/src/components/BenefitCard/index.tsx
  examples/gatsby/src/components/BenefitCards/index.tsx
  examples/gatsby/src/components/BenefitsSection/index.tsx
  examples/gatsby/src/components/CallToAction/index.tsx
  examples/gatsby/src/components/CopyrightText/index.tsx
  examples/gatsby/src/components/EarningsProductList/index.tsx
  examples/gatsby/src/components/EarningsProducts/index.tsx
  examples/gatsby/src/components/EarningsProfits/index.tsx
  examples/gatsby/src/components/EarningsSalesChips/index.tsx
  examples/gatsby/src/components/EarningsSection/index.tsx
  examples/gatsby/src/components/Footer/index.tsx
  examples/gatsby/src/components/FooterMenu/index.tsx
  examples/gatsby/src/components/FooterPhones/index.tsx
  examples/gatsby/src/components/Header/index.tsx
  examples/gatsby/src/components/HeaderNavigation/index.tsx
  examples/gatsby/src/components/HelpFaq/index.tsx
  examples/gatsby/src/components/HelpFaqItem/index.tsx
  examples/gatsby/src/components/HelpSection/index.tsx
  examples/gatsby/src/components/Hero/index.tsx
  examples/gatsby/src/components/HeroCard/index.tsx
  examples/gatsby/src/components/HeroImage/index.tsx
  examples/gatsby/src/components/OurCausesCards/index.tsx
  examples/gatsby/src/components/OurCausesSection/index.tsx
  examples/gatsby/src/components/Section/index.tsx
  examples/gatsby/src/layouts/index.tsx
  examples/gatsby/src/pages/index.tsx
  examples/gatsby/yarn.lock
Due: none

chore: ignore icons on publishing
  lerna.json
Due: none

chore(release): publish v0.21.39 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/mdx-deck/CHANGELOG.md
  examples/mdx-deck/package.json
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore: don't publish `natds-icons` [DSY-1519]
  package.json
Due: none

chore(release): publish v0.21.40-alpha.DSY-1519.7937.0 via lerna [skip ci]
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/package.json
  lerna.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

chore(.gitignore): ignore gatsby public folder
  .gitignore
Due: none
