Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: icons, styles, web

codecov.yml:

coverage:
  status:
    project:
      default: off
      icons:
        target: auto
        flags:
          - icons
      styles:
        target: auto
        flags:
          - styles
      web:
        target: auto
        flags:
          - web
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
flags:
  icons:
    paths:
      - packages/icons
    carryforward: false
  styles:
    paths:
      - packages/styles
    carryforward: false
  web:
    paths:
      - packages/web
    carryforward: false

fix(deps): update dependency styled-components to v5
  packages/web/package.json
  yarn.lock
Due: web

fix(web): update component snapshots
  packages/web/src/__tests__/__snapshots__/Chip.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/ContextualBadge.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/DatePicker.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/DrawerBody.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/DrawerFooter.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/DrawerHeader.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/DrawerMenu.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Icon.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Intro.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/KeyboardDatePicker.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/List.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Popover.spec.tsx.snap
Due: web

chore(release): publish v1.0.0-alpha.DSY-1147.0 via lerna [skip ci]
  lerna.json
  packages/docs/package.json
  packages/icons/package.json
  packages/styles/package.json
  packages/web/package.json
Due: icons, styles, web

ci: don't push version bump commits for prereleases
  package.json
Due: none

chore(release): publish v0.8.3 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: web

chore(deps): update dependency jest to v26.1.0
  package.json
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency sass-loader to v9
  packages/docs/package.json
  yarn.lock
Due: none

chore(release): publish v0.8.4 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: web

chore(deps): update dependency sass to v1.26.10
  packages/styles/package.json
  yarn.lock
Due: styles

chore(release): publish v0.8.5 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, web

chore(release): publish v0.8.6 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: web

chore(deps): update dependency sass-loader to v9.0.2
  packages/docs/package.json
  yarn.lock
Due: none

chore(release): publish v0.8.7 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
Due: none

chore(deps): update dependency rollup to v2.21.0
  packages/icons/package.json
  packages/web/package.json
  yarn.lock
Due: icons, web

chore(release): publish v0.8.8 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, web

fix(deps): update dependency lodash to v4.17.17
  packages/web/package.json
  yarn.lock
Due: web

chore(web): add collectCoverageFrom to jest config
  packages/web/jest.config.js
Due: web

refactor(web): remove not-finished Alert and Select components
  packages/web/src/Components/Alert.tsx
  packages/web/src/Components/Select.tsx
  packages/web/src/__tests__/Alert.spec.tsx
  packages/web/src/__tests__/Select.spec.tsx
Due: web

refactor(web): sort exports by alphabetical order
  packages/web/src/index.ts
Due: web

feat(web): adopt makeStyles for Icon component styling
  packages/web/src/Components/Icon.tsx
  packages/web/src/Components/Icon/IIconProps.tsx
  packages/web/src/Components/Icon/getFontSize.ts
  packages/web/src/Components/Icon/index.tsx
  packages/web/src/Components/Icon/makeIconStyles.ts
  packages/web/src/__tests__/Icon/__snapshots__/index.spec.tsx.snap
  packages/web/src/__tests__/Icon/getFontSize.spec.tsx
  packages/web/src/__tests__/Icon/index.spec.tsx
  packages/web/src/__tests__/__snapshots__/Chip.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/ContextualBadge.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/DatePicker.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/DrawerMenu.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Intro.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/KeyboardDatePicker.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/List.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Popover.spec.tsx.snap
  packages/web/src/__tests__/index.spec.tsx
Due: web

chore(release): publish v0.8.9 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: web

fix(deps): update dependency lodash to v4.17.18
  packages/web/package.json
  yarn.lock
Due: web

chore(release): publish v0.8.10 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: web

fix(deps): update dependency lodash to v4.17.19
  packages/web/package.json
  yarn.lock
Due: web

chore(release): publish v0.8.11 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: web

chore(deps): update dependency ts-loader to v8
  packages/docs/package.json
  yarn.lock
Due: none

test(web): fix React import
  packages/web/src/__tests__/Dialog.spec.tsx
Due: web

chore(release): publish v0.8.12 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
Due: none

ci: always commit and push on lerna prerelease
  package.json
Due: none

chore(deps): update dependency typescript to v3.9.6
  packages/web/package.json
  yarn.lock
Due: web

chore(release): publish v0.9.0-alpha.DSY-1219.0 via lerna [skip ci]
  lerna.json
  packages/docs/package.json
  packages/icons/package.json
  packages/styles/package.json
  packages/web/package.json
Due: icons, styles, web

chore(deps): upgrade typescript dependency to 3.9.6
  packages/web/package.json
  yarn.lock
Due: web

chore: add lerna:graduate:version* scripts
  package.json
Due: none

chore(release): publish v0.9.0 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

ci: remove invalid --ci argument from storybook build
  scripts/build-storybook-prerelease.sh
  scripts/build-storybook.sh
Due: none

ci(docs): generate JSON output for jest before building Storybook
  scripts/build-storybook.sh
Due: none

Update versions_config.json
  packages/docs/dist/versions_config.json
Due: none

ci(docs): fix version suffix and output directory name
  scripts/build-storybook.sh
Due: none
