Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: icons, styles, web

codecov.yml:

coverage:
  status:
    project:
      default: off
      icons:
        target: auto
        flags:
          - icons
      styles:
        target: auto
        flags:
          - styles
      web:
        target: auto
        flags:
          - web
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
flags:
  icons:
    paths:
      - packages/icons
    carryforward: false
  styles:
    paths:
      - packages/styles
    carryforward: false
  web:
    paths:
      - packages/web
    carryforward: false

refactor(badge): prevent type errors on template story
  packages/web/src/Components/Badge/Template.tsx
Due: web

docs(app bar): rename Playground story to ToolbarPlayground
  packages/web/src/Components/AppBar/AppBar.stories.tsx
Due: web

fix(provider): prevent "missing children property" error
  packages/web/src/Provider/index.tsx
Due: web

refactor(themes): change const notation, remove type warnings
  packages/web/src/Themes/index.ts
Due: web

chore(image): add support to named exporting of Image
  packages/web/src/Components/index.test.tsx
  packages/web/src/index.ts
Due: web

chore(release): publish v0.20.0 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore: adds ISC license
  LICENSE
Due: none

Update license.md
  license.md
Due: none

chore(release): publish v0.20.1 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

docs: remove reference to `docs` [skip ci]
  CONTRIBUTING.pt-br.md
Due: none

fix(icons): remove border from `filled-content-channel` [DSY-1362]
  packages/icons/src/assets/raw/filled/filled-content-channel.svg
Due: icons

chore(gitignore): ignore coverage, build and dist folders
  .gitignore
  packages/styles/src/tokens/colors/natura/IComplementary.ts
  packages/styles/src/tokens/colors/natura/IGradient.ts
  packages/styles/src/tokens/colors/natura/IGrayscale.ts
  packages/styles/src/tokens/colors/natura/ILevel.ts
  packages/styles/src/tokens/colors/natura/IPrimary.ts
  packages/styles/src/tokens/colors/natura/ISecondary.ts
Due: styles

chore(gitignore): don't ignore tests with icons
  package.json
Due: none

refactor(icons): change npm scripts names [DSY-1362]
  packages/icons/package.json
Due: icons

fix(deps): upgrade `natds-themes` to 0.4.0 [DSY-1462]
  packages/styles/package.json
  yarn.lock
Due: styles

refactor(icons): reorder file extensions
  packages/icons/rollup.config.js
Due: icons

docs(themes): add deprecated jsdoc for Avon light theme
  packages/styles/src/themes/avon/avon-light.ts
Due: styles

refactor(icons): refactor types declaration file
  packages/icons/src/declaration.d.ts
  packages/icons/src/typings/declaration.d.ts
Due: icons

docs(themes): add deprecated jsdoc for Natura dark theme
  packages/styles/src/themes/natura/natura-dark.ts
Due: styles

fix(icons): prevent TypeScript errors, enable lib check
  packages/icons/tsconfig.json
Due: icons

docs(themes): add deprecated jsdoc for Avon light theme
  packages/styles/src/themes/natura/natura-light.ts
Due: styles

docs(themes): add deprecated jsdoc for Avon dark theme
  packages/styles/src/themes/avon/avon-dark.ts
Due: styles

docs(themes): add deprecated jsdoc for The Body Shop light theme
  packages/styles/src/themes/theBodyShop/the-body-shop-light.ts
Due: styles

docs(typography): add h2 example, rename stories
  packages/web/src/Components/Typography/Typography.stories.tsx
Due: web

test(toolbar): add missing Toolbar component properties import
  packages/web/src/Components/Toolbar/Toolbar.test.tsx
Due: web

docs(themes): add deprecated jsdoc for The Body Shop dark theme
  packages/styles/src/themes/theBodyShop/the-body-shop-dark.ts
Due: styles

fix(web): add support to `jest` and `react` types, skip lib check
  packages/web/tsconfig.json
Due: web

fix(styles): integrate Avon typography with `natds-themes` [DSY-1462]
  packages/styles/src/__tests__/themes/avon/__snapshots__/avon.spec.ts.snap
  packages/styles/src/themes/avon/typography.ts
Due: styles

fix(styles): integrate Natura typography with `natds-styles` [DSY-1462]
  packages/styles/src/__tests__/themes/natura/__snapshots__/natura.spec.ts.snap
  packages/styles/src/themes/natura/typography.ts
Due: styles

docs(button sizes): add todo jsdoc to token main file
  packages/styles/src/tokens/buttonSizes/index.ts
Due: styles

fix(styles): integrate The Body Shop typography with `natds-themes` [DSY-1462]
  packages/styles/src/__tests__/themes/bodyShop/__snapshots__/theBodyShop.spec.ts.snap
  packages/styles/src/themes/theBodyShop/typography.ts
Due: styles

docs(styles): add deprecated jsdoc to tokens.ts file
  packages/styles/src/tokens.ts
Due: styles

fix(text field): prevent TypeScript errors
  packages/web/src/Components/TextField/CustomIcon.tsx
  packages/web/src/Components/TextField/PasswordReveal.tsx
Due: web

fix(styles): integrate opacity tokens with `natds-themes` [DSY-1462]
  packages/styles/src/tokens/opacity/IOpacity.ts
  packages/styles/src/tokens/opacity/index.ts
Due: styles

fix(styles): integrate overlay token with `natds-themes` [DSY-1462]
  packages/styles/src/tokens/overlay/index.ts
Due: styles

fix(styles): integrate colors tokens with `natds-themes` [DSY-1462]
  packages/styles/src/__tests__/tokens/__snapshots__/tokens.spec.ts.snap
  packages/styles/src/tokens/colors/natura/IColorsNatura.ts
  packages/styles/src/tokens/colors/natura/index.ts
  packages/styles/src/tokens/colors/themeBound/IColorThemeTokens.ts
  packages/styles/src/tokens/colors/themeBound/avon/avon-dark.ts
  packages/styles/src/tokens/colors/themeBound/avon/avon-light.ts
  packages/styles/src/tokens/colors/themeBound/index.ts
  packages/styles/src/tokens/colors/themeBound/natura/natura-dark.ts
  packages/styles/src/tokens/colors/themeBound/natura/natura-light.ts
  packages/styles/src/tokens/colors/themeBound/theBodyShop/the-body-shop-dark.ts
  packages/styles/src/tokens/colors/themeBound/theBodyShop/the-body-shop-light.ts
Due: styles

fix(styles): integrate elevation tokens with `natds-themes`
  packages/styles/src/tokens/elevation/IElevation.ts
  packages/styles/src/tokens/elevation/index.ts
Due: styles

fix(styles): integrate fontSize tokens with `natds-themes` [DSY-1462]
  packages/styles/src/tokens/fontSize/IFont.ts
  packages/styles/src/tokens/fontSize/index.ts
Due: styles

fix(styles): integrate radius tokens with `natds-themes` [DSY-1462]
  packages/styles/src/tokens/radius/index.ts
Due: styles

fix(styles): integrate size tokens with `natds-themes` [DSY-1462]
  packages/styles/src/tokens/sizes/IDeprecatedSizes.ts
  packages/styles/src/tokens/sizes/ISizes.ts
  packages/styles/src/tokens/sizes/deprecatedSizes.ts
  packages/styles/src/tokens/sizes/index.ts
Due: styles
