Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: icons, styles, web

chore: don't run all tests on prepare
  package.json
Due: none

Revert "chore: don't run all tests on prepare"
  package.json
Due: none

chore: ignore node_modules from packages
  .gitignore
Due: none

fix(web): prevent interactive stories from being included in coverage
  packages/web/jest.config.js
Due: web

chore: prevent storybook-static folder to be commited
  .gitignore
Due: none

fix(Button): prevent "export was not found" warning
  packages/web/src/Components/Button.tsx
Due: web

fix(IconButton): prevent "export was not found" warning
  packages/web/src/Components/IconButton.tsx
Due: web

fix(Toolbar): prevent "export was not found" warning
  packages/web/src/Components/Toolbar.tsx
Due: web

chore(release): publish v0.18.0-alpha.DSY-1098.4413.0 via lerna [skip ci]
  lerna.json
  packages/icons/package.json
  packages/styles/package.json
  packages/web/package.json
Due: icons, styles, web

Revert "chore(release): publish v0.18.0-alpha.DSY-1098.4413.0 via lerna [skip ci]"
  lerna.json
  packages/icons/package.json
  packages/styles/package.json
  packages/web/package.json
Due: icons, styles, web

chore(deps): pin dependencies
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update babel monorepo
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency @types/jest to v26.0.9
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependencies
  package.json
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency @types/lodash to v4.14.159
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency css-loader to v4
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency eslint-plugin-mocha to v8
  package.json
  yarn.lock
Due: none

chore(release): publish v0.17.1 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

fix(storybook): prevent error when story component list is empty
  packages/web/.storybook/decorators/ComponentWithLabel/index.tsx
Due: web

chore(storybook): add type for story sections
  packages/web/src/Components/types/IStorySections.ts
Due: web

fix(scopedcssbaseline): prevent "export not found" error
  packages/web/src/Components/ScopedCssBaseline/index.tsx
Due: web

docs(appbar): add Skeleton as Suspense fallback
  packages/web/src/Components/AppBar/index.story.tsx
Due: web

fix(skeleton): prevent error "export 'Skeleton' was not found"
  packages/web/src/Components/Skeleton/index.tsx
Due: web

style(appbar): reorder objects keys
  packages/web/src/Components/AppBar/stories.tsx
Due: web

docs: add missing imports to stories
  packages/web/src/Components/Container/README.mdx
  packages/web/src/Components/CssBaseline/README.mdx
  packages/web/src/Components/ScopedCssBaseline/README.mdx
  packages/web/src/Components/Skeleton/README.mdx
  packages/web/src/Components/Skeleton/stories.tsx
Due: web

fix(cssbaseline): prevent "export not found" error
  packages/web/src/Components/CssBaseline/index.tsx
Due: web

fix(container): prevent "export not found" error
  packages/web/src/Components/Container/index.tsx
Due: web

refactor(storybook): replace Material UI Container by natds-web one
  packages/web/.storybook/decorators/Container/index.tsx
Due: web

docs(skeleton): remove size info and add snapshot test
  packages/web/src/Components/Skeleton/__snapshots__/stories.test.tsx.snap
  packages/web/src/Components/Skeleton/stories.test.tsx
  packages/web/src/Components/Skeleton/stories.tsx
Due: web

chore(release): publish v0.17.2 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: web

chore(deps): update dependency ts-loader to v8.0.2
  packages/web/package.json
  yarn.lock
Due: web

docs: add readme
  README.md
Due: none

docs(appbar): add props and multi-component story
  packages/web/src/Components/AppBar/README.mdx
Due: web

chore(deps): update `ts-loader` dependency
  packages/web/package.json
  yarn.lock
Due: web

fix(skeleton): keep interface/props even with forwardRef
  packages/web/src/Components/Skeleton/ISkeletonProps.ts
  packages/web/src/Components/Skeleton/README.mdx
  packages/web/src/Components/Skeleton/index.tsx
Due: web

style(storybook): format with eslint
  packages/web/.storybook/preview.js
Due: web

Path conditions:
  icons: any of: packages/icons
  styles: any of: packages/styles
  web: any of: packages/web
