Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: icons, styles, web

chore(release): publish v1.5.3-alpha.DSY-1893.3.0 via lerna [skip-ci]
  lerna.json
  packages/web/package.json
Due: web

chore(release): publish v1.5.3-alpha.DSY-1893.5.0 via lerna [skip-ci]
  lerna.json
  packages/web/package.json
Due: web

chore: tests storybook docs
  packages/web/package.json
Due: web

chore(release): publish v1.5.3-alpha.DSY-1893.7.0 via lerna [skip-ci]
  lerna.json
  packages/web/package.json
Due: web

chore(release): publish v1.5.3-alpha.DSY-1893.9.0 via lerna [skip-ci]
  lerna.json
  packages/web/package.json
Due: web

chore(progressIndicator): removes disableShrink props
  packages/web/src/Components/ProgressIndicator/ProgressIndicator.argTypes.ts
  packages/web/src/Components/ProgressIndicator/ProgressIndicator.props.ts
  packages/web/src/Components/ProgressIndicator/ProgressIndicator.stories.tsx
  packages/web/src/Components/ProgressIndicator/ProgressIndicator.test.tsx
  packages/web/src/Components/ProgressIndicator/__snapshots__/ProgressIndicator.test.tsx.snap
Due: web

chore(progressIndicator): fixes sizes
  packages/web/src/Components/ProgressIndicator/ProgressIndicator.argTypes.ts
  packages/web/src/Components/ProgressIndicator/ProgressIndicator.props.ts
Due: web

chore(release): publish v1.5.3-alpha.DSY-1893.11.0 via lerna [skip-ci]
  lerna.json
  packages/web/package.json
Due: web

chore(progress indicator): removes color options
  packages/web/src/Components/ProgressIndicator/ProgressIndicator.argTypes.ts
  packages/web/src/Components/ProgressIndicator/ProgressIndicator.props.ts
  packages/web/src/Components/ProgressIndicator/ProgressIndicator.stories.tsx
  packages/web/src/Components/ProgressIndicator/ProgressIndicator.test.tsx
  packages/web/src/Components/ProgressIndicator/ProgressIndicator.tsx
  packages/web/src/Components/ProgressIndicator/__snapshots__/ProgressIndicator.test.tsx.snap
Due: web

chore(release): publish v1.5.3-alpha.DSY-1893.13.0 via lerna [skip-ci]
  lerna.json
  packages/web/package.json
Due: web

chore(progress indicator): adds layer option
  packages/web/src/Components/ProgressIndicator/ProgressIndicator.argTypes.ts
  packages/web/src/Components/ProgressIndicator/ProgressIndicator.props.ts
  packages/web/src/Components/ProgressIndicator/ProgressIndicator.stories.tsx
  packages/web/src/Components/ProgressIndicator/ProgressIndicator.styles.ts
  packages/web/src/Components/ProgressIndicator/ProgressIndicator.test.tsx
  packages/web/src/Components/ProgressIndicator/ProgressIndicator.tsx
  packages/web/src/Components/ProgressIndicator/__snapshots__/ProgressIndicator.test.tsx.snap
Due: web

chore(progress indicator): fixes getLayerSize
  packages/web/src/Components/ProgressIndicator/ProgressIndicator.styles.ts
Due: web

chore(release): publish v1.5.3-alpha.DSY-1893.16.0 via lerna [skip-ci]
  lerna.json
  packages/web/package.json
Due: web

chore(progress indicator): pass defaultSize to layer
  packages/web/src/Components/ProgressIndicator/ProgressIndicator.styles.ts
Due: web

chore(release): publish v1.5.3-alpha.DSY-1893.18.0 via lerna [skip-ci]
  lerna.json
  packages/web/package.json
Due: web

chore(progress indicator): adds default size to component
  packages/web/src/Components/ProgressIndicator/ProgressIndicator.styles.ts
  packages/web/src/Components/ProgressIndicator/ProgressIndicator.tsx
Due: web

chore(release): publish v1.5.3-alpha.DSY-1893.22.0 via lerna [skip-ci]
  lerna.json
  packages/web/package.json
Due: web

chore(release): publish v1.5.3-alpha.DSY-1893.24.0 via lerna [skip-ci]
  lerna.json
  packages/web/package.json
Due: web

chore(progress indicator): verify if size is true
  packages/web/src/Components/ProgressIndicator/ProgressIndicator.styles.ts
Due: web

chore(release): publish v1.5.3-alpha.DSY-1893.28.0 via lerna [skip-ci]
  lerna.json
  packages/web/package.json
Due: web

chore(progress indicator): pass default size correctly
  packages/web/src/Components/ProgressIndicator/ProgressIndicator.stories.tsx
  packages/web/src/Components/ProgressIndicator/ProgressIndicator.tsx
  packages/web/src/Components/ProgressIndicator/__snapshots__/ProgressIndicator.test.tsx.snap
Due: web

chore(release): publish v1.5.3-alpha.DSY-1893.30.0 via lerna [skip-ci]
  lerna.json
  packages/web/package.json
Due: web

chore(progress indicator): updates props name
  packages/web/src/Components/ProgressIndicator/ProgressIndicator.props.ts
  packages/web/src/Components/ProgressIndicator/ProgressIndicator.test.tsx
  packages/web/src/Components/ProgressIndicator/ProgressIndicator.tsx
Due: web

chore(release): publish v1.5.3-alpha.DSY-1893.32.0 via lerna [skip-ci]
  lerna.json
  packages/web/package.json
Due: web

DSY 1893 - Progress Indicator (#1286)
  lerna.json
  packages/web/package.json
  packages/web/src/Components/Card/Template.tsx
  packages/web/src/Components/CircularProgress/CircularProgress.props.ts
  packages/web/src/Components/CircularProgress/CircularProgress.stories.tsx
  packages/web/src/Components/CircularProgress/CircularProgress.test.tsx
  packages/web/src/Components/CircularProgress/CircularProgress.tsx
  packages/web/src/Components/CircularProgress/Template.tsx
  packages/web/src/Components/CircularProgress/__fixtures__/colors.ts
  packages/web/src/Components/CircularProgress/__fixtures__/variants.ts
  packages/web/src/Components/CircularProgress/__snapshots__/CircularProgress.stories.storyshot
  packages/web/src/Components/CircularProgress/__snapshots__/CircularProgress.test.tsx.snap
  packages/web/src/Components/CircularProgress/index.ts
  packages/web/src/Components/LinearProgress/LinearProgress.stories.tsx
  packages/web/src/Components/LinearProgress/LinearProgress.tsx
  packages/web/src/Components/ProgressIndicator/ProgressIndicator.argTypes.ts
  packages/web/src/Components/ProgressIndicator/ProgressIndicator.props.ts
  packages/web/src/Components/ProgressIndicator/ProgressIndicator.stories.tsx
  packages/web/src/Components/ProgressIndicator/ProgressIndicator.styles.ts
  packages/web/src/Components/ProgressIndicator/ProgressIndicator.test.tsx
  packages/web/src/Components/ProgressIndicator/ProgressIndicator.tsx
  packages/web/src/Components/ProgressIndicator/__snapshots__/ProgressIndicator.test.tsx.snap
  packages/web/src/Components/ProgressIndicator/index.ts
  packages/web/src/Components/index.test.tsx
  packages/web/src/index.ts
Due: web

chore(release): publish v1.5.3 via lerna [skip-ci]
  CHANGELOG.md
  lerna.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: web

chore(natds-react): initial setup
  packages/react/.gitignore
  packages/react/.storybook/main.js
  packages/react/.storybook/preview.js
  packages/react/README.md
  packages/react/babel.config.js
  packages/react/jest.config.js
  packages/react/package.json
  packages/react/src/components/Button/Button.stories.tsx
  packages/react/src/components/Button/Button.tsx
  packages/react/src/components/Button/button.css
  packages/react/tsconfig.json
  packages/react/yarn.lock
Due: none

chore(natds-react): configs rollup
  packages/react/declaration.d.ts
  packages/react/global.d.ts
  packages/react/package.json
  packages/react/rollup.config.js
  packages/react/src/index.ts
  packages/react/tsconfig.json
  packages/react/yarn.lock
Due: none

chore: changes eslint rules from error to warning
  .editorconfig
  .eslintrc.js
Due: none

chore(natds-react): setups build:storybook
  .cicd/build-storybook.sh
  lerna.json
  package.json
  packages/react/package.json
  packages/react/yarn.lock
  packages/web/package.json
  yarn.lock
Due: web

chore(natds-react): removes duplicates devDependencies
  package.json
  packages/react/package.json
  packages/react/src/index.ts
  packages/styles/package.json
  packages/web/package.json
  yarn.lock
Due: styles, web

chore(natds-react): updates build-storybook
  .cicd/build-storybook.sh
  package.json
  packages/react/package.json
  packages/web/jest.config.js
  packages/web/package.json
  packages/web/src/Components/AppBarHighlight/AppBarHighlight.test.tsx
  packages/web/src/Components/AppBarHighlight/__snapshots__/AppBarHighlight.test.tsx.snap
  packages/web/src/Components/Storyshots.test.tsx
  yarn.lock
Due: web

chore(deps): update babel monorepo
  packages/web/package.json
  yarn.lock
Due: web

chore(natds-react): adds welcome docs
  .editorconfig
  packages/react/.storybook/main.js
  packages/react/CHANGELOG.md
  packages/react/README.md
  packages/react/docs/changelog.stories.mdx
  packages/react/docs/getting-started.stories.mdx
Due: none

chore: removes deprecated lint rules
  .eslintrc.js
Due: none

chore: overrides lint rules to packages/react
  .eslintrc.js
Due: none

chore(natds-react): updates jest and package.json config
  package.json
  packages/react/jest.config.js
  packages/react/package.json
  packages/react/rollup.config.js
Due: none

chore(natds-react): creates a simple button component
  packages/react/index.ts
  packages/react/src/components/Button/Button.props.ts
  packages/react/src/components/Button/Button.stories.tsx
  packages/react/src/components/Button/Button.test.tsx
  packages/react/src/components/Button/Button.tsx
  packages/react/src/components/Button/__snapshots__/Button.test.tsx.snap
  packages/react/src/components/Button/index.ts
  packages/react/src/index.ts
Due: none

Path conditions:
  icons: any of: packages/icons
  styles: any of: packages/styles
  web: any of: packages/web
