Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: icons, styles, web

chore(divider): removes other Divider props that appeared in the storybook
  packages/web/src/Components/Divider/Divider.props.ts
  packages/web/src/Components/Divider/Divider.stories.tsx
  packages/web/src/Components/Divider/Divider.tsx
Due: web

test(divider): updates tests from styles
  packages/styles/src/__tests__/themes/avon/__snapshots__/avon.test.ts.snap
  packages/styles/src/__tests__/themes/bodyShop/__snapshots__/theBodyShop.test.ts.snap
  packages/styles/src/__tests__/themes/natura/__snapshots__/natura.test.ts.snap
  packages/web/src/Themes/__snapshots__/themes.test.tsx.snap
Due: styles, web

chore(divider): removes unused variables
  packages/web/src/Components/Divider/Divider.stories.tsx
Due: web

style(divider): updates color token for Divider
  packages/styles/src/themes/avon/avon-dark.ts
  packages/styles/src/themes/avon/avon-light.ts
  packages/styles/src/themes/natura/natura-dark.ts
  packages/styles/src/themes/natura/natura-light.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-dark.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-light.ts
Due: styles

chore(release): publish v1.5.1-alpha.DSY-828.5.0 via lerna [ci skip]
  lerna.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

chore(release): publish v1.5.1-alpha.DSY-828.8.0 via lerna [ci skip]
  lerna.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

refactor(card): refactoring Card component and deprecated Paper
  packages/web/src/Components/Card/Card.argTypes.ts
  packages/web/src/Components/Card/Card.props.ts
  packages/web/src/Components/Card/Card.stories.tsx
  packages/web/src/Components/Card/Card.test.tsx
  packages/web/src/Components/Card/Card.tsx
  packages/web/src/Components/Card/__snapshots__/Card.stories.storyshot
  packages/web/src/Components/Card/__snapshots__/Card.test.tsx.snap
  packages/web/src/Components/Card/index.ts
  packages/web/src/Components/index.test.tsx
  packages/web/src/index.ts
Due: web

chore(card): adds mensage about deprecation of others Card components
  packages/web/jest.config.js
  packages/web/src/Components/CardActionArea/CardActionArea.tsx
  packages/web/src/Components/CardActions/CardActions.stories.tsx
  packages/web/src/Components/CardActions/CardActions.tsx
  packages/web/src/Components/CardContent/CardContent.stories.tsx
  packages/web/src/Components/CardContent/CardContent.tsx
  packages/web/src/Components/CardHeader/CardHeader.stories.tsx
  packages/web/src/Components/CardHeader/CardHeader.tsx
  packages/web/src/Components/CardMedia/CardMedia.stories.tsx
  packages/web/src/Components/CardMedia/CardMedia.tsx
  packages/web/src/Components/Checkbox/__snapshots__/Checkbox.stories.storyshot
  packages/web/src/Components/Chip/__snapshots__/Chip.stories.storyshot
  packages/web/src/Components/Collapse/Collapse.stories.tsx
Due: web

chore(release): publish v1.5.1-alpha.DSY-0809.2.0 via lerna [skip-ci]
  lerna.json
  packages/web/package.json
Due: web

chore(card): deletes paper component
  packages/web/src/Components/Paper/Paper.argTypes.ts
  packages/web/src/Components/Paper/Paper.props.ts
  packages/web/src/Components/Paper/Paper.stories.tsx
  packages/web/src/Components/Paper/Paper.test.tsx
  packages/web/src/Components/Paper/Paper.tsx
  packages/web/src/Components/Paper/__fixtures__/variants.ts
  packages/web/src/Components/Paper/__snapshots__/Paper.stories.storyshot
  packages/web/src/Components/Paper/__snapshots__/Paper.test.tsx.snap
  packages/web/src/Components/Paper/index.ts
  packages/web/src/Components/index.test.tsx
  packages/web/src/index.ts
Due: web

chore(card): fixes exports
  packages/web/src/index.ts
Due: web

chore(card): replaces Paper to Card
  packages/web/src/Components/GridContainer/Template.tsx
  packages/web/src/Components/Popover/Popover.tsx
  packages/web/src/examples/sign-in.stories.tsx
Due: web

chore(release): publish v1.5.1-alpha.DSY-0809.6.0 via lerna [skip-ci]
  lerna.json
  packages/web/package.json
Due: web

chore: fixes tag exports
  packages/web/src/index.ts
Due: web

chore(release): publish v1.5.1-alpha.DSY-0809.8.0 via lerna [skip-ci]
  lerna.json
  packages/web/package.json
Due: web

chore(card): adds example of Product Card
  packages/web/src/Components/Card/Card.tsx
  packages/web/src/examples/card-example.stories.tsx
Due: web

DSY-828: update divider component (#1281)
  lerna.json
  packages/styles/package.json
  packages/styles/src/__tests__/themes/avon/__snapshots__/avon.test.ts.snap
  packages/styles/src/__tests__/themes/bodyShop/__snapshots__/theBodyShop.test.ts.snap
  packages/styles/src/__tests__/themes/natura/__snapshots__/natura.test.ts.snap
  packages/styles/src/themes/avon/avon-dark.ts
  packages/styles/src/themes/avon/avon-light.ts
  packages/styles/src/themes/natura/natura-dark.ts
  packages/styles/src/themes/natura/natura-light.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-dark.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-light.ts
  packages/web/package.json
  packages/web/src/Components/Divider/Divider.props.ts
  packages/web/src/Components/Divider/Divider.stories.tsx
  packages/web/src/Components/Divider/Divider.tsx
  packages/web/src/Components/Divider/__fixtures__/variants.ts
  packages/web/src/Themes/__snapshots__/themes.test.tsx.snap
Due: styles, web

chore(release): publish v1.5.1-alpha.DSY-0809.11.0 via lerna [skip-ci]
  lerna.json
  packages/web/package.json
Due: web

chore(release): publish v1.5.1 via lerna [skip-ci]
  CHANGELOG.md
  lerna.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, web

chore(release): publish v1.5.2-alpha.DSY-0809.15.0 via lerna [skip-ci]
  lerna.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

chore(card): removes disclaimer about deprecated components
  packages/web/src/Components/CardActionArea/CardActionArea.tsx
  packages/web/src/Components/CardActions/CardActions.tsx
  packages/web/src/Components/CardContent/CardContent.tsx
  packages/web/src/Components/CardHeader/CardHeader.tsx
  packages/web/src/Components/CardMedia/CardMedia.tsx
Due: web

chore(release): publish v1.5.2-alpha.DSY-0809.17.0 via lerna [skip-ci]
  lerna.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

DSY-809: update Card component (#1284)
  lerna.json
  packages/styles/package.json
  packages/web/jest.config.js
  packages/web/package.json
  packages/web/src/Components/Card/Card.argTypes.ts
  packages/web/src/Components/Card/Card.props.ts
  packages/web/src/Components/Card/Card.stories.tsx
  packages/web/src/Components/Card/Card.test.tsx
  packages/web/src/Components/Card/Card.tsx
  packages/web/src/Components/Card/__snapshots__/Card.stories.storyshot
  packages/web/src/Components/Card/__snapshots__/Card.test.tsx.snap
  packages/web/src/Components/Card/index.ts
  packages/web/src/Components/CardActionArea/CardActionArea.tsx
  packages/web/src/Components/CardActions/CardActions.stories.tsx
  packages/web/src/Components/CardActions/CardActions.tsx
  packages/web/src/Components/CardContent/CardContent.stories.tsx
  packages/web/src/Components/CardContent/CardContent.tsx
  packages/web/src/Components/CardHeader/CardHeader.stories.tsx
  packages/web/src/Components/CardHeader/CardHeader.tsx
  packages/web/src/Components/CardMedia/CardMedia.stories.tsx
  packages/web/src/Components/CardMedia/CardMedia.tsx
  packages/web/src/Components/Checkbox/__snapshots__/Checkbox.stories.storyshot
  packages/web/src/Components/Chip/__snapshots__/Chip.stories.storyshot
  packages/web/src/Components/Collapse/Collapse.stories.tsx
  packages/web/src/Components/GridContainer/Template.tsx
  packages/web/src/Components/Paper/Paper.argTypes.ts
  packages/web/src/Components/Paper/Paper.props.ts
  packages/web/src/Components/Paper/Paper.stories.tsx
  packages/web/src/Components/Paper/Paper.test.tsx
  packages/web/src/Components/Paper/Paper.tsx
  packages/web/src/Components/Paper/__fixtures__/variants.ts
  packages/web/src/Components/Paper/__snapshots__/Paper.stories.storyshot
  packages/web/src/Components/Paper/__snapshots__/Paper.test.tsx.snap
  packages/web/src/Components/Paper/index.ts
  packages/web/src/Components/Popover/Popover.tsx
  packages/web/src/Components/__snapshots__/card-example.stories.storyshot
  packages/web/src/Components/index.test.tsx
  packages/web/src/examples/card-example.stories.tsx
  packages/web/src/examples/sign-in.stories.tsx
  packages/web/src/index.ts
Due: styles, web

chore(release): publish v1.5.2 via lerna [skip-ci]
  CHANGELOG.md
  lerna.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, web

chore(deps): update dependency husky to v4.3.8
  package.json
  yarn.lock
Due: none

refactor(progressIndicator): changes CircularProgress to ProgressIndicator
  packages/web/src/Components/Card/Template.tsx
  packages/web/src/Components/CircularProgress/CircularProgress.props.ts
  packages/web/src/Components/CircularProgress/CircularProgress.stories.tsx
  packages/web/src/Components/CircularProgress/CircularProgress.test.tsx
  packages/web/src/Components/CircularProgress/CircularProgress.tsx
  packages/web/src/Components/CircularProgress/Template.tsx
  packages/web/src/Components/CircularProgress/__fixtures__/colors.ts
  packages/web/src/Components/CircularProgress/__fixtures__/variants.ts
  packages/web/src/Components/CircularProgress/__snapshots__/CircularProgress.stories.storyshot
  packages/web/src/Components/CircularProgress/__snapshots__/CircularProgress.test.tsx.snap
  packages/web/src/Components/CircularProgress/index.ts
  packages/web/src/Components/ProgressIndicator/ProgressIndicator.argTypes.ts
  packages/web/src/Components/ProgressIndicator/ProgressIndicator.props.ts
  packages/web/src/Components/ProgressIndicator/ProgressIndicator.stories.tsx
  packages/web/src/Components/ProgressIndicator/ProgressIndicator.test.tsx
  packages/web/src/Components/ProgressIndicator/ProgressIndicator.tsx
  packages/web/src/Components/ProgressIndicator/__snapshots__/ProgressIndicator.test.tsx.snap
  packages/web/src/Components/ProgressIndicator/index.ts
  packages/web/src/index.ts
Due: web

chore(progressIndicator): adds msg about deprecation of LinearProgress component
  packages/web/src/Components/LinearProgress/LinearProgress.stories.tsx
  packages/web/src/Components/LinearProgress/LinearProgress.tsx
Due: web

chore(progressIndicator): updates value of sizes
  packages/web/src/Components/ProgressIndicator/ProgressIndicator.props.ts
  packages/web/src/Components/ProgressIndicator/ProgressIndicator.test.tsx
  packages/web/src/Components/ProgressIndicator/ProgressIndicator.tsx
  packages/web/src/Components/ProgressIndicator/__snapshots__/ProgressIndicator.test.tsx.snap
  packages/web/src/Components/index.test.tsx
Due: web

chore(release): publish v1.5.3-alpha.DSY-1893.1.0 via lerna [skip-ci]
  lerna.json
  packages/web/package.json
Due: web

chore: tests storybook docs
  packages/web/package.json
Due: web

Path conditions:
  icons: any of: packages/icons
  styles: any of: packages/styles
  web: any of: packages/web
