Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: icons, styles, web

codecov.yml:

coverage:
  status:
    project:
      default: off
      icons:
        target: auto
        flags:
          - icons
      styles:
        target: auto
        flags:
          - styles
      web:
        target: auto
        flags:
          - web
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
flags:
  icons:
    paths:
      - packages/icons
    carryforward: false
  styles:
    paths:
      - packages/styles
    carryforward: false
  web:
    paths:
      - packages/web
    carryforward: false

chore(deps): update dependency typescript to v4.0.5
  package.json
  packages/styles/package.json
  packages/web/package.json
  yarn.lock
Due: styles, web

chore(deps): update dependency webpack-merge to v5.3.0
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency yarn to v1.22.10
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update node.js to v10.23.0
  .nvmrc
Due: none

chore(deps): update styled-components dependencies
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency @rollup/plugin-commonjs to v16
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency webpack to v5
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): remove nvmrc file
  .nvmrc
Due: none

chore(dev-deps): upgrade dev deps
  package.json
Due: none

chore(styles): upgrade dev deps
  packages/styles/package.json
Due: styles

fix(deps): upgrade styled-components to 5.2.1
  packages/web/package.json
  packages/web/src/Components/ContextualBadge/__snapshots__/ContextualBadge.test.tsx.snap
  packages/web/src/Components/DrawerBody/__snapshots__/DrawerBody.test.tsx.snap
  packages/web/src/Components/DrawerFooter/__snapshots__/DrawerFooter.test.tsx.snap
  packages/web/src/Components/DrawerHeader/__snapshots__/DrawerHeader.test.tsx.snap
  packages/web/src/Components/DrawerMenu/__snapshots__/DrawerMenu.test.tsx.snap
  packages/web/src/Components/Intro/__snapshots__/Intro.test.tsx.snap
  packages/web/src/Components/__snapshots__/Storyshots.test.tsx.snap
Due: web

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(examples/create-react-app-with-typescript): bump react-dom to 17.0.1
  examples/create-react-app-with-typescript/package.json
Due: none

chore(release): publish v0.23.12 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/gatsby/CHANGELOG.md
  examples/gatsby/package.json
  lerna.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, web

chore(release): publish v0.23.13 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/gatsby/CHANGELOG.md
  examples/gatsby/package.json
  lerna.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, web

chore(.idea): update excluded folders
  .idea/natds-js.iml
Due: none

feat(styles): add colors for action.active and divider
  packages/styles/src/__tests__/themes/avon/__snapshots__/avon.test.ts.snap
  packages/styles/src/__tests__/themes/bodyShop/__snapshots__/theBodyShop.test.ts.snap
  packages/styles/src/__tests__/themes/natura/__snapshots__/natura.test.ts.snap
  packages/styles/src/themes/ITheme.ts
  packages/styles/src/themes/avon/avon-dark.ts
  packages/styles/src/themes/avon/avon-light.ts
  packages/styles/src/themes/natura/natura-dark.ts
  packages/styles/src/themes/natura/natura-light.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-dark.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-light.ts
Due: styles

fix(storybook): bring back missing theme switcher
  packages/web/.storybook/main.js
Due: web

docs(changelog): remove references to styled-components
  packages/web/CHANGELOG.md
Due: web

fix(button): prevent error when no theme is provided
  packages/web/src/Components/Button/Button.styles.ts
Due: web

docs(container): refactor stories
  packages/web/src/Components/Container/Container.stories.tsx
Due: web

feat(contextual badge): add support to className property
  packages/web/src/Components/ContextualBadge/ContextualBadge.props.ts
Due: web

refactor(contextual badge): remove styled-components dependency
  packages/web/src/Components/ContextualBadge/ContextualBadge.stories.tsx
  packages/web/src/Components/ContextualBadge/ContextualBadge.styles.ts
  packages/web/src/Components/ContextualBadge/ContextualBadge.tsx
  packages/web/src/Components/ContextualBadge/ContextualBadgeContainer/ContextualBadgeContainer.props.ts
  packages/web/src/Components/ContextualBadge/ContextualBadgeContainer/ContextualBadgeContainer.tsx
  packages/web/src/Components/ContextualBadge/ContextualBadgeContainer/index.ts
  packages/web/src/Components/ContextualBadge/__snapshots__/ContextualBadge.test.tsx.snap
Due: web

docs(divider): use renamed container story
  packages/web/src/Components/Divider/Divider.stories.tsx
Due: web

refactor(intro): remove styled-components dependency
  packages/web/src/Components/Intro/Intro.props.ts
  packages/web/src/Components/Intro/Intro.stories.tsx
  packages/web/src/Components/Intro/Intro.styles.ts
  packages/web/src/Components/Intro/Intro.tsx
  packages/web/src/Components/Intro/IntroContainer/IntroContainer.tsx
  packages/web/src/Components/Intro/IntroContainer/index.ts
  packages/web/src/Components/Intro/IntroDetails/IntroDetails.tsx
  packages/web/src/Components/Intro/IntroDetails/index.ts
  packages/web/src/Components/Intro/IntroTitle/IntroTitle.tsx
  packages/web/src/Components/Intro/IntroTitle/index.ts
  packages/web/src/Components/Intro/__snapshots__/Intro.test.tsx.snap
Due: web

docs(list item icon): add description for WithIcon story
  packages/web/src/Components/ListItemIcon/ListItemIcon.stories.tsx
Due: web

fix(list item icon): fix icon color for dark mode
  packages/web/src/Components/ListItemIcon/ListItemIcon.tsx
Due: web

test(themes): update themes snapshots
  packages/web/src/Themes/__snapshots__/themes.test.tsx.snap
Due: web

test(web): remove obsolete storyshot file
  packages/web/src/Components/__snapshots__/Storyshots.test.tsx.snap
Due: web

test(web): remove references to styled-components
  packages/web/jest.config.js
Due: web

test(drawer body): add missing tests
  packages/web/src/Components/DrawerBody/DrawerBody.styles.test.ts
  packages/web/src/Components/DrawerBody/DrawerBody.styles.ts
Due: web

docs(intro): add missing jsdoc to titleVariant property
  packages/web/src/Components/Intro/Intro.props.ts
Due: web

test(intro): add tests without provided template
  packages/web/src/Components/Intro/Intro.test.tsx
  packages/web/src/Components/Intro/__snapshots__/Intro.test.tsx.snap
Due: web

test(jest): remove intro styles from coverage analysis
  packages/web/jest.config.js
Due: web

fix(deps): remove styled-components, prevent TypeScript errors
  packages/web/package.json
  yarn.lock
Due: web

chore(release): publish v0.24.0 via lerna [skip ci]
  CHANGELOG.md
  examples/cdn/CHANGELOG.md
  examples/cdn/package-lock.json
  examples/cdn/package.json
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/gatsby/CHANGELOG.md
  examples/gatsby/package.json
  examples/mdx-deck/CHANGELOG.md
  examples/mdx-deck/package.json
  examples/single-spa/root/CHANGELOG.md
  examples/single-spa/root/package.json
  lerna.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, web

chore(deps): update dependency @storybook/addon-storyshots to v6.0.28
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @types/react-dom to v16.9.9
  packages/web/package.json
Due: web
