Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: icons, styles, web

chore(release): publish v1.7.1 via lerna [skip-ci]
  CHANGELOG.md
  lerna.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore(deps): update dependency @types/react-dom to v16.9.12
  packages/react/package.json
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update commitlint monorepo to v12
  package.json
  yarn.lock
Due: none

chore(deps): update babel monorepo to v7.13.15
  package.json
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency @types/react-text-mask to v5.4.7
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency eslint to v7.23.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency chromatic to v5.7.1
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency eslint-plugin-jest to v24.3.4
  package.json
  yarn.lock
Due: none

chore(deps): update dependency jest to v26.6.3
  package.json
  yarn.lock
Due: none

chore(deps): update dependency rollup to v2.45.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency storybook-addon-themes to v6.1.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency typescript to v4.2.4
  package.json
  yarn.lock
Due: none

chore(deps): update dependency webpack-merge to v5.7.3
  package.json
  yarn.lock
Due: none

chore(deps): update dependency eslint-plugin-react to v7.23.2
  package.json
  yarn.lock
Due: none

chore(deps): update react monorepo to v17.0.2
  packages/react/package.json
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update stryker monorepo to v4.5.1
  package.json
  yarn.lock
Due: none

chore: remove unnecessary dependencies
  .alexignore
  .prettierrc
  package.json
  stryker.conf.js
  yarn.lock
Due: none

chore: setup codecov token
  .cicd/quality-check.sh
  packages/react/package.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

chore: remove unnecessary files
  .adr-dir
  .github/workflows/npm-publish.yml
  .travis.yml
  docs/adr/0001-record-architecture-decisions.md
  docs/adr/0002-technology-stack.md
  docs/adr/0003-typescript-usage.md
  docs/adr/0004-themes-usage.md
  docs/adr/0005-export-component-styles.md
  docs/adr/0006-100-coverage-in-unit-tests.md
  docs/adr/0007-100-coverage-in-integration-tests.md
  docs/adr/0008-component-showcase-platform-for-development.md
  docs/adr/0009-showcase-and-documentation-platform.md
  docs/adr/0010-use-milestones-as-releasing-process.md
  docs/adr/0011-workflow-with-teams.md
  docs/tech-roadmap.md
  scripts/build-storybook.sh
  scripts/helpers/addVersionOnConfig.js
  scripts/helpers/prependVersionToArray.js
  scripts/helpers/prependVersionToArray.test.js
  scripts/helpers/uniqueArray.js
  scripts/helpers/uniqueArray.test.js
Due: none

chore: add missing lint dependencie
  .cicd/quality-check.sh
  package.json
  packages/react/package.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

chore: add react package to codecov
  codecov.yml
Due: none

chore: update troubleshooting
  TROUBLESHOOTING.md
Due: none

chore: remove unnecessary rules of Renovate
  packages/styles/.snyk
  packages/web/.snyk
  renovate.json
  yarn.lock
Due: styles, web

chore: fix path to package/styles in Codecov
  codecov.yml
Due: none

chore: update yarn.lock
  yarn.lock
Due: none

chore: update README
  README.md
  packages/react/README.md
Due: none

chore: update flags of Codecov
  codecov.yml
  yarn.lock
Due: none

chore: remove unnecessary dependencies and files (#1310)
  .adr-dir
  .alexignore
  .cicd/quality-check.sh
  .github/workflows/npm-publish.yml
  .prettierrc
  .travis.yml
  README.md
  TROUBLESHOOTING.md
  codecov.yml
  docs/adr/0001-record-architecture-decisions.md
  docs/adr/0002-technology-stack.md
  docs/adr/0003-typescript-usage.md
  docs/adr/0004-themes-usage.md
  docs/adr/0005-export-component-styles.md
  docs/adr/0006-100-coverage-in-unit-tests.md
  docs/adr/0007-100-coverage-in-integration-tests.md
  docs/adr/0008-component-showcase-platform-for-development.md
  docs/adr/0009-showcase-and-documentation-platform.md
  docs/adr/0010-use-milestones-as-releasing-process.md
  docs/adr/0011-workflow-with-teams.md
  docs/tech-roadmap.md
  package.json
  packages/react/README.md
  packages/react/package.json
  packages/styles/.snyk
  packages/styles/package.json
  packages/web/.snyk
  packages/web/package.json
  renovate.json
  scripts/build-storybook.sh
  scripts/helpers/addVersionOnConfig.js
  scripts/helpers/prependVersionToArray.js
  scripts/helpers/prependVersionToArray.test.js
  scripts/helpers/uniqueArray.js
  scripts/helpers/uniqueArray.test.js
  stryker.conf.js
  yarn.lock
Due: styles, web

chore(deps): update storybook monorepo to v6.2.7
  package.json
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update typescript-eslint monorepo to v4.21.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @testing-library/user-event to v13
  package.json
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency eslint to v7.24.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency rollup to v2.45.1
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @types/react-dom to v17.0.3
  packages/react/package.json
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency @types/react-test-renderer to v17
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency eslint-plugin-jest to v24.3.5
  package.json
  yarn.lock
Due: none

chore(deps): update dependency concurrently to v6
  package.json
  yarn.lock
Due: none

chore(deps): update dependency husky to v6
  package.json
  yarn.lock
Due: none

chore(deps): update dependency lerna to v4
  package.json
  yarn.lock
Due: none

Path conditions:
  icons: any of: packages/icons
  styles: any of: packages/styles
  web: any of: packages/web
