Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: icons, styles, web

feat(Counter): add new Counter component and unit tests
  packages/web/src/Components/Counter/Container.argTypes.ts
  packages/web/src/Components/Counter/Counter.props.ts
  packages/web/src/Components/Counter/Counter.stories.tsx
  packages/web/src/Components/Counter/Counter.styles.ts
  packages/web/src/Components/Counter/Counter.test.tsx
  packages/web/src/Components/Counter/Counter.tsx
  packages/web/src/Components/Counter/__snapshots__/Counter.test.tsx.snap
  packages/web/src/Components/Counter/constants.ts
  packages/web/src/Components/Counter/index.ts
  packages/web/src/index.ts
Due: web

test(Counter): improve test coverage for Counter component
  packages/web/src/Components/Counter/Container.argTypes.ts
  packages/web/src/Components/Counter/Counter.props.ts
  packages/web/src/Components/Counter/Counter.styles.test.tsx
  packages/web/src/Components/Counter/Counter.styles.ts
  packages/web/src/Components/Counter/Counter.test.tsx
  packages/web/src/Components/Counter/Counter.tsx
  packages/web/src/Components/Counter/__snapshots__/Counter.test.tsx.snap
Due: web

styles(counter): removes marginLeft of ButtonGroup
  packages/styles/src/themes/avon/avon-dark.ts
  packages/styles/src/themes/avon/avon-light.ts
  packages/styles/src/themes/natura/natura-dark.ts
  packages/styles/src/themes/natura/natura-light.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-dark.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-light.ts
  packages/web/src/Themes/__snapshots__/themes.test.tsx.snap
Due: styles, web

test(Counter): improve jest branch coverage
  packages/web/src/Components/Counter/Counter.props.ts
  packages/web/src/Components/Counter/Counter.styles.test.tsx
  packages/web/src/Components/Counter/Counter.test.tsx
  packages/web/src/Components/Counter/Counter.tsx
  packages/web/src/Themes/__snapshots__/themes.test.tsx.snap
Due: web

test(counter) updates snapshot tests of styles
  packages/web/src/Themes/__snapshots__/themes.test.tsx.snap
Due: web

test(counter) updates snapshot tests of styles
  packages/styles/src/__tests__/themes/avon/__snapshots__/avon.test.ts.snap
  packages/styles/src/__tests__/themes/bodyShop/__snapshots__/theBodyShop.test.ts.snap
  packages/styles/src/__tests__/themes/natura/__snapshots__/natura.test.ts.snap
Due: styles

chore(release): publish v1.2.0-alpha.DSY-1128.8.0 via lerna [ci skip]
  lerna.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

chore(counter): apply dynamic import
  packages/web/src/Components/Counter/Counter.stories.tsx
Due: web

chore(image): apply dynamic import
  packages/web/src/Components/Image/Image.stories.tsx
Due: web

feat(Image): update Image component
  packages/web/rollup.config.js
  packages/web/src/Components/Image/Image.argTypes.ts
  packages/web/src/Components/Image/Image.props.ts
  packages/web/src/Components/Image/Image.stories.tsx
  packages/web/src/Components/Image/Image.styles.ts
  packages/web/src/Components/Image/Image.test.tsx
  packages/web/src/Components/Image/Image.tsx
  packages/web/src/Components/Image/__snapshots__/Image.test.tsx.snap
  packages/web/src/Components/Image/images/product-empty.png
  packages/web/src/Components/__snapshots__/sign-up-step1.stories.storyshot
Due: web

refactor(Image): fix typing error
  packages/web/src/Components/Image/Image.tsx
Due: web

chore(release): publish v2.0.0-alpha.DSY-1184.1.0 via lerna [ci skip]
  lerna.json
  packages/web/package.json
Due: web

chore(release): publish v2.0.0-alpha.DSY-1184.2.0 via lerna [ci skip]
  lerna.json
  packages/web/package.json
Due: web

chore(counter): fixes border radius on hover
  packages/styles/src/__tests__/themes/avon/__snapshots__/avon.test.ts.snap
  packages/styles/src/__tests__/themes/bodyShop/__snapshots__/theBodyShop.test.ts.snap
  packages/styles/src/__tests__/themes/natura/__snapshots__/natura.test.ts.snap
  packages/styles/src/themes/avon/avon-dark.ts
  packages/styles/src/themes/avon/avon-light.ts
  packages/styles/src/themes/natura/natura-dark.ts
  packages/styles/src/themes/natura/natura-light.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-dark.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-light.ts
  packages/web/src/Themes/__snapshots__/themes.test.tsx.snap
Due: styles, web

chore(release): publish v1.2.0-alpha.DSY-1128.18.0 via lerna [ci skip]
  lerna.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

feat(Counter): add new Counter component and unit tests (#1265)
  lerna.json
  packages/styles/package.json
  packages/styles/src/__tests__/themes/avon/__snapshots__/avon.test.ts.snap
  packages/styles/src/__tests__/themes/bodyShop/__snapshots__/theBodyShop.test.ts.snap
  packages/styles/src/__tests__/themes/natura/__snapshots__/natura.test.ts.snap
  packages/styles/src/themes/avon/avon-dark.ts
  packages/styles/src/themes/avon/avon-light.ts
  packages/styles/src/themes/natura/natura-dark.ts
  packages/styles/src/themes/natura/natura-light.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-dark.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-light.ts
  packages/web/package.json
  packages/web/src/Components/Counter/Container.argTypes.ts
  packages/web/src/Components/Counter/Counter.props.ts
  packages/web/src/Components/Counter/Counter.stories.tsx
  packages/web/src/Components/Counter/Counter.styles.test.tsx
  packages/web/src/Components/Counter/Counter.styles.ts
  packages/web/src/Components/Counter/Counter.test.tsx
  packages/web/src/Components/Counter/Counter.tsx
  packages/web/src/Components/Counter/__snapshots__/Counter.test.tsx.snap
  packages/web/src/Components/Counter/constants.ts
  packages/web/src/Components/Counter/index.ts
  packages/web/src/Themes/__snapshots__/themes.test.tsx.snap
  packages/web/src/index.ts
Due: styles, web

chore(release): publish v1.2.0 via lerna [ci skip]
  CHANGELOG.md
  lerna.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, web

refactor(Image): remove product fallback
  packages/web/rollup.config.js
  packages/web/src/Components/Image/Image.props.ts
  packages/web/src/Components/Image/Image.stories.tsx
  packages/web/src/Components/Image/Image.test.tsx
  packages/web/src/Components/Image/Image.tsx
  packages/web/src/Components/Image/images/product-empty.png
Due: web

chore(release): publish v2.0.0-alpha.DSY-1184.5.0 via lerna [ci skip]
  lerna.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

feat(select): adds Select component
  packages/styles/src/__tests__/themes/avon/__snapshots__/avon.test.ts.snap
  packages/styles/src/__tests__/themes/bodyShop/__snapshots__/theBodyShop.test.ts.snap
  packages/styles/src/__tests__/themes/natura/__snapshots__/natura.test.ts.snap
  packages/styles/src/themes/avon/avon-dark.ts
  packages/styles/src/themes/avon/avon-light.ts
  packages/styles/src/themes/natura/natura-dark.ts
  packages/styles/src/themes/natura/natura-light.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-dark.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-light.ts
  packages/web/src/Components/Counter/Counter.styles.ts
  packages/web/src/Components/Counter/__snapshots__/Counter.test.tsx.snap
  packages/web/src/Components/Field/Field.tsx
  packages/web/src/Components/Field/__snapshots__/Field.test.tsx.snap
  packages/web/src/Components/Input/Input.styles.ts
  packages/web/src/Components/Input/Input.tsx
  packages/web/src/Components/Input/__snapshots__/Input.test.tsx.snap
  packages/web/src/Components/Rating/Rating.tsx
  packages/web/src/Components/Select/Select.argTypes.ts
  packages/web/src/Components/Select/Select.props.ts
  packages/web/src/Components/Select/Select.stories.tsx
  packages/web/src/Components/Select/Select.test.tsx
  packages/web/src/Components/Select/Select.tsx
  packages/web/src/Components/Select/__snapshots__/Select.test.tsx.snap
  packages/web/src/Components/Select/index.ts
  packages/web/src/Components/TextField/__snapshots__/TextField.test.tsx.snap
  packages/web/src/Components/__snapshots__/sign-up-step1.stories.storyshot
  packages/web/src/Themes/__snapshots__/themes.test.tsx.snap
  packages/web/src/index.ts
Due: styles, web

chore(release): publish v1.3.0-alpha.DSY-1728.3.0 via lerna [ci skip]
  lerna.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

chore: adds step to copy assets to build folder
  .cicd/build-storybook.sh
  packages/web/src/assets/product-empty-256x256.png
  packages/web/src/assets/product-empty-512x512.png
Due: web

chore(release): publish v2.0.0-alpha.DSY-1184.6.0 via lerna [ci skip]
  lerna.json
  packages/web/package.json
Due: web

chore: echo steps
  .cicd/build-storybook.sh
Due: none

chore(release): publish v2.0.0-alpha.DSY-1184.7.0 via lerna [ci skip]
  lerna.json
  packages/web/package.json
Due: web

chore: add command to copy-assets on package.json
  .cicd/build-storybook.sh
  packages/web/package.json
Due: web

chore(release): publish v2.0.0-alpha.DSY-1184.8.0 via lerna [ci skip]
  lerna.json
  packages/web/package.json
Due: web

feat(rating): add new component
  lerna.json
  packages/web/package.json
  packages/web/src/Components/Rating/Rating.argTypes.ts
  packages/web/src/Components/Rating/Rating.props.ts
  packages/web/src/Components/Rating/Rating.stories.tsx
  packages/web/src/Components/Rating/Rating.styles.test.tsx
  packages/web/src/Components/Rating/Rating.styles.ts
  packages/web/src/Components/Rating/Rating.test.tsx
  packages/web/src/Components/Rating/Rating.tsx
  packages/web/src/Components/Rating/__fixtures__/sizes.ts
  packages/web/src/Components/Rating/__snapshots__/Rating.test.tsx.snap
  packages/web/src/Components/Rating/index.ts
  packages/web/src/index.ts
Due: web

chore: fix version
  lerna.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

chore(release): publish v1.2.0-alpha.DSY-1184.9.0 via lerna [ci skip]
  lerna.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

feat(Image): update Image component (#1267)
  lerna.json
  packages/styles/package.json
  packages/web/package.json
  packages/web/src/Components/Image/Image.argTypes.ts
  packages/web/src/Components/Image/Image.props.ts
  packages/web/src/Components/Image/Image.stories.tsx
  packages/web/src/Components/Image/Image.styles.ts
  packages/web/src/Components/Image/Image.test.tsx
  packages/web/src/Components/Image/Image.tsx
  packages/web/src/Components/Image/__snapshots__/Image.test.tsx.snap
  packages/web/src/Components/__snapshots__/sign-up-step1.stories.storyshot
  packages/web/src/assets/product-empty-256x256.png
  packages/web/src/assets/product-empty-512x512.png
Due: styles, web

chore(release): publish v1.3.0 via lerna [ci skip]
  CHANGELOG.md
  lerna.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, web

chore: fixes typos
  packages/web/src/Components/Select/Select.props.ts
  packages/web/src/Components/Select/Select.test.tsx
  packages/web/src/Components/Select/Select.tsx
Due: web

chore: adds onChange as props
  packages/web/src/Components/Select/Select.argTypes.ts
  packages/web/src/Components/Select/Select.props.ts
  packages/web/src/Components/Select/Select.test.tsx
  packages/web/src/Components/Select/Select.tsx
  packages/web/src/Components/Select/__snapshots__/Select.test.tsx.snap
Due: web

chore: fixes padding
  packages/styles/src/themes/avon/avon-dark.ts
  packages/styles/src/themes/avon/avon-light.ts
  packages/styles/src/themes/natura/natura-dark.ts
  packages/styles/src/themes/natura/natura-light.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-dark.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-light.ts
Due: styles

feat(select): adds Select component
  packages/styles/src/__tests__/themes/avon/__snapshots__/avon.test.ts.snap
  packages/styles/src/__tests__/themes/bodyShop/__snapshots__/theBodyShop.test.ts.snap
  packages/styles/src/__tests__/themes/natura/__snapshots__/natura.test.ts.snap
  packages/styles/src/themes/avon/avon-dark.ts
  packages/styles/src/themes/avon/avon-light.ts
  packages/styles/src/themes/natura/natura-dark.ts
  packages/styles/src/themes/natura/natura-light.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-dark.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-light.ts
  packages/web/src/Components/Counter/Counter.styles.ts
  packages/web/src/Components/Counter/__snapshots__/Counter.test.tsx.snap
  packages/web/src/Components/Field/Field.tsx
  packages/web/src/Components/Field/__snapshots__/Field.test.tsx.snap
  packages/web/src/Components/Input/Input.styles.ts
  packages/web/src/Components/Input/Input.tsx
  packages/web/src/Components/Input/__snapshots__/Input.test.tsx.snap
  packages/web/src/Components/Rating/Rating.tsx
  packages/web/src/Components/Select/Select.argTypes.ts
  packages/web/src/Components/Select/Select.props.ts
  packages/web/src/Components/Select/Select.stories.tsx
  packages/web/src/Components/Select/Select.test.tsx
  packages/web/src/Components/Select/Select.tsx
  packages/web/src/Components/Select/__snapshots__/Select.test.tsx.snap
  packages/web/src/Components/Select/index.ts
  packages/web/src/Components/TextField/__snapshots__/TextField.test.tsx.snap
  packages/web/src/Themes/__snapshots__/themes.test.tsx.snap
  packages/web/src/index.ts
Due: styles, web

Path conditions:
  icons: any of: packages/icons
  styles: any of: packages/styles
  web: any of: packages/web
