Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: icons, styles, web

codecov.yml:

coverage:
  status:
    project:
      default: off
      icons:
        target: auto
        flags:
          - icons
      styles:
        target: auto
        flags:
          - styles
      web:
        target: auto
        flags:
          - web
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
flags:
  icons:
    paths:
      - packages/icons
    carryforward: false
  styles:
    paths:
      - packages/styles
    carryforward: false
  web:
    paths:
      - packages/web
    carryforward: false

chore(deps): update dependency react-docgen-typescript to v1.20.0
  packages/docs/package.json
  yarn.lock
Due: none

chore(deps): update dependency codecov to v3.7.1
  packages/docs/package.json
  packages/icons/package.json
  packages/styles/package.json
  packages/web/package.json
  yarn.lock
Due: icons, styles, web

chore(release): publish v0.13.1 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(deps): update dependency ts-jest to v26.1.3
  packages/web/package.json
  yarn.lock
Due: web

chore(release): publish v0.13.2 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: web

chore(deps): update dependency rollup to v2.22.1
  packages/icons/package.json
  packages/web/package.json
  yarn.lock
Due: icons, web

chore(release): publish v0.13.3 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, web

chore(deps): update dependency eslint to v7.5.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @types/jest to v26.0.5
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): fix/update eslint and @types/jest dependencies
  package.json
  yarn.lock
Due: none

chore(deps): add \`eslint-plugin-mocha\` dependency
  package.json
  yarn.lock
Due: none

chore(release): publish v0.13.4 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: web

chore(deps): pin dependency eslint-plugin-mocha to 7.0.1
  package.json
  yarn.lock
Due: none

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update typescript-eslint monorepo to v3.7.0
  package.json
  yarn.lock
Due: none

refactor(web): adopt eslint rules and do some refactoring
  packages/docs/src/components/Table/Components/HeaderWrapper.tsx
  packages/docs/src/components/Table/Components/ITableWithSelectWrapper.ts
  packages/docs/src/components/Table/Components/TableHeaderCell.tsx
  packages/docs/src/components/Table/Components/TableWithSelectWrapper.tsx
  packages/docs/src/components/Table/Components/TableWrapper.tsx
  packages/docs/src/components/Table/Components/index.tsx
  packages/docs/src/components/Table/Interactive.tsx
  packages/docs/src/components/Table/Table.story.tsx
  packages/docs/src/components/Table/exampleDataTable.ts
  packages/docs/src/components/Table/sections.tsx
  packages/docs/src/components/Table/tableAlignOptions.ts
  packages/styles/src/themes/avon/avon-dark.ts
  packages/styles/src/themes/avon/avon-light.ts
  packages/styles/src/themes/natura/natura-dark.ts
  packages/styles/src/themes/natura/natura-light.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-dark.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-light.ts
  packages/web/src/Components/Table/ITableProps.ts
  packages/web/src/Components/Table/Table.tsx
  packages/web/src/Components/Table/TableBody.tsx
  packages/web/src/Components/Table/TableCell.tsx
  packages/web/src/Components/Table/TableContainer.tsx
  packages/web/src/Components/Table/TableFooter.tsx
  packages/web/src/Components/Table/TableHead.tsx
  packages/web/src/Components/Table/TablePagination.tsx
  packages/web/src/Components/Table/TableRow.tsx
  packages/web/src/Components/Table/TableSortLabel.tsx
  packages/web/src/__tests__/Table.spec.tsx
  packages/web/src/__tests__/TableBody.spec.tsx
  packages/web/src/__tests__/TableCell.spec.tsx
  packages/web/src/__tests__/TableFooter.spec.tsx
  packages/web/src/__tests__/TableHead.spec.tsx
  packages/web/src/__tests__/TablePagination.spec.tsx
  packages/web/src/__tests__/TableRow.spec.tsx
  packages/web/src/__tests__/TableSortLabel.spec.tsx
  packages/web/src/index.ts
Due: styles, web

style(docs): format Table.story.tsx
  packages/docs/src/components/Table/Table.story.tsx
Due: none

docs: add new sections to roadmap [skip ci]
  docs/roadmap.md
Due: none

docs: update heading text on roadmap [skip ci]
  docs/roadmap.md
Due: none

fix(icons): fix const value after refactoring
  packages/icons/scripts/svgToFont.js
Due: icons

chore(release): publish v0.13.5-alpha.DSY-1250.0 via lerna [skip ci]
  lerna.json
  packages/docs/package.json
  packages/icons/package.json
  packages/styles/package.json
  packages/web/package.json
Due: icons, styles, web

docs: update tech roadmap [skip ci]
  docs/roadmap.md
Due: none

ci: don't generate version tag for alpha releases
  package.json
Due: none

ci: generate canary prereleases
  package.json
Due: none

docs: update roadmap [skip ci]
  docs/roadmap.md
Due: none

chore(deps): update dependency netlify to v4.3.6
  package.json
  yarn.lock
Due: none

chore(deps): update node.js to v10.22.0
  .nvmrc
Due: none
