Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: icons, styles, web

codecov.yml:

coverage:
  status:
    project:
      default: off
      icons:
        target: auto
        flags:
          - icons
      styles:
        target: auto
        flags:
          - styles
      web:
        target: auto
        flags:
          - web
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
flags:
  icons:
    paths:
      - packages/icons
    carryforward: false
  styles:
    paths:
      - packages/styles
    carryforward: false
  web:
    paths:
      - packages/web
    carryforward: false

test(web): update test snapshots
  packages/web/src/Components/Avatar/__snapshots__/Avatar.test.tsx.snap
  packages/web/src/Components/Intro/__snapshots__/index.test.tsx.snap
  packages/web/src/__tests__/__snapshots__/Chip.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/DrawerMenu.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/List.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TableSortLabel.spec.tsx.snap
Due: web

chore(release): publish v0.19.0 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(deps): update dependency enzyme-adapter-react-16 to v1.15.4
  packages/web/package.json
  yarn.lock
Due: web

ci: run tests also for `packages/icons`
  package.json
Due: none

chore(release): publish v0.19.1 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(deps): upgrade `natds-themes` to 0.3.2 [DSY-1462]
  packages/styles/package.json
  yarn.lock
Due: styles

chore(styles): don't skip or suppress TypeScript errors
  packages/styles/tsconfig.json
Due: styles

build(web): don't skip lib check
  packages/web/tsconfig.json
Due: web

refactor(drawer menu): import icon names directly from JSON file
  packages/web/src/Components/DrawerMenu.tsx
Due: web

refactor(icon): import icon names directly from JSON file
  packages/web/src/Components/Icon/Icon.argTypes.ts
  packages/web/src/Components/Icon/Icon.props.ts
Due: web

refactor(styles): import `Size` from `natds-themes` [DSY-1462]
  packages/styles/src/tokens/sizes/IDeprecatedSizes.ts
  packages/styles/src/tokens/sizes/ISizes.ts
  packages/styles/src/tokens/sizes/deprecatedSizes.ts
  packages/styles/src/tokens/sizes/index.ts
Due: styles

refactor(tokens): extract types to files, use some `natds-themes` colors [DSY-1462]
  packages/styles/src/tokens/colors/natura/IColorsNatura.ts
  packages/styles/src/tokens/colors/natura/IComplementary.ts
  packages/styles/src/tokens/colors/natura/IGradient.ts
  packages/styles/src/tokens/colors/natura/IGrayscale.ts
  packages/styles/src/tokens/colors/natura/ILevel.ts
  packages/styles/src/tokens/colors/natura/IPrimary.ts
  packages/styles/src/tokens/colors/natura/ISecondary.ts
  packages/styles/src/tokens/colors/natura/index.ts
Due: styles

refactor(icons): rename package.json names
  packages/icons/package.json
Due: icons

style(icons): sort rollup by alpha order [DSY-1462]
  packages/icons/rollup.config.js
Due: icons

refactor(icons): move/rearrange typw declaration file [DSY-1462]
  packages/icons/src/declaration.d.ts
  packages/icons/src/typings/declaration.d.ts
Due: icons

build(icons): don't skip lib check, add support to jest types and JSON file [DSY-1462]
  packages/icons/tsconfig.json
Due: icons

docs(styles): fix typo on deprecation message
  packages/styles/src/tokens/colors/natura/index.ts
Due: styles

style(sizes token): fix ISize type syntax
  packages/styles/src/tokens/sizes/ISizes.ts
Due: styles

fix(web): fix importing path of Themes for some components
  packages/web/src/Components/Chip.tsx
  packages/web/src/Components/DrawerBody.tsx
  packages/web/src/Components/DrawerFooter.tsx
  packages/web/src/Components/DrawerHeader.tsx
  packages/web/src/Components/DrawerMenu.tsx
  packages/web/src/Components/Link.tsx
  packages/web/src/Components/Popover.tsx
  packages/web/src/Components/TextField/CustomIcon.tsx
  packages/web/src/Components/TextField/PasswordReveal.tsx
Due: web

chore(typo-ci): add "testc" to safelist [skip ci]
  .typo-ci.yml
Due: none

chore(styles): add @arielwb to contributors list [DSY-1462]
  packages/styles/package.json
Due: styles

feat(elevation token): integrate with `natds-themes` [DSY-1462]
  packages/styles/src/tokens/elevation/IElevation.ts
  packages/styles/src/tokens/elevation/index.ts
Due: styles

feat(font size token): integrate with `natds-themes` [DSY-1462]
  packages/styles/src/tokens/fontSize/IFont.ts
  packages/styles/src/tokens/fontSize/index.ts
Due: styles

feat(opacity token): integrate with `natds-themes` [DSY-1462]
  packages/styles/src/tokens/opacity/IOpacity.ts
  packages/styles/src/tokens/opacity/index.ts
Due: styles

test(styles): update test snapshots [DSY-1462]
  packages/styles/src/__tests__/themes/avon/__snapshots__/avon.spec.ts.snap
  packages/styles/src/__tests__/themes/bodyShop/__snapshots__/theBodyShop.spec.ts.snap
  packages/styles/src/__tests__/themes/natura/__snapshots__/natura.spec.ts.snap
  packages/styles/src/__tests__/tokens/__snapshots__/tokens.spec.ts.snap
Due: styles

chore(typo-ci): ignore package.json file [skip ci]
  .typo-ci.yml
Due: none

chore(deps): update dependency husky to v4.3.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency react-docgen-typescript to v1.20.4
  packages/web/package.json
  yarn.lock
Due: web

fix(deps): update dependency @naturacosmeticos/natds-themes to v0.4.0
  packages/styles/package.json
  yarn.lock
Due: styles

chore(deps): update dependency @rollup/plugin-typescript to v6
  packages/icons/package.json
  packages/web/package.json
  yarn.lock
Due: icons, web

chore(styles): upgrade `natds-themes` to 0.4.0 [DSY-1462]
  packages/styles/package.json
  yarn.lock
Due: styles

docs(styles): add info about deprecation [DSY-1462]
  packages/styles/src/themes/avon/avon-dark.ts
  packages/styles/src/themes/avon/avon-light.ts
  packages/styles/src/themes/natura/natura-dark.ts
  packages/styles/src/themes/natura/natura-light.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-dark.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-light.ts
Due: styles

feat(radius token): integrate with `natds-themes` [DSY-1462]
  packages/styles/src/tokens/radius/index.ts
Due: styles

feat(overlay token): integrate with `natds-themes` [DSY-1462]
  packages/styles/src/tokens/overlay/index.ts
Due: styles

fix(opacity token): add missing `veryHigh` opacity [DSY-1462]
  packages/styles/src/tokens/opacity/index.ts
Due: styles

docs(skeleton): abbreviate "heading 1" text on a story
  packages/web/src/Components/Skeleton/Skeleton.stories.tsx
Due: web

docs(spacing): use Typography component on template story
  packages/web/src/Components/Spacing/Template.tsx
Due: web

fix(font size token): prevent `natds-themes` importing error [DSY-1462]
  packages/styles/src/tokens/fontSize/index.ts
Due: styles

fix(elevation token): prevent `natds-themes` importing error [DSY-1462]
  packages/styles/src/tokens/elevation/index.ts
Due: styles

feat(color tokens): integrate with `natds-themes` color tokens [DSY-1462]
  packages/styles/src/tokens/colors/themeBound/IColorThemeTokens.ts
  packages/styles/src/tokens/colors/themeBound/avon/avon-dark.ts
  packages/styles/src/tokens/colors/themeBound/avon/avon-light.ts
  packages/styles/src/tokens/colors/themeBound/index.ts
  packages/styles/src/tokens/colors/themeBound/natura/natura-dark.ts
  packages/styles/src/tokens/colors/themeBound/natura/natura-light.ts
  packages/styles/src/tokens/colors/themeBound/theBodyShop/the-body-shop-dark.ts
  packages/styles/src/tokens/colors/themeBound/theBodyShop/the-body-shop-light.ts
Due: styles
