Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: icons, styles, web

style(scripts): format with eslint
  scripts/helpers/addVersionOnConfig.js
  scripts/helpers/prependVersionToArray.test.js
  scripts/helpers/uniqueArray.test.js
Due: none

wip(storybook): skip adding version to JSON file
  scripts/build-storybook.sh
Due: none

chore: format jest config file with eslint
  jest.config.js
Due: none

chore: make eslint rules more strict
  .eslintrc.js
Due: none

style(scripts): format with eslint
  scripts/helpers/prependVersionToArray.test.js
  scripts/helpers/uniqueArray.test.js
Due: none

feat(web): add displayName for all components
  packages/web/src/__tests__/__snapshots__/Breadcrumbs.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Card.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/CircularProgress.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Dialog.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Drawer.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Grid.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/LinearProgress.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/List.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Paper.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Popover.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Tab.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TextField.spec.tsx.snap
Due: web

fix(Icon): bring back theme support
  packages/web/src/__tests__/Icon/__snapshots__/index.spec.tsx.snap
Due: web

style(web): format with eslint
  packages/web/src/__tests__/Menu.spec.tsx
  packages/web/src/__tests__/Paper.spec.tsx
  packages/web/src/__tests__/TextField.PasswordReveal.spec.tsx
  packages/web/src/__tests__/__snapshots__/Menu.spec.tsx.snap
Due: web

refactor(web): remove old tslint.json file
  packages/web/tslint.json
Due: web

style(TextField): ignore no-explicit-any errors
  packages/web/src/Components/TextField/SearchClear/index.tsx
Due: web

chore(release): publish v0.16.0-alpha.DSY-1098.0 via lerna [skip ci]
  lerna.json
  packages/icons/package.json
  packages/styles/package.json
  packages/web/package.json
Due: icons, styles, web

chore(deps): update dependency netlify to v4.3.10
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @babel/core to v7.11.1
  packages/docs/package.json
  yarn.lock
Due: none

fix(styles): add missing palette type for Natura Light
  packages/styles/src/__tests__/themes/natura/__snapshots__/natura.spec.ts.snap
  packages/styles/src/themes/natura/natura-light.ts
Due: styles

fix(web): add missing "light" palette type on component snapshots
  packages/web/src/Components/Intro/__snapshots__/index.test.tsx.snap
  packages/web/src/__tests__/Icon/__snapshots__/index.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Avatar.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TextField.spec.tsx.snap
  packages/web/src/__tests__/themes/natura/__snapshots__/natura.spec.tsx.snap
Due: web

test(AppBar): add missing snapshot tests for stories
  packages/web/src/Components/AppBar/__snapshots__/stories.test.tsx.snap
Due: web

docs(web): update README
  packages/web/README.mdx
Due: web

refactor(Fab): remove unused theme variable
  packages/web/src/Components/Fab/index.tsx
Due: web

chore: add react-hooks rules
  .eslintrc.js
Due: none

docs: update Components index docs
  packages/web/src/Components/README.mdx
Due: web

chore(deps): add eslint-plugin-react-hooks dependency
  packages/web/package.json
  yarn.lock
Due: web

wip(Table): temp remove Table docs
  packages/web/src/Components/Table/README.mdx
  packages/web/src/Components/Table/Table.tsx
Due: web

chore(release): publish v0.16.12 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
Due: none

chore(deps): update dependency sass-loader to v9.0.3
  packages/docs/package.json
  yarn.lock
Due: none

chore(release): publish v0.16.13 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
Due: none

feat(web): add Skeleton component
  packages/web/src/Components/Skeleton/README.mdx
  packages/web/src/Components/Skeleton/__snapshots__/index.test.tsx.snap
  packages/web/src/Components/Skeleton/index.test.tsx
  packages/web/src/Components/Skeleton/index.tsx
  packages/web/src/Components/index.test.tsx
  packages/web/src/index.ts
Due: web

docs(Skeleton): remove typo from docs [skip ci]
  packages/web/src/Components/Skeleton/README.mdx
Due: web

feat(web): add CssBaseline layout component
  packages/web/src/Components/CssBaseline/README.mdx
  packages/web/src/Components/CssBaseline/__snapshots__/index.test.tsx.snap
  packages/web/src/Components/CssBaseline/index.test.tsx
  packages/web/src/Components/CssBaseline/index.tsx
Due: web

feat(web): add ScopedCssBaseline layout component
  packages/web/src/Components/ScopedCssBaseline/README.mdx
  packages/web/src/Components/ScopedCssBaseline/__snapshots__/index.test.tsx.snap
  packages/web/src/Components/ScopedCssBaseline/index.test.tsx
  packages/web/src/Components/ScopedCssBaseline/index.tsx
Due: web

feat(web): add support to named imports of CssBaseline and ScopedCssBaseline
  packages/web/src/Components/index.test.tsx
  packages/web/src/index.ts
Due: web

chore(release): publish v0.17.0 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

Path conditions:
  icons: any of: packages/icons
  styles: any of: packages/styles
  web: any of: packages/web
