Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: icons, styles, web

chore: fixes padding
  packages/styles/src/themes/avon/avon-dark.ts
  packages/styles/src/themes/avon/avon-light.ts
  packages/styles/src/themes/natura/natura-dark.ts
  packages/styles/src/themes/natura/natura-light.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-dark.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-light.ts
Due: styles

chore: adds onChange as props
  packages/web/src/Components/Select/Select.argTypes.ts
  packages/web/src/Components/Select/Select.props.ts
  packages/web/src/Components/Select/Select.test.tsx
  packages/web/src/Components/Select/Select.tsx
  packages/web/src/Components/Select/__snapshots__/Select.test.tsx.snap
Due: web

chore: fixes typos
  packages/web/src/Components/Select/Select.props.ts
  packages/web/src/Components/Select/Select.test.tsx
  packages/web/src/Components/Select/Select.tsx
Due: web

chore: removes unused variable
  packages/web/src/Components/Image/Image.tsx
Due: web

chore: updates snapshots tests
  packages/styles/src/__tests__/themes/avon/__snapshots__/avon.test.ts.snap
  packages/styles/src/__tests__/themes/bodyShop/__snapshots__/theBodyShop.test.ts.snap
  packages/styles/src/__tests__/themes/natura/__snapshots__/natura.test.ts.snap
  packages/web/src/Components/__snapshots__/sign-up-step1.stories.storyshot
  packages/web/src/Themes/__snapshots__/themes.test.tsx.snap
Due: styles, web

chore(release): publish v2.0.0-alpha.DSY-1728.8.0 via lerna [ci skip]
  lerna.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

feat(Image): update Image component
  lerna.json
  packages/styles/package.json
  packages/web/package.json
  packages/web/src/Components/Image/Image.props.ts
  packages/web/src/Components/Image/Image.stories.tsx
  packages/web/src/Components/Image/Image.test.tsx
  packages/web/src/Components/Image/Image.tsx
  packages/web/src/assets/product-empty-256x256.png
  packages/web/src/assets/product-empty-512x512.png
Due: styles, web

chore(release): publish v1.3.0 via lerna [ci skip]
  CHANGELOG.md
  lerna.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, web

feat(select): adds Select component
  lerna.json
  packages/styles/package.json
  packages/styles/src/__tests__/themes/avon/__snapshots__/avon.test.ts.snap
  packages/styles/src/__tests__/themes/bodyShop/__snapshots__/theBodyShop.test.ts.snap
  packages/styles/src/__tests__/themes/natura/__snapshots__/natura.test.ts.snap
  packages/styles/src/themes/avon/avon-dark.ts
  packages/styles/src/themes/avon/avon-light.ts
  packages/styles/src/themes/natura/natura-dark.ts
  packages/styles/src/themes/natura/natura-light.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-dark.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-light.ts
  packages/web/package.json
  packages/web/src/Components/Counter/Counter.styles.ts
  packages/web/src/Components/Counter/__snapshots__/Counter.test.tsx.snap
  packages/web/src/Components/Field/Field.tsx
  packages/web/src/Components/Field/__snapshots__/Field.test.tsx.snap
  packages/web/src/Components/Image/Image.tsx
  packages/web/src/Components/Input/Input.styles.ts
  packages/web/src/Components/Input/Input.tsx
  packages/web/src/Components/Input/__snapshots__/Input.test.tsx.snap
  packages/web/src/Components/Rating/Rating.tsx
  packages/web/src/Components/Select/Select.argTypes.ts
  packages/web/src/Components/Select/Select.props.ts
  packages/web/src/Components/Select/Select.stories.tsx
  packages/web/src/Components/Select/Select.test.tsx
  packages/web/src/Components/Select/Select.tsx
  packages/web/src/Components/Select/__snapshots__/Select.test.tsx.snap
  packages/web/src/Components/Select/index.ts
  packages/web/src/Components/TextField/__snapshots__/TextField.test.tsx.snap
  packages/web/src/Components/__snapshots__/sign-up-step1.stories.storyshot
  packages/web/src/Themes/__snapshots__/themes.test.tsx.snap
  packages/web/src/index.ts
Due: styles, web

chore(release): publish v2.0.0-alpha.DSY-1728.10.0 via lerna [ci skip]
  lerna.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

chore: removes duplicate stories
  packages/web/src/Components/Image/Image.stories.tsx
Due: web

chore(release): publish v2.0.0-alpha.DSY-1728.12.0 via lerna [ci skip]
  lerna.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

chore: fixes version
  lerna.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

feat(Image): update Image component
  lerna.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

chore(release): publish v1.3.0 via lerna [ci skip]
  lerna.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

chore(release): publish v1.4.0-alpha.DSY-1728.13.0 via lerna [ci skip]
  lerna.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

chore(release): publish v1.4.0 via lerna [ci skip]
  CHANGELOG.md
  lerna.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, web

chore(deps): update dependency prettier to v2.2.1
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency @types/jest to v26.0.20
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency @types/lodash to v4.14.167
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency rollup to v2.36.1
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency chromatic to v5.6.0
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency eslint to v7.17.0
  package.json
  yarn.lock
Due: none

fix(counter): removes padding inside input
  packages/styles/src/__tests__/themes/bodyShop/__snapshots__/theBodyShop.test.ts.snap
  packages/styles/src/__tests__/tokens/__snapshots__/tokens.test.ts.snap
  packages/web/src/Components/Counter/Counter.styles.ts
  packages/web/src/Themes/__snapshots__/themes.test.tsx.snap
  yarn.lock
Due: styles, web

chore(deps): bump natds-theme
  packages/styles/package.json
  yarn.lock
Due: styles

chore(release): publish v1.4.1 via lerna [ci skip]
  CHANGELOG.md
  lerna.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: web

chore(deps): update dependency eslint-plugin-react to v7.22.0
  package.json
  yarn.lock
Due: none

feat(theme): exports colors tokens
  packages/styles/src/__tests__/themes/avon/__snapshots__/avon.test.ts.snap
  packages/styles/src/__tests__/themes/bodyShop/__snapshots__/theBodyShop.test.ts.snap
  packages/styles/src/__tests__/themes/natura/__snapshots__/natura.test.ts.snap
  packages/styles/src/themes/ITheme.ts
  packages/styles/src/themes/avon/avon-dark.ts
  packages/styles/src/themes/avon/avon-light.ts
  packages/styles/src/themes/natura/natura-dark.ts
  packages/styles/src/themes/natura/natura-light.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-dark.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-light.ts
  packages/web/src/Themes/__snapshots__/themes.test.tsx.snap
Due: styles, web

chore(release): publish v1.5.0-alpha.DSY-1815.1.0 via lerna [ci skip]
  lerna.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

refactor(deps): removes Lodash
  packages/web/package.json
  packages/web/src/hooks/useDefaultTheme/index.ts
  yarn.lock
Due: web

chore(release): publish v1.4.2-alpha.DSY-0000.1.0 via lerna [ci skip]
  lerna.json
  packages/web/package.json
Due: web

chore(release): publish v1.5.0 via lerna [ci skip]
  CHANGELOG.md
  lerna.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, web

fix(styles): exports spacing tokens
  packages/styles/src/__tests__/themes/avon/__snapshots__/avon.test.ts.snap
  packages/styles/src/__tests__/themes/bodyShop/__snapshots__/theBodyShop.test.ts.snap
  packages/styles/src/__tests__/themes/natura/__snapshots__/natura.test.ts.snap
  packages/styles/src/__tests__/tokens/__snapshots__/tokens.test.ts.snap
  packages/styles/src/themes/ITheme.ts
  packages/styles/src/themes/avon/avon-dark.ts
  packages/styles/src/themes/avon/avon-light.ts
  packages/styles/src/themes/natura/natura-dark.ts
  packages/styles/src/themes/natura/natura-light.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-dark.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-light.ts
  packages/styles/src/tokens/spacing/ISpacing.ts
  packages/styles/src/tokens/spacing/index.ts
Due: styles

chore(styles): updates spacing token on Table component
  packages/styles/src/themes/ITheme.ts
  packages/web/src/Components/Table/Table.tsx
Due: styles, web

Path conditions:
  icons: any of: packages/icons
  styles: any of: packages/styles
  web: any of: packages/web
