Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: icons, styles, web

chore(deps): update yarn lock file
  yarn.lock
Due: none

fix(web): prevent type errors on IFabProps and Fab component
  packages/web/src/Components/Fab/IFabProps.tsx
  packages/web/src/Components/Fab/index.tsx
Due: web

fix(web): prevent type error on getDefaultTheme()
  packages/web/src/Components/shared.ts
Due: web

fix(web): prevent type error on Provider
  packages/web/src/Provider/index.tsx
Due: web

feat(web): update test snapshots
  packages/web/src/__tests__/__snapshots__/AppBar.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Avatar.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/BottomNavigation.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/BottomNavigationAction.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Breadcrumbs.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Card.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Checkbox.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Chip.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/DatePicker.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Dialog.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Drawer.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/DrawerHeader.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/DrawerMenu.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Fab.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/KeyboardDatePicker.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/LinearProgress.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Link.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/List.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Menu.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Popover.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Radio.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Switch.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Tab.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Toolbar.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Tooltip.spec.tsx.snap
Due: web

fix(web): prevent type error on Provider test
  packages/web/src/__tests__/Provider.spec.tsx
Due: web

fix(web): remove type warning from Provider test file
  packages/web/src/__tests__/Provider.spec.tsx
Due: web

chore(web): add reminder to migrate from ExpansionPanel to Accordion
  packages/web/src/Components/ExpansionPanel.tsx
Due: web

chore(release): publish v0.10.0 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

ci: don't create new `master-docs` branch
  .travis.yml
  scripts/build-storybook.sh
  scripts/helpers/addVersionOnConfig.js
  scripts/push-storybook.sh
Due: none

ci: make ./scripts/push-storybook.sh executable
  scripts/push-storybook.sh
Due: none

chore: dedupe on post install
  package.json
Due: none

ci: try to fix not-found script error
  scripts/push-storybook.sh
Due: none

ci: only git remote update & fetch at prereleases
  .travis.yml
  scripts/build-storybook.sh
Due: none

test(web): add missing tests for TextField
  packages/web/src/__tests__/TextField.spec.tsx
  packages/web/src/__tests__/__snapshots__/TextField.spec.tsx.snap
Due: web

feat(docs): remove DatePicker and KeyboardDatePicker references
  packages/docs/src/components/Picker/DatePicker/DatePicker.docs.mdx
  packages/docs/src/components/Picker/DatePicker/DatePicker.story.tsx
  packages/docs/src/components/Picker/DatePicker/sections.tsx
  packages/docs/src/components/Picker/KeyboardDatePicker/KeyboardDatePicker.docs.mdx
  packages/docs/src/components/Picker/KeyboardDatePicker/KeyboardDatePicker.story.tsx
  packages/docs/src/components/Picker/KeyboardDatePicker/sections.tsx
Due: none

feat(web): remove DatePicker and KeyboardDatePicker
  packages/web/src/Components/DatePicker.tsx
  packages/web/src/Components/KeyboardDatePicker.tsx
  packages/web/src/__tests__/DatePicker.spec.tsx
  packages/web/src/__tests__/KeyboardDatePicker.spec.tsx
  packages/web/src/__tests__/__snapshots__/DatePicker.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/KeyboardDatePicker.spec.tsx.snap
  packages/web/src/__tests__/index.spec.tsx
  packages/web/src/index.ts
Due: web

chore(release): publish v0.11.0-alpha.DSY-1147.0 via lerna [skip ci]
  lerna.json
  packages/docs/package.json
  packages/icons/package.json
  packages/styles/package.json
  packages/web/package.json
Due: icons, styles, web

fix(deps): update dependency @date-io/date-fns to v2
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): remove `@date-io/date-fns` unused dependency
  packages/web/package.json
Due: web

ci: ensure that shell scripts are executable
  .travis.yml
Due: none

chore(release): publish v0.11.0 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore: don't ignore @material-ui and snyk updates
  renovate.json
Due: none

chore(deps): pin dependency snyk to 1.361.3
  packages/docs/package.json
  packages/icons/package.json
  packages/styles/package.json
  packages/web/package.json
  yarn.lock
Due: icons, styles, web

chore: ignore `snyk` on renovate to avoid pin PR
  renovate.json
Due: none

chore(deps): update dependency @rollup/plugin-typescript to v5.0.2
  packages/icons/package.json
  packages/web/package.json
  yarn.lock
Due: icons, web

chore(deps): update commitlint monorepo to v9.1.1
  package.json
  yarn.lock
Due: none

chore(deps): update dependency ts-jest to v26.1.2
  packages/styles/package.json
  packages/web/package.json
  yarn.lock
Due: styles, web

chore(deps): update dependency @rollup/plugin-commonjs to v13.0.1
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency @rollup/plugin-node-resolve to v8.4.0
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency @rollup/plugin-babel to v5.1.0
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency @types/chai-jest-snapshot to v1.3.6
  packages/web/package.json
  yarn.lock
Due: web

chore: update renovate config file
  renovate.json
Due: none

chore(release): publish v0.11.1 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(deps): update dependency @types/react to v16.9.43
  packages/docs/package.json
  yarn.lock
Due: none

chore(deps): update rollup dependencies
  packages/web/package.json
  yarn.lock
Due: web

chore: consolidate Storybook building in one script
  .travis.yml
  scripts/build-storybook.sh
  scripts/push-storybook.sh
Due: none

chore(release): publish v0.11.2 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: web

Path conditions:
  icons: any of: packages/icons
  styles: any of: packages/styles
  web: any of: packages/web
