Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: icons, styles, web

codecov.yml:

coverage:
  status:
    project:
      default: off
      icons:
        target: auto
        flags:
          - icons
      styles:
        target: auto
        flags:
          - styles
      web:
        target: auto
        flags:
          - web
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
flags:
  icons:
    paths:
      - packages/icons
    carryforward: false
  styles:
    paths:
      - packages/styles
    carryforward: false
  web:
    paths:
      - packages/web
    carryforward: false

chore(release): publish v0.13.9 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

fix(docs): prevent duplicated versions on storybook menu
  package.json
  scripts/helpers/addVersionOnConfig.js
  scripts/helpers/prependVersionToArray.js
  scripts/helpers/prependVersionToArray.test.js
  scripts/helpers/uniqueArray.js
  scripts/helpers/uniqueArray.test.js
Due: none

refactor: convert Storybook versions write file async method to async
  scripts/helpers/addVersionOnConfig.js
Due: none

fix: unique versions on versions config JSON file
  packages/docs/dist/versions_config.json
Due: none

feat(styles): add base theme and overrides
  packages/styles/src/themes/base/index.ts
  packages/styles/src/themes/base/overrides.ts
Due: styles

feat(styles): add base theme and overrides
  packages/styles/src/themes/base/index.ts
  packages/styles/src/themes/base/overrides.ts
  packages/styles/src/themes/base/overrides/MuiAlert.ts
  packages/styles/src/themes/base/overrides/MuiAlertTitle.ts
  packages/styles/src/themes/base/overrides/MuiBadge.ts
  packages/styles/src/themes/base/overrides/MuiButton.ts
  packages/styles/src/themes/base/overrides/MuiChip.ts
  packages/styles/src/themes/base/overrides/MuiExpansionPanel.ts
  packages/styles/src/themes/base/overrides/MuiExpansionPanelSummary.ts
  packages/styles/src/themes/base/overrides/MuiFormLabel.ts
  packages/styles/src/themes/base/overrides/MuiIconButton.ts
  packages/styles/src/themes/base/overrides/MuiInputAdornment.ts
  packages/styles/src/themes/base/overrides/MuiInputBase.ts
  packages/styles/src/themes/base/overrides/MuiInputLabel.ts
  packages/styles/src/themes/base/overrides/MuiListItem.ts
  packages/styles/src/themes/base/overrides/MuiSelect.ts
  packages/styles/src/themes/base/overrides/MuiTab.ts
  packages/styles/src/themes/base/overrides/MuiTextField.ts
  packages/styles/src/themes/base/overrides/MuiToolbar.ts
  scripts/helpers/addVersionOnConfig.js
  scripts/helpers/uniqueArray.js
Due: styles

chore(release): publish v0.14.0-alpha.DSY-1258.0 via lerna [skip ci]
  lerna.json
  packages/docs/package.json
  packages/icons/package.json
  packages/styles/package.json
  packages/web/package.json
Due: icons, styles, web

chore(deps): update dependency @types/react-native to v0.63.2
  packages/docs/package.json
  yarn.lock
Due: none

chore(release): publish v0.13.10 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
Due: none

chore(deps): update dependency @types/jest to v26.0.6
  packages/web/package.json
  yarn.lock
Due: web

chore(release): publish v0.13.11 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: web

chore(deps): update dependency @types/chai to v4.2.12
  packages/web/package.json
  yarn.lock
Due: web

chore(styles): add eslint strict rules for packages/styles
  .eslintrc.js
Due: none

chore(styles): add `lodash.merge` to dependencies
  packages/styles/package.json
  yarn.lock
Due: styles

style(docs): format code with eslint
  packages/docs/addons/Table/index.tsx
  packages/docs/addons/theme/index.js
  packages/docs/addons/versions/index.js
  packages/docs/src/components/Breadcrumbs/Breadcrumbs.story.tsx
  packages/docs/src/components/Card/Card.story.tsx
  packages/docs/src/components/Grid/Grid.story.tsx
  packages/docs/src/components/List/Interactive.tsx
  packages/docs/src/components/ProgressIndicator/LinearProgress/LinearProgress.story.tsx
  packages/docs/src/tokens/Elevation/Elevation.story.tsx
  packages/docs/src/tokens/Opacity/Opacity.story.tsx
  packages/docs/src/tokens/Overlay/Overlay.story.tsx
  packages/docs/src/tokens/Radius/Radius.story.tsx
Due: none

style(web): format code with eslint
  packages/web/src/Components/AppBar.tsx
  packages/web/src/Components/Avatar.tsx
  packages/web/src/Components/BottomNavigationAction.tsx
  packages/web/src/Components/Chip.tsx
  packages/web/src/Components/ContextualBadge.tsx
  packages/web/src/Components/DrawerFooter.tsx
  packages/web/src/Components/DrawerHeader.tsx
  packages/web/src/Components/DrawerMenu.tsx
  packages/web/src/Components/Fab/index.tsx
  packages/web/src/Components/Icon/getFontSize.ts
  packages/web/src/Components/Icon/index.tsx
  packages/web/src/Components/InputStateHelpTextProvider.tsx
  packages/web/src/Components/Link.tsx
  packages/web/src/Components/Popover.tsx
  packages/web/src/Components/SnackbarContent.tsx
  packages/web/src/Components/TextField/CustomIcon.tsx
  packages/web/src/Components/TextField/Field.tsx
  packages/web/src/Components/TextField/PasswordReveal.tsx
  packages/web/src/Components/TextField/SearchClear.tsx
  packages/web/src/Components/TextField/shared.ts
  packages/web/src/Components/ToggleButton.tsx
  packages/web/src/Components/shared.ts
  packages/web/src/Provider/index.tsx
  packages/web/src/Themes/index.ts
  packages/web/src/__mocks__/react-text-mask.tsx
  packages/web/src/__tests__/Avatar.spec.tsx
  packages/web/src/__tests__/Button.spec.tsx
  packages/web/src/__tests__/Chip.spec.tsx
  packages/web/src/__tests__/ContextualBadge.spec.tsx
  packages/web/src/__tests__/Dialog.spec.tsx
  packages/web/src/__tests__/DrawerBody.spec.tsx
  packages/web/src/__tests__/DrawerFooter.spec.tsx
  packages/web/src/__tests__/DrawerHeader.spec.tsx
  packages/web/src/__tests__/DrawerMenu.spec.tsx
  packages/web/src/__tests__/Fab.spec.tsx
  packages/web/src/__tests__/Menu.spec.tsx
  packages/web/src/__tests__/Provider.spec.tsx
  packages/web/src/__tests__/ToggleButton.spec.tsx
  packages/web/src/__tests__/Typography.spec.tsx
Due: web

chore(release): publish v0.13.12 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: web

chore(deps): update dependency rollup to v2.23.0
  packages/icons/package.json
  packages/web/package.json
  yarn.lock
Due: icons, web

refactor(styles): use `getBaseTheme()` on natura-light theme
  packages/styles/src/themes/base/IBaseTheme.ts
  packages/styles/src/themes/base/index.ts
  packages/styles/src/themes/base/overrides.ts
  packages/styles/src/themes/base/overrides/MuiChip.ts
  packages/styles/src/themes/base/overrides/MuiExpansionPanelSummary.ts
  packages/styles/src/themes/base/overrides/MuiInputBase.ts
  packages/styles/src/themes/base/overrides/MuiListItem.ts
  packages/styles/src/themes/natura/natura-light.ts
Due: styles

chore(release): publish v0.13.13 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, web

refactor(styles): use `getBaseTheme()` on natura-dark theme
  packages/styles/src/__tests__/themes/natura/__snapshots__/natura-dark.spec.ts.snap
  packages/styles/src/__tests__/themes/natura/__snapshots__/natura-light.spec.ts.snap
  packages/styles/src/__tests__/themes/natura/natura-dark.spec.ts
  packages/styles/src/__tests__/themes/natura/natura-light.spec.ts
  packages/styles/src/__tests__/themes/natura/natura.spec.ts
  packages/styles/src/themes/base/overrides/MuiChip.ts
  packages/styles/src/themes/base/overrides/MuiListItem.ts
  packages/styles/src/themes/natura/natura-dark.ts
  packages/styles/src/themes/natura/natura-light.ts
Due: styles

fix(deps): update dependency alex to v8.2.0
  package.json
  yarn.lock
Due: none

style(styles): format natura-dark.ts
  packages/styles/src/themes/natura/natura-dark.ts
Due: styles

chore(deps): update dependency @types/jest to v26.0.7
  packages/web/package.json
  yarn.lock
Due: web

chore(release): publish v0.13.14 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: web
