Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: icons, styles, web

codecov.yml:

coverage:
  status:
    project:
      default: off
      icons:
        target: auto
        flags:
          - icons
      styles:
        target: auto
        flags:
          - styles
      web:
        target: auto
        flags:
          - web
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
flags:
  icons:
    paths:
      - packages/icons
    carryforward: false
  styles:
    paths:
      - packages/styles
    carryforward: false
  web:
    paths:
      - packages/web
    carryforward: false

chore: update eslint config
  .eslintrc.js
Due: none

chore(icons): add `babel-jest` dependency
  yarn.lock
Due: none

style(web): prevent eslint error
  packages/web/config/test/setupEnzyme.ts
Due: web

fix(icons): fix icon filenames
  packages/icons/babel.config.js
  packages/icons/jest.config.js
  packages/icons/package.json
  packages/icons/scripts/helpers/capitalizeWord.js
  packages/icons/scripts/helpers/capitalizeWord.test.js
  packages/icons/scripts/helpers/getIconString.js
  packages/icons/scripts/helpers/getIconString.test.js
  packages/icons/scripts/helpers/getUnicodeIconString.js
  packages/icons/scripts/helpers/getUnicodeIconString.test.js
  packages/icons/scripts/helpers/iconNameMapper.js
  packages/icons/scripts/helpers/iconNameMapper.test.js
  packages/icons/scripts/helpers/toCamelCase.js
  packages/icons/scripts/helpers/toCamelCase.test.js
  packages/icons/scripts/helpers/toCamelCaseMapper.js
  packages/icons/scripts/helpers/toCamelCaseMapper.test.js
  packages/icons/scripts/helpers/toIosUnicode.js
  packages/icons/scripts/helpers/toIosUnicode.test.js
  packages/icons/scripts/svgToFont.js
  packages/icons/src/natds-icons.css.d.ts
  packages/icons/src/natds-icons.swift
Due: icons

chore: ignore generated natds-icons.d.ts file
  .eslintignore
Due: none

chore: fix natds-icons.css.d.ts filename
  .eslintignore
Due: none

style(icons): add missing blank line on natds-icons.css.d.ts
  packages/icons/src/natds-icons.css.d.ts
Due: icons

ci: prepare branch renaming from `master` to `main`
  .github/ISSUE_TEMPLATE/bug_report.md
  .travis.yml
  CONTRIBUTING.md
  CONTRIBUTING.pt-br.md
  README.md
  TROUBLESHOOTING.md
  docs/adr/0011-workflow-with-teams.md
  package.json
  scripts/build-storybook.sh
Due: none

chore: fetch all right after checkout
  scripts/build-storybook.sh
Due: none

feat: :guitar: Adds icon outlined-alert-notification.svg
  packages/icons/src/assets/cleaned/outlined-alert-notification.svg
Due: icons

chore(release): publish v0.13.5 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore: update git heads
  packages/icons/package.json
  packages/styles/package.json
  packages/web/package.json
Due: icons, styles, web

chore: remove generated cleaned icon file
  packages/icons/src/assets/cleaned/outlined-alert-notification.svg
Due: icons

chore(release): publish v0.13.6 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

fix(icons): add `outlined-alert-notification` icon
  packages/icons/src/assets/cleaned/outlined-alert-notification.svg
  packages/icons/src/assets/raw/outlined/outlined-alert-notification.svg
  packages/icons/src/fonts/natds-icons.eot
  packages/icons/src/fonts/natds-icons.svg
  packages/icons/src/fonts/natds-icons.ttf
  packages/icons/src/fonts/natds-icons.woff
  packages/icons/src/fonts/natds-icons.woff2
  packages/icons/src/natds-icons.css
  packages/icons/src/natds-icons.css.d.ts
  packages/icons/src/natds-icons.json
  packages/icons/src/natds-icons.swift
Due: icons

chore(release): publish v0.13.7 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, web

chore: remove --no-git-tag-version from lerna prerelease
  package.json
Due: none

chore(release): publish v0.14.0-alpha.DSY-1148.0 via lerna [skip ci]
  lerna.json
  packages/docs/package.json
  packages/icons/package.json
  packages/styles/package.json
  packages/web/package.json
Due: icons, styles, web

chore(deps): add \`alex\` as dependency
  .alexignore
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  TROUBLESHOOTING.md
  docs/adr/0003-typescript-usage.md
  docs/adr/0004-themes-usage.md
  docs/adr/0011-workflow-with-teams.md
  package.json
  yarn.lock
Due: none

fix(deps): pin dependency alex to 8.1.1
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @types/lodash to v4.14.158
  packages/web/package.json
  yarn.lock
Due: web

chore(release): publish v0.13.8 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: web

chore(deps): update dependency react-docgen-typescript to v1.20.1
  packages/docs/package.json
  yarn.lock
Due: none

chore(deps): update dependency codecov to v3.7.2
  packages/docs/package.json
  packages/icons/package.json
  packages/styles/package.json
  packages/web/package.json
  yarn.lock
Due: icons, styles, web

chore(deps): update dependency rollup to v2.22.2
  packages/icons/package.json
  packages/web/package.json
  yarn.lock
Due: icons, web

docs(docs): fix Table documentation grid
  packages/docs/src/components/Table/Table.docs.mdx
Due: none

test(web): fix tests and update snapshots
  packages/web/src/__tests__/TableFooter.spec.tsx
  packages/web/src/__tests__/TableHead.spec.tsx
  packages/web/src/__tests__/__snapshots__/TableFooter.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TableHead.spec.tsx.snap
Due: web
