Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: icons, styles, web

build(storybook): don't bypass default webpack rules
  packages/web/.storybook/rules/javascriptRule/index.js
  packages/web/.storybook/rules/typescriptRule/index.js
  packages/web/.storybook/webpack.config.js
Due: web

style(storybook): order JSON file keys
  packages/web/.storybook/tsconfig.json
Due: web

style(skeleton): ignore `@typescript-eslint/no-explicit-any` eslint error
  packages/web/src/Components/Skeleton/index.tsx
Due: web

fix(skeleton): add missing ISkeletonProps export
  packages/web/src/Components/Skeleton/index.tsx
Due: web

chore(release): publish v0.17.3 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: web

chore(deps): update dependency tsconfig-paths-webpack-plugin to v3.3.0
  packages/web/package.json
  yarn.lock
Due: web

chore(release): publish v0.17.4 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: web

chore(deps): update dependency concurrently to v5.3.0
  package.json
  yarn.lock
Due: none

ci: force publishing of releases, force git tag of prereleases
  package.json
Due: none

fix(storybook): don't ignore typescript checking on storybook build
  packages/web/.storybook/rules/typescriptRule/index.js
Due: web

fix(avatar): fix IThemeWeb import
  packages/web/src/Components/Avatar.tsx
Due: web

fix(skeleton): add missing "children" property
  packages/web/src/Components/Skeleton/ISkeletonProps.ts
Due: web

docs(storybook): add missing example to AppBar colors story
  packages/web/src/Components/AppBar/README.mdx
Due: web

docs(appbar): separate stories for AppBar colors
  packages/web/src/Components/AppBar/README.mdx
Due: web

chore(release): publish v0.17.5 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(web): add globals declaration file
  packages/web/globals.d.ts
Due: web

docs(web): refactor main READMEs
  packages/web/README.md
  packages/web/src/README.mdx
Due: web

docs(web): update components readme
  packages/web/src/Components/README.mdx
Due: web

docs(web): rename using cdn instructions
  packages/web/docs/using-cdn.mdx
Due: web

docs(web): add missing metadata to roadmap doc
  packages/web/docs/roadmap.mdx
Due: web

chore(web): add suport to markdown as module
  packages/web/.storybook/react-app-dev.d.ts
  packages/web/declaration.d.ts
  packages/web/tsconfig.json
  packages/web/typings.d.ts
Due: web

chore(storybook): add missing paths to stories
  packages/web/.storybook/main.js
Due: web

Revert "chore(web): add suport to markdown as module"
  packages/web/.storybook/react-app-dev.d.ts
  packages/web/declaration.d.ts
  packages/web/tsconfig.json
  packages/web/typings.d.ts
Due: web

chore(release): publish v0.17.6 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(deps): pin dependency @storybook/client-api to 5.3.19
  packages/web/package.json
  yarn.lock
Due: web

chore(release): publish v0.17.7 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(deps): update dependency enzyme-adapter-react-16 to v1.15.3
  packages/web/package.json
  yarn.lock
Due: web

chore(release): publish v0.17.8 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(deps): update dependency rollup to v2.23.1
  packages/icons/package.json
  packages/web/package.json
  yarn.lock
Due: icons, web

chore(release): publish v0.17.9 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(deps): update dependency sass-loader to v9.0.3
  packages/web/package.json
  yarn.lock
Due: web

chore(release): publish v0.17.10 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

Path conditions:
  icons: any of: packages/icons
  styles: any of: packages/styles
  web: any of: packages/web
