Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: icons, styles, web

docs: create icons doc
  packages/web/docs/icons.md
Due: web

docs: fix typo
  packages/web/docs/icons.md
Due: web

docs: create icons doc (#1239)
  packages/web/docs/icons.md
Due: web

chore: add steps to pipeline
  .cicd/build-setup.sh
  .cicd/integration-test.sh
  .cicd/package.sh
  .cicd/quality-check.sh
  .cicd/unit-test.sh
Due: none

chore: removes hooks
  package.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

chore: adds build to tests command
  package.json
Due: none

chore: adds release-npm step
  .cicd/release-npm.sh
Due: none

chore: removes echo build_number from build-storybook.sh
  .cicd/build-storybook.sh
Due: none

chore: separate build and build:storybook setup
  .cicd/build-storybook.sh
  .cicd/setup.sh
  package.json
Due: none

chore: test build_number
  .cicd/build-storybook.sh
Due: none

chore: change npm auth config
  .cicd/release-npm.sh
Due: none

chore: adds branch hard coded
  .cicd/release-npm.sh
Due: none

chore: adds git config step
  .cicd/configure-git.sh
  .cicd/release-npm.sh
  .cicd/setup.sh
  scripts/configure-git.sh
Due: none

chore: fixes npm config
  .cicd/release-npm.sh
Due: none

chore: fixes path
  .cicd/setup.sh
Due: none

chore: adds validation branch to release
  .cicd/release-npm.sh
Due: none

docs: fix broken link
  README.md
Due: none

docs: updates storybook link
  .github/ISSUE_TEMPLATE/bug_report.md
  packages/styles/README.md
Due: styles

chore(release): publish v1.0.1-alpha.DSY-1706.25.0 via lerna [skip ci]
  lerna.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

chore(release): publish v1.0.1-alpha.DSY-1706.26.0 via lerna [skip ci]
  lerna.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

chore(release): publish v1.0.1-alpha.DSY-1706.27.0 via lerna [skip ci]
  lerna.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

chore: test version release
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

chore(release): publish v1.0.2-alpha.0 via lerna [skip ci]
  lerna.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

chore(release): publish v1.0.2-alpha.1 via lerna [skip ci]
  lerna.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

v0.0.0
  package.json
Due: none

chore(release): publish v1.0.2-alpha.DSY-1706.30.0 via lerna [skip ci]
  lerna.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

chore(release): publish v1.0.1-alpha.0 via lerna [skip ci]
  lerna.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

chore(release): publish v1.0.1-alpha.DSY-1706.31.0 via lerna [skip ci]
  lerna.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

Path conditions:
  icons: any of: packages/icons
  styles: any of: packages/styles
  web: any of: packages/web
