Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: icons, styles, web

docs(web): update README with instructions to use cssPrefix with theme provider
  packages/web/README.md
Due: web

docs(web): update README with instructions to use `natds-icons`
  packages/web/README.md
Due: web

chore(dependabot): remove dependabot.yml
  .github/dependabot.yml
Due: none

chore(pipe) adds build command
  .cicd/build.sh
  package.json
Due: none

chore: point ci to dev branch
  .cicd/Jenkinsfile
Due: none

chore(pipe) add recursive to cp
  .cicd/build.sh
Due: none

chore(pipe) add build folder to gitignore
  .gitignore
Due: none

chore(pipe): add pull request storybook deploy
  .cicd/build.sh
Due: none

chore(pipe): adds some echos to track what is happen
  .cicd/build.sh
Due: none

Update build.sh
  .cicd/build.sh
Due: none

chore(web): bump @naturacosmeticos/natds-icons
  packages/web/package.json
Due: web

feat(web): remove natds-icons font loading. Now the user has the ability to decide when to load the
  packages/web/.gitignore
  packages/web/.storybook/preview-head.html
  packages/web/bin/copyAssetsToStorybook.sh
  packages/web/package.json
  packages/web/rollup.config.js
  packages/web/src/Components/AppBar/__snapshots__/AppBar.stories.storyshot
  packages/web/src/Components/Avatar/__snapshots__/Avatar.stories.storyshot
  packages/web/src/Components/Avatar/__snapshots__/Avatar.test.tsx.snap
  packages/web/src/Components/Badge/__snapshots__/Badge.stories.storyshot
  packages/web/src/Components/BottomNavigation/__snapshots__/BottomNavigation.stories.storyshot
  packages/web/src/Components/BottomNavigationAction/__snapshots__/BottomNavigationAction.stories.storyshot
  packages/web/src/Components/Breadcrumbs/__snapshots__/Breadcrumbs.stories.storyshot
  packages/web/src/Components/Button/__snapshots__/Button.stories.storyshot
  packages/web/src/Components/ButtonGroup/__snapshots__/ButtonGroup.stories.storyshot
  packages/web/src/Components/Card/__snapshots__/Card.stories.storyshot
  packages/web/src/Components/CardActions/__snapshots__/CardActions.stories.storyshot
  packages/web/src/Components/CardHeader/__snapshots__/CardHeader.stories.storyshot
  packages/web/src/Components/Chip/Chip.tsx
  packages/web/src/Components/Chip/__snapshots__/Chip.test.tsx.snap
  packages/web/src/Components/DrawerMenu/DrawerMenuItem/DrawerMenuItem.props.ts
  packages/web/src/Components/DrawerMenu/DrawerMenuItem/DrawerMenuItem.tsx
  packages/web/src/Components/DrawerMenu/DrawerMenuSection/DrawerMenuSection.tsx
  packages/web/src/Components/DrawerMenu/DrawerMenuSection/__snapshots__/DrawerMenuSection.test.tsx.snap
  packages/web/src/Components/DrawerMenu/__snapshots__/DrawerMenu.test.tsx.snap
  packages/web/src/Components/Icon/Icon.test.tsx
  packages/web/src/Components/Icon/Icon.tsx
  packages/web/src/Components/Icon/__snapshots__/Icon.test.tsx.snap
  packages/web/src/Components/Icon/index.ts
  packages/web/src/Components/InputStateHelpTextProvider/__snapshots__/InputStateHelpTextProvider.test.tsx.snap
  packages/web/src/Components/Intro/Intro.test.tsx
  packages/web/src/Components/Intro/__snapshots__/Intro.test.tsx.snap
  packages/web/src/Components/List/__snapshots__/List.test.tsx.snap
  packages/web/src/Components/Table/TableSortLabel/TableSortLabel.tsx
  packages/web/src/Components/Table/TableSortLabel/__snapshots__/TableSortLabel.test.tsx.snap
  packages/web/src/Components/TextField/__snapshots__/TextField.test.tsx.snap
  packages/web/src/index.ts
Due: web

chore(release): publish v1.0.0-alpha.0 via lerna [skip ci]
  lerna.json
  packages/web/package.json
  packages/web/rollup.config.js
  packages/web/src/Components/AppBar/__snapshots__/AppBar.stories.storyshot
  packages/web/src/Components/Avatar/__snapshots__/Avatar.stories.storyshot
  packages/web/src/Components/Avatar/__snapshots__/Avatar.test.tsx.snap
  packages/web/src/Components/Badge/__snapshots__/Badge.stories.storyshot
  packages/web/src/Components/BottomNavigation/__snapshots__/BottomNavigation.stories.storyshot
  packages/web/src/Components/BottomNavigationAction/__snapshots__/BottomNavigationAction.stories.storyshot
  packages/web/src/Components/Breadcrumbs/__snapshots__/Breadcrumbs.stories.storyshot
  packages/web/src/Components/Button/__snapshots__/Button.stories.storyshot
  packages/web/src/Components/ButtonGroup/__snapshots__/ButtonGroup.stories.storyshot
  packages/web/src/Components/Card/__snapshots__/Card.stories.storyshot
  packages/web/src/Components/CardActions/__snapshots__/CardActions.stories.storyshot
  packages/web/src/Components/CardHeader/__snapshots__/CardHeader.stories.storyshot
  packages/web/src/Components/Chip/__snapshots__/Chip.test.tsx.snap
  packages/web/src/Components/DrawerMenu/DrawerMenuSection/__snapshots__/DrawerMenuSection.test.tsx.snap
  packages/web/src/Components/DrawerMenu/__snapshots__/DrawerMenu.test.tsx.snap
  packages/web/src/Components/Icon/Icon.tsx
  packages/web/src/Components/Icon/__snapshots__/Icon.test.tsx.snap
  packages/web/src/Components/InputStateHelpTextProvider/__snapshots__/InputStateHelpTextProvider.test.tsx.snap
  packages/web/src/Components/Intro/__snapshots__/Intro.test.tsx.snap
  packages/web/src/Components/List/__snapshots__/List.test.tsx.snap
  packages/web/src/Components/Table/TableSortLabel/__snapshots__/TableSortLabel.test.tsx.snap
  packages/web/src/Components/TextField/__snapshots__/TextField.test.tsx.snap
Due: web

chore(web): upgrade natds-icons
  packages/web/package.json
  packages/web/src/Components/DrawerMenu/DrawerMenuItem/DrawerMenuItem.props.ts
  packages/web/src/Components/Icon/Icon.argTypes.ts
  packages/web/src/Components/Icon/Icon.props.ts
  packages/web/src/Components/InputStateHelpTextProvider/InputStateHelpTextProvider.tsx
  packages/web/src/Components/Table/TableSortLabel/TableSortLabel.tsx
  yarn.lock
Due: web

chore(release): publish v1.0.0-alpha.1 via lerna [skip ci]
  lerna.json
  packages/web/package.json
Due: web

feat(web): add cssPrefix option to isolate classes
  packages/web/src/Provider/Provider.props.ts
  packages/web/src/Provider/Provider.tsx
Due: web

chore(release): publish v1.0.0-alpha.2 via lerna [skip ci]
  lerna.json
  packages/web/package.json
  packages/web/src/Components/AppBar/__snapshots__/AppBar.stories.storyshot
  packages/web/src/Components/Avatar/__snapshots__/Avatar.stories.storyshot
  packages/web/src/Components/Avatar/__snapshots__/Avatar.test.tsx.snap
  packages/web/src/Components/Badge/__snapshots__/Badge.stories.storyshot
  packages/web/src/Components/BottomNavigation/__snapshots__/BottomNavigation.stories.storyshot
  packages/web/src/Components/BottomNavigationAction/__snapshots__/BottomNavigationAction.stories.storyshot
  packages/web/src/Components/Breadcrumbs/__snapshots__/Breadcrumbs.stories.storyshot
  packages/web/src/Components/Button/__snapshots__/Button.stories.storyshot
  packages/web/src/Components/ButtonGroup/__snapshots__/ButtonGroup.stories.storyshot
  packages/web/src/Components/Card/__snapshots__/Card.stories.storyshot
  packages/web/src/Components/CardActions/__snapshots__/CardActions.stories.storyshot
  packages/web/src/Components/CardHeader/__snapshots__/CardHeader.stories.storyshot
  packages/web/src/Components/Checkbox/__snapshots__/Checkbox.stories.storyshot
  packages/web/src/Components/ContextualBadge/__snapshots__/ContextualBadge.test.tsx.snap
  packages/web/src/Components/Fab/__snapshots__/Fab.test.tsx.snap
  packages/web/src/Components/Icon/__snapshots__/Icon.test.tsx.snap
  packages/web/src/Components/Intro/__snapshots__/Intro.test.tsx.snap
  packages/web/src/Components/SnackbarContent/__snapshots__/SnackbarContent.test.tsx.snap
  packages/web/src/Components/Spacing/__snapshots__/Spacing.test.tsx.snap
  packages/web/src/Components/Toolbar/__snapshots__/Toolbar.test.tsx.snap
Due: web

chore(release): publish v1.0.0-alpha.3 via lerna [skip ci]
  lerna.json
  packages/web/package.json
Due: web

fix(web): TextField with states border color, remove icon name from icon component
  packages/web/src/Components/AppBar/__snapshots__/AppBar.stories.storyshot
  packages/web/src/Components/Avatar/__snapshots__/Avatar.stories.storyshot
  packages/web/src/Components/Avatar/__snapshots__/Avatar.test.tsx.snap
  packages/web/src/Components/Badge/__snapshots__/Badge.stories.storyshot
  packages/web/src/Components/BottomNavigation/__snapshots__/BottomNavigation.stories.storyshot
  packages/web/src/Components/BottomNavigationAction/__snapshots__/BottomNavigationAction.stories.storyshot
  packages/web/src/Components/Breadcrumbs/__snapshots__/Breadcrumbs.stories.storyshot
  packages/web/src/Components/Button/__snapshots__/Button.stories.storyshot
  packages/web/src/Components/ButtonGroup/__snapshots__/ButtonGroup.stories.storyshot
  packages/web/src/Components/Card/__snapshots__/Card.stories.storyshot
  packages/web/src/Components/CardActions/__snapshots__/CardActions.stories.storyshot
  packages/web/src/Components/CardHeader/__snapshots__/CardHeader.stories.storyshot
  packages/web/src/Components/Chip/__snapshots__/Chip.test.tsx.snap
  packages/web/src/Components/DrawerMenu/DrawerMenuSection/__snapshots__/DrawerMenuSection.test.tsx.snap
  packages/web/src/Components/DrawerMenu/__snapshots__/DrawerMenu.test.tsx.snap
  packages/web/src/Components/Icon/Icon.tsx
  packages/web/src/Components/Icon/__snapshots__/Icon.test.tsx.snap
  packages/web/src/Components/Input/Input.styles.ts
  packages/web/src/Components/InputStateHelpTextProvider/__snapshots__/InputStateHelpTextProvider.test.tsx.snap
  packages/web/src/Components/Intro/__snapshots__/Intro.test.tsx.snap
  packages/web/src/Components/List/__snapshots__/List.test.tsx.snap
  packages/web/src/Components/Table/TableSortLabel/__snapshots__/TableSortLabel.test.tsx.snap
  packages/web/src/Components/TextField/__snapshots__/TextField.test.tsx.snap
Due: web

fix(web): remove root box shadow from text field
  packages/styles/src/__tests__/themes/avon/__snapshots__/avon.test.ts.snap
  packages/styles/src/__tests__/themes/bodyShop/__snapshots__/theBodyShop.test.ts.snap
  packages/styles/src/__tests__/themes/natura/__snapshots__/natura.test.ts.snap
  packages/styles/src/themes/avon/avon-dark.ts
  packages/styles/src/themes/avon/avon-light.ts
  packages/styles/src/themes/natura/natura-dark.ts
  packages/styles/src/themes/natura/natura-light.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-dark.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-light.ts
  packages/web/src/Components/Input/Input.styles.ts
  packages/web/src/Themes/__snapshots__/themes.test.tsx.snap
Due: styles, web

chore(release): publish v1.0.0-alpha.DSY-666.10030.0 via lerna [skip ci]
  lerna.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

feat(web): add maxLength to Field component + update TextField playground
  packages/web/src/Components/Field/Field.test.tsx
  packages/web/src/Components/Field/Field.tsx
  packages/web/src/Components/Field/__snapshots__/Field.test.tsx.snap
  packages/web/src/Components/TextField/TextField.stories.tsx
Due: web

chore(web): update snapshot test
  packages/web/src/Components/Field/__snapshots__/Field.test.tsx.snap
Due: web

chore(release): publish v1.0.0-alpha.DSY-666.10032.0 via lerna [skip ci]
  lerna.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

chore(release): publish v1.0.0-alpha.DSY-666.10065.0 via lerna [skip ci]
  lerna.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

chore: updates yarn.lock
  yarn.lock
Due: none

chore(release): publish v1.0.0 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, web

chore: update readme
  packages/web/README.md
Due: web

Update Jenkinsfile
  .cicd/Jenkinsfile
Due: none

chore: add printenv
  .cicd/build.sh
Due: none

chore: add printenv to setup.sh
  .cicd/build.sh
  .cicd/setup.sh
Due: none

Path conditions:
  icons: any of: packages/icons
  styles: any of: packages/styles
  web: any of: packages/web
