Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: icons, styles, web

chore(natds-react): initial setup
  packages/react/.gitignore
  packages/react/.storybook/main.js
  packages/react/.storybook/preview.js
  packages/react/README.md
  packages/react/babel.config.js
  packages/react/jest.config.js
  packages/react/package.json
  packages/react/src/components/Button/Button.stories.tsx
  packages/react/src/components/Button/Button.tsx
  packages/react/src/components/Button/button.css
  packages/react/tsconfig.json
  packages/react/yarn.lock
Due: none

chore: changes eslint rules from error to warning
  .editorconfig
  .eslintrc.js
Due: none

chore(natds-react): setups build:storybook
  .cicd/build-storybook.sh
  lerna.json
  package.json
  packages/react/package.json
  packages/react/yarn.lock
  packages/web/package.json
  yarn.lock
Due: web

chore(natds-react): updates build-storybook
  .cicd/build-storybook.sh
  package.json
  packages/react/package.json
  packages/web/jest.config.js
  packages/web/package.json
  packages/web/src/Components/AppBarHighlight/AppBarHighlight.test.tsx
  packages/web/src/Components/AppBarHighlight/__snapshots__/AppBarHighlight.test.tsx.snap
  packages/web/src/Components/Storyshots.test.tsx
  yarn.lock
Due: web

chore: removes deprecated lint rules
  .eslintrc.js
Due: none

chore: overrides lint rules to packages/react
  .eslintrc.js
Due: none

chore(natds-react): adds welcome docs
  .editorconfig
  packages/react/.storybook/main.js
  packages/react/CHANGELOG.md
  packages/react/README.md
  packages/react/docs/changelog.stories.mdx
  packages/react/docs/getting-started.stories.mdx
Due: none

chore(natds-react): removes duplicates devDependencies
  package.json
  packages/react/package.json
  packages/react/src/index.ts
  packages/styles/package.json
  packages/web/package.json
  yarn.lock
Due: styles, web

chore(natds-react): updates jest and package.json config
  package.json
  packages/react/jest.config.js
  packages/react/package.json
  packages/react/rollup.config.js
Due: none

chore(natds-react): creates a simple button component
  packages/react/index.ts
  packages/react/src/components/Button/Button.props.ts
  packages/react/src/components/Button/Button.stories.tsx
  packages/react/src/components/Button/Button.test.tsx
  packages/react/src/components/Button/Button.tsx
  packages/react/src/components/Button/__snapshots__/Button.test.tsx.snap
  packages/react/src/components/Button/index.ts
  packages/react/src/index.ts
Due: none

chore: fixes yarn.lock
  packages/react/index.ts
  packages/react/src/index.ts
  yarn.lock
Due: none

chore: removes unused files
  .alexignore
  .travis.yml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  CONTRIBUTING.pt-br.md
  docs/tech-roadmap.md
  package.json
  packages/web/docs/contributing.pt-br.stories.mdx
  renovate.json
  scripts/build-storybook.sh
  scripts/helpers/addVersionOnConfig.js
  scripts/helpers/prependVersionToArray.js
  scripts/helpers/prependVersionToArray.test.js
  scripts/helpers/uniqueArray.js
  scripts/helpers/uniqueArray.test.js
  stryker.conf.js
  yarn.lock
Due: web

chore: fixes yarn.lock
  yarn.lock
Due: none

chore(natds-react): removes button.css
  packages/react/src/components/Button/button.css
Due: none

chore(natds-react): setup storybook theme
  package.json
  packages/react/.storybook/manager.js
  packages/react/.storybook/preview.js
  packages/react/.storybook/theme.js
  yarn.lock
Due: none

chore(natds-react): setup ThemeProvider
  packages/react/.storybook/decorators/themeDecorator.js
  packages/react/.storybook/globalTypes/index.js
  packages/react/.storybook/preview.js
  packages/react/src/Provider/Provider.props.tsx
  packages/react/src/Provider/Provider.tsx
  packages/react/src/Provider/index.ts
  packages/react/src/index.ts
Due: none

chore(natds-react): removes declaration.d.ts
  packages/react/declaration.d.ts
  packages/react/tsconfig.json
Due: none

chore(natds-react): removes comments
  packages/react/rollup.config.js
  packages/react/src/components/Button/Button.stories.tsx
Due: none

chore: updates eslint config
  .eslintrc.js
  packages/styles/.eslintrc.js
  packages/web/.eslintrc.js
Due: styles, web

chore: setup eslint from eslint-config-natds
  .eslintrc.js
  package.json
  packages/react/package.json
  packages/styles/.eslintrc.js
  packages/styles/package.json
  packages/web/.eslintrc.js
  packages/web/package.json
  yarn.lock
Due: styles, web

chore(natds-react): setup storybook theme
  package.json
  packages/react/.storybook/decorators/themeDecorator.js
  packages/react/.storybook/globalTypes/index.js
  packages/react/.storybook/manager.js
  packages/react/.storybook/preview.js
  packages/react/.storybook/theme.js
  packages/react/src/Provider/Provider.props.tsx
  packages/react/src/Provider/Provider.tsx
  packages/react/src/Provider/index.ts
  packages/react/src/index.ts
  yarn.lock
Due: none

chore(release): publish v1.5.4 via lerna [skip-ci]
  CHANGELOG.md
  lerna.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, web

chore: updates the command lines to run Lint and Storybook
  package.json
  packages/react/package.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

chore: disables the no-unresolved lint rule
  .eslintrc.js
Due: none

chore: updates files according to Lint rules
  packages/react/src/Provider/Provider.props.tsx
  packages/react/src/Provider/Provider.tsx
  packages/react/src/Provider/index.ts
  packages/react/src/index.ts
Due: none

chore(natds-react): renames Provider to ThemeProvider
  packages/react/.storybook/decorators/themeDecorator.js
  packages/react/src/Provider/Provider.tsx
  packages/react/src/Provider/index.ts
  packages/react/src/ThemeProvider/ThemeProvider.props.tsx
  packages/react/src/ThemeProvider/ThemeProvider.tsx
  packages/react/src/ThemeProvider/index.ts
Due: none

chore: updates eslint rules
  .eslintrc.js
Due: none

chore: moves dependencies to natds-react package
  package.json
  packages/react/package.json
Due: none

chore: improves storybook theme setup
  packages/react/.storybook/globalTypes/index.js
  packages/react/.storybook/main.js
  packages/react/.storybook/preview.js
Due: none

chore: improves button component example
  .eslintrc.js
  packages/react/src/ThemeProvider/ThemeProvider.props.ts
  packages/react/src/components/Button/Button.props.ts
  packages/react/src/components/Button/Button.stories.tsx
  packages/react/src/components/Button/Button.styles.ts
  packages/react/src/components/Button/Button.tsx
Due: none

chore(natds-react): initial setup
  packages/react/src/components/Button/button.css
  packages/react/tsconfig.json
  packages/react/yarn.lock
Due: none

chore(natds-react): configs rollup
  packages/react/declaration.d.ts
  packages/react/package.json
  packages/react/tsconfig.json
  packages/react/yarn.lock
Due: none

chore(natds-react): setups build:storybook
  packages/react/package.json
  packages/react/yarn.lock
  yarn.lock
Due: none

chore(natds-react): removes duplicates devDependencies
  package.json
  packages/react/src/index.ts
  yarn.lock
Due: none

chore(natds-react): updates build-storybook
  packages/web/jest.config.js
  yarn.lock
Due: web

chore(natds-react): adds welcome docs
  packages/react/CHANGELOG.md
Due: none

chore(natds-react): creates a simple button component
  packages/react/index.ts
  packages/react/src/index.ts
Due: none

chore(natds-react): initial setup
  packages/react/yarn.lock
Due: none

Path conditions:
  icons: any of: packages/icons
  styles: any of: packages/styles
  web: any of: packages/web
