Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: icons, styles, web

chore(release): publish v1.1.0 via lerna [ci skip]
  CHANGELOG.md
  lerna.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: web

Create pull_request_template.md
  .github/pull_request_template.md
Due: none

chore: removes older scripts
  .travis.yml
  scripts/build-storybook.sh
  scripts/helpers/addVersionOnConfig.js
  scripts/helpers/prependVersionToArray.js
  scripts/helpers/prependVersionToArray.test.js
  scripts/helpers/uniqueArray.js
  scripts/helpers/uniqueArray.test.js
Due: none

chore(deps): update dependency @babel/preset-env to v7.12.11
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency @types/react-test-renderer to v16.9.4
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency chromatic to v5.5.0
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency alex to v9.1.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency eslint to v7.16.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency husky to v4.3.6
  package.json
  yarn.lock
Due: none

fix(storybook): removes second displayName on Tag component
  packages/web/src/Components/Tag/Tag.tsx
Due: web

chore(release): publish v1.1.1 via lerna [ci skip]
  CHANGELOG.md
  lerna.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: web

Revert "chore: removes older scripts"
  .travis.yml
  scripts/build-storybook.sh
  scripts/helpers/addVersionOnConfig.js
  scripts/helpers/prependVersionToArray.js
  scripts/helpers/prependVersionToArray.test.js
  scripts/helpers/uniqueArray.js
  scripts/helpers/uniqueArray.test.js
Due: none

test(tbs): updates snapshots
  packages/styles/src/__tests__/themes/bodyShop/__snapshots__/theBodyShop.test.ts.snap
  packages/styles/src/__tests__/tokens/__snapshots__/tokens.test.ts.snap
  packages/web/src/Themes/__snapshots__/themes.test.tsx.snap
Due: styles, web

feat(Counter): add new Counter component and unit tests
  packages/web/src/Components/Counter/Container.argTypes.ts
  packages/web/src/Components/Counter/Counter.props.ts
  packages/web/src/Components/Counter/Counter.stories.tsx
  packages/web/src/Components/Counter/Counter.styles.ts
  packages/web/src/Components/Counter/Counter.test.tsx
  packages/web/src/Components/Counter/Counter.tsx
  packages/web/src/Components/Counter/__snapshots__/Counter.test.tsx.snap
  packages/web/src/Components/Counter/constants.ts
  packages/web/src/Components/Counter/index.ts
  packages/web/src/index.ts
Due: web

styles(counter): removes marginLeft of ButtonGroup
  packages/styles/src/themes/avon/avon-dark.ts
  packages/styles/src/themes/avon/avon-light.ts
  packages/styles/src/themes/natura/natura-dark.ts
  packages/styles/src/themes/natura/natura-light.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-dark.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-light.ts
  packages/web/src/Themes/__snapshots__/themes.test.tsx.snap
Due: styles, web

test(Counter): improve test coverage for Counter component
  packages/web/src/Components/Counter/Container.argTypes.ts
  packages/web/src/Components/Counter/Counter.props.ts
  packages/web/src/Components/Counter/Counter.styles.test.tsx
  packages/web/src/Components/Counter/Counter.styles.ts
  packages/web/src/Components/Counter/Counter.test.tsx
  packages/web/src/Components/Counter/Counter.tsx
  packages/web/src/Components/Counter/__snapshots__/Counter.test.tsx.snap
Due: web

test(counter) updates snapshot tests of styles
  packages/styles/src/__tests__/themes/avon/__snapshots__/avon.test.ts.snap
  packages/styles/src/__tests__/themes/bodyShop/__snapshots__/theBodyShop.test.ts.snap
  packages/styles/src/__tests__/themes/natura/__snapshots__/natura.test.ts.snap
Due: styles

test(Counter): improve jest branch coverage
  packages/web/src/Components/Counter/Counter.props.ts
  packages/web/src/Components/Counter/Counter.styles.test.tsx
  packages/web/src/Components/Counter/Counter.test.tsx
  packages/web/src/Components/Counter/Counter.tsx
  packages/web/src/Themes/__snapshots__/themes.test.tsx.snap
Due: web

test(counter) updates snapshot tests of styles
  packages/web/src/Themes/__snapshots__/themes.test.tsx.snap
Due: web

chore(release): publish v1.2.0-alpha.DSY-1128.8.0 via lerna [ci skip]
  lerna.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

test(Rating): add unit tests and improve Rating style functions
  packages/web/src/Components/Rating/Rating.styles.test.tsx
  packages/web/src/Components/Rating/Rating.styles.ts
  packages/web/src/Components/Rating/Rating.tsx
  packages/web/src/Components/Rating/__snapshots__/Rating.test.tsx.snap
Due: web

chore(release): publish v1.0.2-alpha.DSY-1702.3.0 via lerna [ci skip]
  lerna.json
  packages/web/package.json
Due: web

WIP(rating): create rating component
  packages/web/src/Components/Rating/Rating.tsx
  packages/web/src/Components/Rating/index.ts
  packages/web/src/index.ts
Due: web

WIP(rating): create component story
  packages/web/src/Components/Rating/Rating.argTypes.ts
  packages/web/src/Components/Rating/Rating.stories.tsx
Due: web

refactor(rating): remove unused prop from argTypes file
  packages/web/src/Components/Rating/Rating.argTypes.ts
Due: web

refactor(rating): update component argTypes to have a max and min value in the storybook controls
  packages/web/src/Components/Rating/Rating.argTypes.ts
Due: web

refactor(rating): add custom icon and max rate value
  packages/web/src/Components/Rating/Rating.stories.tsx
  packages/web/src/Components/Rating/Rating.tsx
Due: web

WIP(rating): add component props
  packages/web/src/Components/Rating/Rating.props.ts
  packages/web/src/Components/Rating/__fixtures__/sizes.ts
  packages/web/src/Components/Rating/index.ts
  packages/web/src/index.ts
Due: web

WIP(rating): update component by adding the 'size' and 'rate' attributes
  packages/web/src/Components/Rating/Rating.stories.tsx
  packages/web/src/Components/Rating/Rating.styles.ts
  packages/web/src/Components/Rating/Rating.tsx
Due: web

test(rating): add component test and fix errors shown by the test
  packages/web/src/Components/Rating/Rating.styles.ts
  packages/web/src/Components/Rating/Rating.test.tsx
  packages/web/src/Components/Rating/Rating.tsx
  packages/web/src/Components/Rating/__snapshots__/Rating.test.tsx.snap
Due: web

chore(release): publish v1.1.0-alpha.DSY-1702.4.0 via lerna [ci skip]
  lerna.json
  packages/web/package.json
Due: web

chore(rating): apply for dynamic import
  packages/web/src/Components/Rating/Rating.argTypes.ts
  packages/web/src/Components/Rating/Rating.stories.tsx
Due: web

chore(counter): apply dynamic import
  packages/web/src/Components/Counter/Counter.stories.tsx
Due: web

feat(Image): update Image component
  packages/web/rollup.config.js
  packages/web/src/Components/Image/Image.argTypes.ts
  packages/web/src/Components/Image/Image.props.ts
  packages/web/src/Components/Image/Image.stories.tsx
  packages/web/src/Components/Image/Image.styles.ts
  packages/web/src/Components/Image/Image.test.tsx
  packages/web/src/Components/Image/Image.tsx
  packages/web/src/Components/Image/__snapshots__/Image.test.tsx.snap
  packages/web/src/Components/Image/images/product-empty.png
  packages/web/src/Components/__snapshots__/sign-up-step1.stories.storyshot
Due: web

refactor(Image): fix typing error
  packages/web/src/Components/Image/Image.tsx
Due: web

chore(release): publish v2.0.0-alpha.DSY-1184.1.0 via lerna [ci skip]
  lerna.json
  packages/web/package.json
Due: web

feat(rating): add new component
  lerna.json
  packages/web/package.json
  packages/web/src/Components/Rating/Rating.argTypes.ts
  packages/web/src/Components/Rating/Rating.props.ts
  packages/web/src/Components/Rating/Rating.stories.tsx
  packages/web/src/Components/Rating/Rating.styles.test.tsx
  packages/web/src/Components/Rating/Rating.styles.ts
  packages/web/src/Components/Rating/Rating.test.tsx
  packages/web/src/Components/Rating/Rating.tsx
  packages/web/src/Components/Rating/__fixtures__/sizes.ts
  packages/web/src/Components/Rating/__snapshots__/Rating.test.tsx.snap
  packages/web/src/Components/Rating/index.ts
  packages/web/src/index.ts
Due: web

Path conditions:
  icons: any of: packages/icons
  styles: any of: packages/styles
  web: any of: packages/web
