Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: icons, styles, web

fix: remove duplicated version from versions JSON
  packages/docs/dist/versions_config.json
Due: none

chore: update Typo CI config file
  .typo-ci.yml
Due: none

chore(deps): update package lock file
  yarn.lock
Due: none

test(web): update snapshot for Icon component
  packages/web/src/__tests__/Icon/__snapshots__/index.spec.tsx.snap
Due: web

chore(release): publish v0.9.1-alpha.DSY-1161.0 via lerna [skip ci]
  lerna.json
  packages/docs/package.json
  packages/icons/package.json
  packages/styles/package.json
  packages/web/package.json
Due: icons, styles, web

chore(release): publish v0.9.1 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

feat(web): [DSY-510] add Select component
  packages/web/src/Components/Select/index.tsx
  packages/web/src/__tests__/Select/__snapshots__/index.spec.tsx.snap
  packages/web/src/__tests__/Select/index.spec.tsx
Due: web

chore(release): publish v0.10.0-alpha.DSY-510.0 via lerna [skip ci]
  lerna.json
  packages/docs/package.json
  packages/icons/package.json
  packages/styles/package.json
  packages/web/package.json
Due: icons, styles, web

ci: build storybook on pre-releases
  .travis.yml
  scripts/__tests__/.gitkeep
  scripts/__tests__/helpers/addVersionOnConfig.test.js
  scripts/addVersionOnConfig.js
  scripts/build-storybook-prerelease.sh
  scripts/build-storybook.sh
  scripts/helpers/buildVersion.js
  scripts/helpers/getVersionFromMergeMessage.js
  scripts/helpers/removeAlphaFromVersion.js
Due: none

refactor: move addVersionOnConfig.js back to helpers
  scripts/build-storybook.sh
  scripts/helpers/addVersionOnConfig.js
Due: none

fix(docs): remove duplicated versions config
  packages/docs/dist/versions_config.json
Due: none

chore(release): publish v0.9.2-alpha.DSY-512.0 via lerna [skip ci]
  lerna.json
  packages/docs/package.json
  packages/icons/package.json
  packages/styles/package.json
  packages/web/package.json
Due: icons, styles, web

feat(web): add Alert component
  packages/web/src/Components/Alert/index.tsx
  packages/web/src/__tests__/Alert/index.spec.tsx
Due: web

chore(deps): update dependency jest-styled-components to v7
  packages/web/package.json
  yarn.lock
Due: web

chore: group styled-components dependencies
  renovate.json
Due: none

chore: fix trailing comma
  renovate.json
Due: none

fix(deps): upgrade styled-components dependencies
  packages/web/package.json
  packages/web/src/__tests__/__snapshots__/ContextualBadge.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/DatePicker.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/DrawerBody.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/DrawerFooter.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/DrawerHeader.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/DrawerMenu.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Intro.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/KeyboardDatePicker.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Popover.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TextField.spec.tsx.snap
Due: web

chore(deps): upgrade yarn lock file
  yarn.lock
Due: none

chore(release): publish v0.9.2-alpha.DSY-1162.0 via lerna [skip ci]
  lerna.json
  packages/docs/package.json
  packages/icons/package.json
  packages/styles/package.json
  packages/web/package.json
Due: icons, styles, web

chore: create new branch if it still does not exist
  scripts/build-storybook.sh
Due: none

chore(deps): update dependency @types/react-native to v0.62.18
  packages/docs/package.json
  yarn.lock
Due: none

chore(release): publish v0.9.2 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
Due: none

ci(docs): push storybook preview to correct branch
  scripts/build-storybook.sh
  scripts/helpers/addVersionOnConfig.js
Due: none

chore(deps): update styled-components dependencies
  packages/web/package.json
  yarn.lock
Due: web

chore: remove alpha preid from packages versions
  packages/icons/package.json
  packages/styles/package.json
  packages/web/package.json
Due: icons, styles, web

chore(release): publish v0.9.3 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(deps): update dependency @types/react to v16.9.42
  packages/docs/package.json
  yarn.lock
Due: none

feat(web): create Table components
  packages/web/src/Components/Table/Table.tsx
  packages/web/src/Components/Table/TableBody.tsx
  packages/web/src/Components/Table/TableCell.tsx
  packages/web/src/Components/Table/TableContainer.tsx
  packages/web/src/Components/Table/TableFooter.tsx
  packages/web/src/Components/Table/TableHead.tsx
  packages/web/src/Components/Table/TablePagination.tsx
  packages/web/src/Components/Table/TableRow.tsx
  packages/web/src/Components/Table/TableSortLabel.tsx
  packages/web/src/__tests__/Table.spec.tsx
  packages/web/src/__tests__/TableRow.spec.tsx
  packages/web/src/__tests__/__snapshots__/Table.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TableRow.spec.tsx.snap
  packages/web/src/index.ts
Due: web

feat(docs): add Table components in storybook
  packages/docs/src/components/Table/Interactive.tsx
  packages/docs/src/components/Table/Table.docs.mdx
  packages/docs/src/components/Table/Table.story.tsx
  packages/docs/src/components/Table/sections.tsx
Due: none

refactor(web): fix typo, and remove unused components in Table test
  packages/web/src/Components/Table/Table.tsx
  packages/web/src/__tests__/Table.spec.tsx
  packages/web/src/__tests__/__snapshots__/Table.spec.tsx.snap
Due: web

refactor(docs): fix striped typo, remove unused libs, variables and change icon size
  packages/docs/src/components/Table/Interactive.tsx
  packages/docs/src/components/Table/Table.docs.mdx
  packages/docs/src/components/Table/sections.tsx
Due: none

chore(release): publish v0.9.4 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
Due: none

test(web): update Table snapshot
  packages/web/src/__tests__/__snapshots__/Table.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TableRow.spec.tsx.snap
Due: web

fix(web): update TextField snapshot and yarn lock file
  packages/web/src/__tests__/__snapshots__/TextField.spec.tsx.snap
Due: web

chore(deps): update yarn lock file
  yarn.lock
Due: none

chore(release): publish v0.9.5 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: web

Path conditions:
  icons: any of: packages/icons
  styles: any of: packages/styles
  web: any of: packages/web
