Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: icons, styles, web

codecov.yml:

coverage:
  status:
    project:
      default: off
      icons:
        target: auto
        flags:
          - icons
      styles:
        target: auto
        flags:
          - styles
      web:
        target: auto
        flags:
          - web
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
flags:
  icons:
    paths:
      - packages/icons
    carryforward: false
  styles:
    paths:
      - packages/styles
    carryforward: false
  web:
    paths:
      - packages/web
    carryforward: false

style: format helper scripts with eslint
  scripts/helpers/addVersionOnConfig.js
  scripts/helpers/uniqueArray.js
Due: none

chore: add alex to `lint:staged` script
  package.json
Due: none

chore: try to fix storybook alpha buil
  scripts/build-storybook.sh
Due: none

chore: add alex to lint and format scripts
  package.json
Due: none

feat(icons): add new filled icon: \`filled-content-divulgation\`
  packages/icons/src/assets/cleaned/filled-content-divulgation.svg
  packages/icons/src/assets/raw/filled/filled-content-divulgation.svg
  packages/icons/src/fonts/natds-icons.eot
  packages/icons/src/fonts/natds-icons.svg
  packages/icons/src/fonts/natds-icons.ttf
  packages/icons/src/fonts/natds-icons.woff
  packages/icons/src/fonts/natds-icons.woff2
  packages/icons/src/natds-icons.css
  packages/icons/src/natds-icons.css.d.ts
  packages/icons/src/natds-icons.json
  packages/icons/src/natds-icons.swift
Due: icons

chore(release): publish v0.14.0-alpha.DSY-1255.0 via lerna [skip ci]
  lerna.json
  packages/docs/package.json
  packages/icons/package.json
  packages/styles/package.json
  packages/web/package.json
Due: icons, styles, web

fix(docs): add missing indeterminate knob - Closes #699
  packages/docs/src/components/SelectControl/Checkbox/Checkbox.story.tsx
Due: none

fix(docs): add 400 and 500 font weights
  packages/docs/.storybook/preview-head.html
Due: none

refactor(web): replace hardcoded fontSize and fontWeight with tokens
  packages/web/src/Components/Table/Table.tsx
Due: web

chore(web): add todo comment for design/tech debt
  packages/web/src/Components/Table/TableRow.tsx
Due: web

fix(styles): set correct font weights to typography tokens
  packages/styles/src/__tests__/themes/avon/__snapshots__/avon.spec.ts.snap
  packages/styles/src/__tests__/themes/bodyShop/__snapshots__/theBodyShop.spec.ts.snap
  packages/styles/src/__tests__/themes/natura/__snapshots__/natura.spec.ts.snap
  packages/styles/src/__tests__/tokens/__snapshots__/tokens.spec.ts.snap
  packages/styles/src/tokens/fontSize/index.ts
Due: styles

test(web): update component snapshots
  packages/web/src/__tests__/__snapshots__/Avatar.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/DrawerHeader.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Fab.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Intro.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Popover.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TextField.spec.tsx.snap
  packages/web/src/__tests__/themes/natura/__snapshots__/natura.spec.tsx.snap
Due: web

style(docs): remove white-space
  packages/docs/src/components/Table/Components/TableWithSelectWrapper.tsx
Due: none

test(web): add tests to Table Component and update snapshot
  packages/web/src/__tests__/Table.spec.tsx
  packages/web/src/__tests__/__snapshots__/Table.spec.tsx.snap
Due: web

chore(release): publish v0.14.0 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

refactor(web): use hexToRgba lib to use hexadecimal with alpha
  packages/web/src/Components/Table/Table.tsx
  packages/web/src/Components/Table/TableRow.tsx
Due: web

refactor(web): add hexToRgba variable
  packages/web/src/Components/Table/Table.tsx
  packages/web/src/Components/Table/TableRow.tsx
Due: web

style(web): fix import/order on Table and TableRow components
  packages/web/src/Components/Table/Table.tsx
  packages/web/src/Components/Table/TableRow.tsx
Due: web

chore(release): publish v0.15.0 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

build: add GitHub package build action
  .github/workflows/npm-publish.yml
Due: none

refactor(styles): use \`getBaseTheme()\` on avon dark and light themes
  packages/styles/src/__tests__/themes/avon/__snapshots__/avon-dark.spec.ts.snap
  packages/styles/src/__tests__/themes/avon/__snapshots__/avon-light.spec.ts.snap
  packages/styles/src/__tests__/themes/avon/avon-dark.spec.ts
  packages/styles/src/__tests__/themes/avon/avon-light.spec.ts
  packages/styles/src/__tests__/themes/avon/avon.spec.ts
  packages/styles/src/__tests__/themes/natura/__snapshots__/natura-light.spec.ts.snap
  packages/styles/src/themes/avon/avon-dark.ts
  packages/styles/src/themes/avon/avon-light.ts
  packages/styles/src/themes/natura/natura-dark.ts
  packages/styles/src/themes/natura/natura-light.ts
Due: styles

fix(docs): fix logo image import on Storybook
  packages/docs/.storybook/theme.js
Due: none

style(docs): remove unused var from webpack config
  packages/docs/.storybook/webpack.config.js
Due: none

chore(deps): add `@storybook/addons` as dependency
  packages/docs/package.json
  yarn.lock
Due: none

perf(docs): add lazy loading to AppBars imported components
  packages/docs/src/all/AppBars.tsx
Due: none

chore(release): publish v0.15.1-alpha.DSY-1098.0 via lerna [skip ci]
  lerna.json
  packages/docs/package.json
  packages/icons/package.json
  packages/styles/package.json
  packages/web/package.json
Due: icons, styles, web

chore(deps): update dependency css-loader to v4
  packages/docs/package.json
  yarn.lock
Due: none

chore(deps): update dependency eslint-plugin-react to v7.20.4
  package.json
  yarn.lock
Due: none

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(release): publish v0.15.1 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
Due: none
