Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: icons, styles, web

chore(styles): removes getDefaultThemes
  packages/web/src/hooks/useDefaultTheme/index.ts
Due: web

chore(table): updates styles
  packages/web/src/Components/Table/Table.tsx
Due: web

test(natds-web): updates tests from useDefaultTheme
  packages/web/src/Components/Table/Table.tsx
  packages/web/src/Themes/__snapshots__/themes.test.tsx.snap
  packages/web/src/hooks/useDefaultTheme/index.test.ts
Due: web

chore(release): publish v2.0.0-alpha.DSY-1830.1.0 via lerna [ci skip]
  lerna.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

fix(ithemeweb): exports Spacing type from material-UI
  packages/web/src/Themes/IThemeWeb.ts
Due: web

chore(natds-web): adds correct type to useDefaultTheme
  packages/web/src/Components/Table/Table.tsx
  packages/web/src/hooks/useDefaultTheme/index.ts
  packages/web/src/index.ts
Due: web

docs(natds-web): adds styling option on README
  packages/web/README.md
Due: web

chore(natds-web): refatoring themes to pass correct type
  packages/web/jest.config.js
  packages/web/src/Themes/IThemeWeb.ts
  packages/web/src/Themes/IThemesWeb.ts
  packages/web/src/Themes/ThemeBrandName.ts
  packages/web/src/Themes/createThemesObject.ts
  packages/web/src/Themes/parseTheme.ts
  packages/web/src/Themes/themes.ts
Due: web

docs(natds-web): improves styling instructions
  packages/web/README.md
Due: web

chore(release): publish v1.5.1-DSY-000.0 via lerna [ci skip]
  lerna.json
  packages/web/package.json
Due: web

chore: test ci env
  .cicd/configure-git.sh
Due: none

chore: add config to fail on error, show last commit message
  .cicd/build-storybook.sh
  .cicd/configure-git.sh
  .cicd/get-branch-name.sh
  .cicd/quality-check.sh
  .cicd/release-npm.sh
  .cicd/setup.sh
Due: none

chore: test [skip-ci]
  .cicd/skip-commit.sh
Due: none

chore: add check to skip commits on pipeline steps
  .cicd/build-storybook.sh
  .cicd/configure-git.sh
  .cicd/quality-check.sh
  .cicd/release-npm.sh
  .cicd/setup.sh
  .cicd/skip-commit.sh
Due: none

chore: fix aws deploy on skipped commits [skip-ci]
  .cicd/build-storybook.sh
Due: none

chore: add analytics code to storybook
  packages/web/.storybook/manager-head.html
Due: web

chore: change scripts to test pipeline memory issues
  package.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

chore: change scripts to test pipeline memory issues
  package.json
Due: none

chore: change storybook and styleguilde build config
  packages/web/.storybook/main.js
  styleguide.config.js
Due: web

chore: test jest runInBand
  package.json
Due: none

refactor(divider): refactoring divider
  packages/web/src/Components/Divider/Divider.props.ts
  packages/web/src/Components/Divider/Divider.stories.tsx
  packages/web/src/Components/Divider/Divider.tsx
  packages/web/src/Components/Divider/__fixtures__/variants.ts
Due: web

chore(release): publish v1.5.1-alpha.DSY-828.1.0 via lerna [ci skip]
  lerna.json
  packages/web/package.json
Due: web

style(divider): updates color token for Divider
  packages/styles/src/themes/avon/avon-dark.ts
  packages/styles/src/themes/avon/avon-light.ts
  packages/styles/src/themes/natura/natura-dark.ts
  packages/styles/src/themes/natura/natura-light.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-dark.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-light.ts
Due: styles

chore(divider): removes other Divider props that appeared in the storybook
  packages/web/src/Components/Divider/Divider.props.ts
  packages/web/src/Components/Divider/Divider.stories.tsx
  packages/web/src/Components/Divider/Divider.tsx
Due: web

test(divider): updates tests from styles
  packages/styles/src/__tests__/themes/avon/__snapshots__/avon.test.ts.snap
  packages/styles/src/__tests__/themes/bodyShop/__snapshots__/theBodyShop.test.ts.snap
  packages/styles/src/__tests__/themes/natura/__snapshots__/natura.test.ts.snap
  packages/web/src/Themes/__snapshots__/themes.test.tsx.snap
Due: styles, web

chore(release): publish v1.5.1-alpha.DSY-828.5.0 via lerna [ci skip]
  lerna.json
  packages/styles/package.json
  packages/web/package.json
Due: styles, web

chore(divider): removes unused variables
  packages/web/src/Components/Divider/Divider.stories.tsx
Due: web

refactor(card): refactoring Card component
  packages/web/src/Components/Card/Card.argTypes.ts
  packages/web/src/Components/Card/Card.props.ts
  packages/web/src/Components/Card/Card.tsx
  packages/web/src/Components/Card/__snapshots__/Card.stories.storyshot
  packages/web/src/Components/Card/index.ts
  packages/web/src/Components/Collapse/Collapse.stories.tsx
  packages/web/src/Components/GridContainer/Template.tsx
  packages/web/src/Components/Popover/Popover.tsx
  packages/web/src/examples/sign-in.stories.tsx
Due: web

chore(release): publish v1.5.1-alpha.DSY-809.1.0 via lerna [ci skip]
  lerna.json
  packages/web/package.json
Due: web

chore(card): adds examples on Storybook
  packages/web/src/Components/Card/Card.props.ts
  packages/web/src/Components/Card/Card.stories.tsx
  packages/web/src/Components/Card/Card.template.tsx
  packages/web/src/examples/product-card.stories.tsx
Due: web

chore(card): updates test
  packages/web/src/Components/Card/__snapshots__/Card.stories.storyshot
  packages/web/src/Components/Checkbox/__snapshots__/Checkbox.stories.storyshot
  packages/web/src/Components/Chip/__snapshots__/Chip.stories.storyshot
  packages/web/src/Components/__snapshots__/product-card.stories.storyshot
  packages/web/src/Components/index.test.tsx
  packages/web/src/index.ts
Due: web

chore(release): publish v1.5.1-alpha.DSY-809.4.0 via lerna [ci skip]
  lerna.json
  packages/web/package.json
Due: web

chore(card): changes paperProps to cardProps
  packages/web/src/Components/Card/Card.props.ts
  packages/web/src/Components/Card/Card.stories.tsx
  packages/web/src/Components/Card/Card.tsx
Due: web

chore(card): adds cardMedia component
  packages/web/src/Components/Card/CardMedia/CardMedia.props.ts
  packages/web/src/Components/Card/CardMedia/CardMedia.stories.tsx
  packages/web/src/Components/Card/CardMedia/CardMedia.tsx
  packages/web/src/Components/Card/CardMedia/__snapshots__/CardMedia.stories.storyshot
  packages/web/src/Components/Card/CardMedia/index.ts
  packages/web/src/Components/Card/__snapshots__/Card.stories.storyshot
  packages/web/src/Components/Checkbox/__snapshots__/Checkbox.stories.storyshot
  packages/web/src/Components/Chip/__snapshots__/Chip.stories.storyshot
  packages/web/src/Components/__snapshots__/product-card.stories.storyshot
  packages/web/src/Components/index.test.tsx
  packages/web/src/index.ts
Due: web

chore(card): improves CardMedia and example of ProductCard stories
  packages/web/src/Components/Card/CardMedia/CardMedia.stories.tsx
  packages/web/src/examples/product-card.stories.tsx
Due: web

chore(release): publish v1.5.1-alpha.DSY-809.7.0 via lerna [ci skip]
  lerna.json
  packages/web/package.json
Due: web

chore(card): adds examples on Storybook
  lerna.json
  packages/web/package.json
  packages/web/src/Components/Card/Card.props.ts
  packages/web/src/Components/Card/Card.stories.tsx
  packages/web/src/Components/Card/__snapshots__/Card.stories.storyshot
  packages/web/src/Components/Checkbox/__snapshots__/Checkbox.stories.storyshot
  packages/web/src/Components/Chip/__snapshots__/Chip.stories.storyshot
  packages/web/src/Components/__snapshots__/product-card.stories.storyshot
  packages/web/src/Components/index.test.tsx
  packages/web/src/examples/product-card.stories.tsx
  packages/web/src/index.ts
Due: web

Path conditions:
  icons: any of: packages/icons
  styles: any of: packages/styles
  web: any of: packages/web
