Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: icons, styles, web

codecov.yml:

coverage:
  status:
    project:
      default: off
      icons:
        target: auto
        flags:
          - icons
      styles:
        target: auto
        flags:
          - styles
      web:
        target: auto
        flags:
          - web
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
flags:
  icons:
    paths:
      - packages/icons
    carryforward: false
  styles:
    paths:
      - packages/styles
    carryforward: false
  web:
    paths:
      - packages/web
    carryforward: false

chore(deps): update `@types/styled-components` dep
  packages/web/package.json
Due: web

docs: add contributing info for pt-br [skip ci]
  CONTRIBUTING.pt-br.md
Due: none

chore(deps): update dependency @naturacosmeticos/natds-storybook-themes to v0.13.19
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency tslib to v2.0.3
  packages/icons/package.json
  yarn.lock
Due: icons

chore(styles): add watchman config file
  packages/styles/.watchmanconfig
Due: styles

fix(deps): bump `natds-themes` dependency to 0.4.8
  packages/styles/package.json
Due: styles

chore(eslintrc): disable `array-element-newline` rules
  .eslintrc.js
Due: none

refactor(icons): remove .gitignore
  packages/icons/.gitignore
Due: icons

fix(styles): prevent `use-strict` eslint errors/warnings
  packages/styles/tsconfig.json
Due: styles

fix(web): prevent TypeScript errors for font files
  packages/web/declaration.d.ts
  packages/web/global.d.ts
  packages/web/tsconfig.json
Due: web

fix(deps): bump `natds-icons` to 0.23.0 and dev-deps
  package.json
  packages/web/package.json
  yarn.lock
Due: web

chore(lerna): change packages key
  lerna.json
Due: none

chore(deps): remove snyk dependency
  packages/styles/package.json
  packages/web/src/Components/Card/Template.tsx
  packages/web/src/Components/Field/Field.stories.tsx
  packages/web/src/Components/FormControl/FormControl.styles.ts
  packages/web/src/Components/FormHelperText/FormHelperText.styles.ts
  packages/web/src/Components/Input/Input.props.ts
  packages/web/src/Components/Input/Input.stories.tsx
  packages/web/src/Components/Input/Input.styles.ts
  packages/web/src/Components/InputLabel/InputLabel.styles.ts
  packages/web/src/Components/InputStateHelpTextProvider/InputStateHelpTextProvider.styles.ts
Due: styles, web

feat(styles): add opacity tokens to themes
  packages/styles/src/themes/ITheme.ts
  packages/styles/src/themes/avon/avon-dark.ts
  packages/styles/src/themes/avon/avon-light.ts
  packages/styles/src/themes/natura/natura-dark.ts
  packages/styles/src/themes/natura/natura-light.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-dark.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-light.ts
  packages/styles/src/tokens/opacity/IOpacity.ts
  packages/styles/src/tokens/opacity/index.ts
Due: styles

chore(deps): update dependency @types/react to v16.9.55
  packages/web/package.json
  yarn.lock
Due: web

fix(styles): remove invalid formControl override
  packages/styles/src/themes/avon/avon-dark.ts
  packages/styles/src/themes/avon/avon-light.ts
  packages/styles/src/themes/natura/natura-dark.ts
  packages/styles/src/themes/natura/natura-light.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-dark.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-light.ts
Due: styles

chore(deps): remove snyk
  yarn.lock
Due: none

feat(storybook): add common arg types
  packages/web/.storybook/argTypes/booleanArgType.ts
  packages/web/.storybook/argTypes/objectArgType.ts
  packages/web/.storybook/argTypes/stringArgType.ts
  packages/web/.storybook/argTypes/tableCellSizeArgType.ts
  packages/web/.storybook/argTypes/tablePaddingArgType.ts
  packages/web/.storybook/argTypes/tableSortArgType.ts
  packages/web/.storybook/argTypes/textArgType.ts
Due: web

style(storybook): little refactorings to storybook
  packages/web/.storybook/decorators/ThemeProviderDecorator/index.js
  packages/web/.storybook/main.js
  packages/web/.storybook/manager.js
  packages/web/.storybook/webpack.config.js
  packages/web/src/Components/Field/CustomIcon/CustomIcon.test.tsx
  packages/web/src/Components/Field/CustomIcon/__snapshots__/CustomIcon.test.tsx.snap
  packages/web/src/Components/Field/Field.test.tsx
  packages/web/src/Components/Field/PasswordReveal/PasswordReveal.test.tsx
  packages/web/src/Components/Field/PasswordReveal/__snapshots__/PasswordReveal.test.tsx.snap
  packages/web/src/Components/Field/SearchClear/SearchClear.test.tsx
  packages/web/src/Components/Field/SearchClear/__snapshots__/SearchClear.test.tsx.snap
  packages/web/src/Components/Field/__snapshots__/Field.test.tsx.snap
  packages/web/src/Components/FormControl/FormControl.test.tsx
  packages/web/src/Components/FormControl/__snapshots__/FormControl.test.tsx.snap
  packages/web/src/Components/FormControlLabel/FormControlLabel.test.tsx
  packages/web/src/Components/FormControlLabel/__snapshots__/FormControlLabel.test.tsx.snap
  packages/web/src/Components/FormHelperText/FormHelpText.test.tsx
  packages/web/src/Components/FormHelperText/__snapshots__/FormHelpText.test.tsx.snap
  packages/web/src/Components/GridContainer/GridContainer.test.tsx
  packages/web/src/Components/GridContainer/__snapshots__/GridContainer.test.tsx.snap
  packages/web/src/Components/GridItem/GridItem.test.tsx
  packages/web/src/Components/GridItem/__snapshots__/GridItem.test.tsx.snap
  packages/web/src/Components/IconButton/IconButton.spec.tsx
Due: web

test(web): add storyshots snapshots
  packages/web/src/Components/__snapshots__/Container.stories.storyshot
  packages/web/src/Components/__snapshots__/GridContainer.stories.storyshot
  packages/web/src/Components/__snapshots__/GridItem.stories.storyshot
  packages/web/src/Components/__snapshots__/Spacing.margin.stories.storyshot
  packages/web/src/Components/__snapshots__/Spacing.padding.stories.storyshot
  packages/web/src/Components/__snapshots__/Spacing.stories.storyshot
  packages/web/src/Components/__snapshots__/Storyshots.test.js.snap
  packages/web/src/Components/__snapshots__/sign-in.stories.storyshot
  packages/web/src/Components/__snapshots__/sign-up-step1.stories.storyshot
Due: web

docs(web): add login and signup examples to Storybook
  packages/web/src/examples/sign-in.stories.tsx
  packages/web/src/examples/sign-up-step1.stories.tsx
Due: web

chore(web): add babel config file
  packages/web/babel.config.js
Due: web

refactor(web): remove duplicated sign in stories
  packages/web/docs/examples/sign-in.stories.tsx
Due: web

feat(web): add support to opacity on themes
  packages/web/src/Themes/IThemeWeb.ts
Due: web

chore(web): remove snyk dependency and references
  packages/web/package.json
Due: web

refactor(web): rename style mock file
  packages/web/config/test/styleMock.ts
Due: web

docs(web): rename troubleshooting section title
  packages/web/docs/troubleshooting.stories.mdx
Due: web

test(web): update collectCoverageFrom list
  packages/web/jest.config.js
Due: web

docs(web): add CssBaseline, fix examples link
  packages/web/README.md
Due: web

refactor(AppBar): add missing fixtures, update stories
  packages/web/src/Components/AppBar/AppBar.props.ts
  packages/web/src/Components/AppBar/AppBar.stories.tsx
  packages/web/src/Components/AppBar/AppBar.tsx
  packages/web/src/Components/AppBar/Template.tsx
  packages/web/src/Components/AppBar/__fixtures__/__snapshots__/elevation.test.ts.snap
  packages/web/src/Components/AppBar/__fixtures__/elevation.test.ts
  packages/web/src/Components/AppBar/__fixtures__/elevation.ts
  packages/web/src/Components/AppBar/__snapshots__/AppBar.stories.storyshot
Due: web

feat(app bar highlight): add new AppBarHighlight component
  packages/web/src/Components/AppBarHighlight/AppBarHighlight.props.ts
  packages/web/src/Components/AppBarHighlight/AppBarHighlight.styles.ts
  packages/web/src/Components/AppBarHighlight/AppBarHighlight.tsx
  packages/web/src/Components/AppBarHighlight/index.ts
Due: web

refactor(avatar): add stories snapshot and missing fixtures
  packages/web/src/Components/Avatar/Avatar.tsx
  packages/web/src/Components/Avatar/__fixtures__/__snapshots__/variants.test.ts.snap
  packages/web/src/Components/Avatar/__fixtures__/variants.test.ts
  packages/web/src/Components/Avatar/__snapshots__/Avatar.stories.storyshot
  packages/web/src/Components/Avatar/__snapshots__/Avatar.test.tsx.snap
Due: web

refactor(badge): add storyshots snapshots, refactor stories
  packages/web/src/Components/Badge/Badge.stories.tsx
  packages/web/src/Components/Badge/Badge.tsx
  packages/web/src/Components/Badge/Template.tsx
  packages/web/src/Components/Badge/__snapshots__/Badge.stories.storyshot
Due: web

refactor(bottom navigation): refacot code, test and stories
  packages/web/src/Components/BottomNavigation.tsx
  packages/web/src/Components/BottomNavigation/BottomNavigation.argTypes.ts
  packages/web/src/Components/BottomNavigation/BottomNavigation.props.ts
  packages/web/src/Components/BottomNavigation/BottomNavigation.spec.tsx
  packages/web/src/Components/BottomNavigation/BottomNavigation.stories.tsx
  packages/web/src/Components/BottomNavigation/BottomNavigation.tsx
  packages/web/src/Components/BottomNavigation/__snapshots__/BottomNavigation.spec.tsx.snap
  packages/web/src/Components/BottomNavigation/__snapshots__/BottomNavigation.stories.storyshot
  packages/web/src/Components/BottomNavigation/index.ts
Due: web

refactor(bottom navigation action): refactor code, test and stories
  packages/web/src/Components/BottomNavigationAction.tsx
  packages/web/src/Components/BottomNavigationAction/BottomNavigationAction.argTypes.ts
  packages/web/src/Components/BottomNavigationAction/BottomNavigationAction.props.ts
  packages/web/src/Components/BottomNavigationAction/BottomNavigationAction.spec.tsx
  packages/web/src/Components/BottomNavigationAction/BottomNavigationAction.stories.tsx
  packages/web/src/Components/BottomNavigationAction/BottomNavigationAction.styles.ts
  packages/web/src/Components/BottomNavigationAction/BottomNavigationAction.tsx
  packages/web/src/Components/BottomNavigationAction/__snapshots__/BottomNavigationAction.spec.tsx.snap
  packages/web/src/Components/BottomNavigationAction/__snapshots__/BottomNavigationAction.stories.storyshot
  packages/web/src/Components/BottomNavigationAction/index.ts
Due: web

refactor(breadcrumbs): refactor code, tests and stories
  packages/web/src/Components/Breadcrumbs.tsx
  packages/web/src/Components/Breadcrumbs/Breadcrumbs.props.ts
  packages/web/src/Components/Breadcrumbs/Breadcrumbs.spec.tsx
  packages/web/src/Components/Breadcrumbs/Breadcrumbs.stories.tsx
  packages/web/src/Components/Breadcrumbs/Breadcrumbs.tsx
  packages/web/src/Components/Breadcrumbs/__snapshots__/Breadcrumbs.spec.tsx.snap
  packages/web/src/Components/Breadcrumbs/__snapshots__/Breadcrumbs.stories.storyshot
  packages/web/src/Components/Breadcrumbs/index.ts
Due: web

refactor(button): add storyshots snapshots, refactor props interface
  packages/web/src/Components/Button/Button.argTypes.ts
  packages/web/src/Components/Button/Button.props.ts
  packages/web/src/Components/Button/Button.stories.tsx
  packages/web/src/Components/Button/Button.styles.test.ts
  packages/web/src/Components/Button/Button.styles.ts
  packages/web/src/Components/Button/Button.test.tsx
  packages/web/src/Components/Button/Button.tsx
  packages/web/src/Components/Button/Template.tsx
  packages/web/src/Components/Button/__snapshots__/Button.stories.storyshot
  packages/web/src/Components/Button/__snapshots__/Button.test.tsx.snap
Due: web

refactor(button group): refactor code, tests and stories
  packages/web/src/Components/ButtonGroup.tsx
  packages/web/src/Components/ButtonGroup/ButtonGroup.props.ts
  packages/web/src/Components/ButtonGroup/ButtonGroup.spec.tsx
  packages/web/src/Components/ButtonGroup/ButtonGroup.stories.tsx
  packages/web/src/Components/ButtonGroup/ButtonGroup.tsx
  packages/web/src/Components/ButtonGroup/Template.tsx
  packages/web/src/Components/ButtonGroup/__fixtures__/colors.ts
  packages/web/src/Components/ButtonGroup/__fixtures__/sizes.ts
  packages/web/src/Components/ButtonGroup/__fixtures__/variants.ts
  packages/web/src/Components/ButtonGroup/__snapshots__/ButtonGroup.spec.tsx.snap
  packages/web/src/Components/ButtonGroup/__snapshots__/ButtonGroup.stories.storyshot
  packages/web/src/Components/ButtonGroup/index.ts
Due: web
