Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: icons, styles, web

codecov.yml:

coverage:
  status:
    project:
      default: off
      icons:
        target: auto
        flags:
          - icons
      styles:
        target: auto
        flags:
          - styles
      web:
        target: auto
        flags:
          - web
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
flags:
  icons:
    paths:
      - packages/icons
    carryforward: false
  styles:
    paths:
      - packages/styles
    carryforward: false
  web:
    paths:
      - packages/web
    carryforward: false

docs(web): add Icon stories and docs
  packages/web/src/Components/Icon/README.mdx
  packages/web/src/Components/Icon/index.story.tsx
  packages/web/src/Components/Icon/sections.tsx
Due: web

refactor(web): refactor container decorator
  packages/web/.storybook/decorators/container/index.tsx
Due: web

refactor(storybook): refactor ComponentWithLabel addon
  packages/web/.storybook/addons/ComponentWithLabel/index.tsx
  packages/web/.storybook/addons/ComponentWithLabel/styles.scss
Due: web

chore(storybook): add support to loading index.story
  packages/web/.storybook/loaders/componentsLoader/index.js
Due: web

chore(release): publish v0.16.6 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: web

chore(deps): update dependency eslint to v7.6.0
  package.json
  yarn.lock
Due: none

feat(storybook): add AppBar stories and docs
  packages/web/src/Components/AppBar/Playground.story.tsx
  packages/web/src/Components/AppBar/README.mdx
  packages/web/src/Components/AppBar/index.story.tsx
  packages/web/src/Components/AppBar/index.tsx
  packages/web/src/Components/AppBar/parameters.ts
  packages/web/src/Components/AppBar/sections.tsx
  packages/web/src/Components/Fab/Playground.story.tsx
  packages/web/src/Components/Fab/README.mdx
  packages/web/src/Components/Icon/README.mdx
  packages/web/src/Components/Icon/index.story.tsx
  packages/web/src/Components/Icon/parameters.ts
  packages/web/src/Components/Toolbar.tsx
Due: web

chore(deps): update dependency @types/react to v16.9.44
  packages/docs/package.json
  yarn.lock
Due: none

chore(release): publish v0.16.7 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
Due: none

chore(deps): update dependency ts-loader to v8.0.2
  packages/docs/package.json
  yarn.lock
Due: none

chore(release): publish v0.16.8 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
Due: none

feat(storybook): add Table stories and docs
  packages/web/.storybook/addons/ComponentWithLabel/index.tsx
  packages/web/.storybook/components/ComponentWithLabel/index.tsx
  packages/web/.storybook/components/ComponentWithLabel/styles.scss
  packages/web/src/Components/AppBar/README.mdx
  packages/web/src/Components/Fab/Playground.story.tsx
  packages/web/src/Components/Fab/README.mdx
  packages/web/src/Components/Fab/index.story.tsx
  packages/web/src/Components/Fab/index.tsx
  packages/web/src/Components/Fab/sections.tsx
  packages/web/src/Components/Fab/stories/parameters.ts
  packages/web/src/Components/Fab/stories/sections.tsx
  packages/web/src/Components/Icon/README.mdx
  packages/web/src/Components/Icon/index.story.tsx
  packages/web/src/Components/Table/README.mdx
  packages/web/src/Components/Table/stories/HeaderWrapper.tsx
  packages/web/src/Components/Table/stories/ITableWithSelectWrapper.ts
  packages/web/src/Components/Table/stories/TableHeaderCell.tsx
  packages/web/src/Components/Table/stories/TableWithSelectWrapper.tsx
  packages/web/src/Components/Table/stories/TableWrapper.tsx
  packages/web/src/Components/Table/stories/exampleDataTable.ts
  packages/web/src/Components/Table/stories/index.story.tsx
  packages/web/src/Components/Table/stories/parameters.ts
  packages/web/src/Components/Table/stories/sections.tsx
  packages/web/src/Components/Table/stories/tableAlignOptions.ts
Due: web

refactor(storybook): migrate ComponentWithLabel CSS to makeStyles
  packages/web/.storybook/components/ComponentWithLabel/index.tsx
  packages/web/.storybook/components/ComponentWithLabel/styles.scss
Due: web

docs: rename roadmap to tech-roadmap [skip ci]
  docs/tech-roadmap.md
Due: none

ci: try to publish on GitHub packages post release
  .github/workflows/npm-publish.yml
Due: none

chore(deps): update dependency @types/react-native to v0.63.3
  packages/docs/package.json
  yarn.lock
Due: none

chore(release): publish v0.16.9 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
Due: none

chore(deps): update dependency @types/react-native to v0.63.4
  packages/docs/package.json
  yarn.lock
Due: none

chore(release): publish v0.16.10 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
Due: none

chore(deps): update dependency netlify to v4.3.9
  package.json
  yarn.lock
Due: none

chore: remove ableist term from Travis CI config
  .travis.yml
Due: none

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update typescript-eslint monorepo to v3.8.0
  package.json
  yarn.lock
Due: none

feat(styles): add new spacing sizes
  packages/styles/src/__tests__/tokens/__snapshots__/tokens.spec.ts.snap
  packages/styles/src/tokens/spacing/ISpacing.ts
  packages/styles/src/tokens/spacing/index.ts
Due: styles

chore(deps): update dependency @types/react-test-renderer to v16.9.3
  packages/web/package.json
  yarn.lock
Due: web

chore(release): publish v0.16.11 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: web

style(icons): format with eslint
  packages/icons/jest.config.js
  packages/icons/scripts/helpers/getIconString.js
  packages/icons/scripts/helpers/getIconString.test.js
  packages/icons/scripts/helpers/getUnicodeIconString.js
  packages/icons/scripts/helpers/getUnicodeIconString.test.js
  packages/icons/scripts/helpers/iconNameMapper.js
  packages/icons/scripts/helpers/iconNameMapper.test.js
  packages/icons/scripts/helpers/toCamelCase.js
  packages/icons/scripts/helpers/toCamelCaseMapper.js
  packages/icons/scripts/helpers/toIosUnicode.test.js
  packages/icons/scripts/svgCleaner.js
  packages/icons/scripts/svgToFont.js
Due: icons

style(styles): format with strict rules
  packages/styles/jest.config.js
  packages/web/src/Components/TextField/IStateTypes.ts
  packages/web/src/Components/TextField/ITextFieldProps.ts
  packages/web/src/__tests__/types/IBadgeAnchors.ts
  packages/web/src/__tests__/types/IColors.ts
  packages/web/src/__tests__/types/IPlacements.ts
  packages/web/src/__tests__/types/ITypographyVariants.ts
Due: styles, web
