Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: icons, styles, web

codecov.yml:

coverage:
  status:
    project:
      default: off
      icons:
        target: auto
        flags:
          - icons
      styles:
        target: auto
        flags:
          - styles
      web:
        target: auto
        flags:
          - web
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
flags:
  icons:
    paths:
      - packages/icons
    carryforward: false
  styles:
    paths:
      - packages/styles
    carryforward: false
  web:
    paths:
      - packages/web
    carryforward: false

refactor(docs): fix Table story typo
  packages/docs/src/components/Table/Table.story.tsx
Due: none

refactor(web): fix rounded option in Table component
  packages/web/src/Components/Table/Table.tsx
Due: web

chore(deps): update dependency typescript to v3.9.7
  packages/docs/package.json
  packages/icons/package.json
  packages/styles/package.json
  packages/web/package.json
  yarn.lock
Due: icons, styles, web

chore(release): publish v0.12.2 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

docs: update roadmap document [skip ci]
  docs/roadmap.md
Due: none

docs: add styling issues inside troubleshooting.md [skip ci]
  TROUBLESHOOTING.md
Due: none

docs: improve styling section on troubleshooting [skip ci]
  TROUBLESHOOTING.md
Due: none

chore(web): finish eslint configuration
  packages/web/.eslintrc.js
Due: web

chore(release): publish v0.11.3-alpha.DSY-1226.0 via lerna [skip ci]
  lerna.json
  packages/docs/package.json
  packages/icons/package.json
  packages/styles/package.json
  packages/web/package.json
Due: icons, styles, web

docs: update roadmap [skip ci]
  docs/roadmap.md
Due: none

chore(deps): update dependency ts-jest to v26.1.3
  packages/styles/package.json
  packages/web/package.json
  yarn.lock
Due: styles, web

chore: add .eslintignore file at project root
  .eslintignore
Due: none

refactor: move eslint config file to project root
  .eslintrc.js
Due: none

chore(docs): remove linting references from package manifest
  packages/docs/package.json
Due: none

chore(icons): remove linting references from package manifest
  packages/icons/package.json
Due: icons

chore(web): remove linting references from package manifest
  packages/web/package.json
Due: web

chore(styles): remove linting references from package manifest
  packages/styles/package.json
Due: styles

style: format stryker.conf.js file
  stryker.conf.js
Due: none

refactor(web): remove old eslint files
  packages/web/.eslintignore
  packages/web/.eslintrc.js
Due: web

chore: add linting at project root
  package.json
  yarn.lock
Due: none

chore: finish eslint config
  .eslintrc.js
Due: none

style: format config files with eslint rules
  commitlint.config.js
  jest.config.base.js
  jest.config.js
Due: none

refactor: format helper script with eslint
  scripts/helpers/addVersionOnConfig.js
Due: none

style(styles): format config files with eslint rules
  packages/styles/jest.config.js
  packages/styles/src/__tests__/themes/avon/avon.spec.ts
  packages/styles/src/__tests__/themes/bodyShop/theBodyShop.spec.ts
  packages/styles/src/__tests__/themes/natura/natura.spec.ts
  packages/styles/src/index.ts
  packages/styles/src/themes.ts
  packages/styles/src/themes/ITheme.ts
  packages/styles/src/themes/avon/avon-dark.ts
  packages/styles/src/themes/avon/avon-light.ts
  packages/styles/src/themes/avon/typography.ts
  packages/styles/src/themes/natura/natura-dark.ts
  packages/styles/src/themes/natura/natura-light.ts
  packages/styles/src/themes/natura/typography.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-dark.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-light.ts
  packages/styles/src/themes/theBodyShop/typography.ts
  packages/styles/src/tokens.ts
  packages/styles/src/tokens/avatarSizes/index.ts
  packages/styles/src/tokens/buttonSizes/index.ts
  packages/styles/src/tokens/colors/natura/index.ts
  packages/styles/src/tokens/colors/themeBound/IColorThemeTokens.ts
  packages/styles/src/tokens/colors/themeBound/avon/avon-dark.ts
  packages/styles/src/tokens/colors/themeBound/avon/avon-light.ts
  packages/styles/src/tokens/colors/themeBound/index.ts
  packages/styles/src/tokens/colors/themeBound/natura/natura-dark.ts
  packages/styles/src/tokens/colors/themeBound/natura/natura-light.ts
  packages/styles/src/tokens/colors/themeBound/theBodyShop/the-body-shop-dark.ts
  packages/styles/src/tokens/colors/themeBound/theBodyShop/the-body-shop-light.ts
  packages/styles/src/tokens/elevation/index.ts
  packages/styles/src/tokens/fontSize/index.ts
  packages/styles/src/tokens/iconSizes/index.ts
  packages/styles/src/tokens/opacity/index.ts
  packages/styles/src/tokens/overlay/index.ts
  packages/styles/src/tokens/radius/index.ts
  packages/styles/src/tokens/sizes/index.ts
  packages/styles/src/tokens/spacing/index.ts
Due: styles

style(icons): format config files with eslint rules
  packages/icons/rollup.config.js
  packages/icons/scripts/svgCleaner.js
  packages/icons/scripts/svgToFont.js
  packages/icons/src/declaration.d.ts
  packages/icons/src/index.ts
  packages/icons/src/natds-icons.swift
  packages/icons/src/typings/declaration.d.ts
Due: icons

style: format helper script and config files with eslint rules
  scripts/helpers/addVersionOnConfig.js
  stryker.conf.js
Due: none

style(web): remove old tslint references
  packages/web/src/Components/Avatar.tsx
  packages/web/src/Components/ContextualBadge.tsx
  packages/web/src/Components/DrawerMenu.tsx
  packages/web/src/Components/Popover.tsx
  packages/web/src/Components/TextField/SearchClear.tsx
  packages/web/src/Components/TextField/shared.ts
  packages/web/src/Components/Typography.tsx
  packages/web/src/__tests__/Popover.spec.tsx
  packages/web/src/index.ts
Due: web

chore(release): publish v0.12.3 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, web

style(styles): add missing blank space after comment
  packages/styles/src/themes/theBodyShop/the-body-shop-dark.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-light.ts
Due: styles

chore: update eslint config file
  .eslintrc.js
Due: none

test(styles): update snapshots
  packages/styles/src/__tests__/themes/avon/__snapshots__/avon.spec.ts.snap
  packages/styles/src/__tests__/themes/bodyShop/__snapshots__/theBodyShop.spec.ts.snap
  packages/styles/src/__tests__/themes/natura/__snapshots__/natura.spec.ts.snap
Due: styles

test(web): update test snapshots
  packages/web/src/__tests__/__snapshots__/Avatar.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/DrawerHeader.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Fab.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Intro.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Popover.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TextField.spec.tsx.snap
  packages/web/src/__tests__/themes/natura/__snapshots__/natura.spec.tsx.snap
Due: web

chore(release): publish v0.13.0-alpha.DSY-1226.0 via lerna [skip ci]
  lerna.json
  packages/docs/package.json
  packages/icons/package.json
  packages/styles/package.json
  packages/web/package.json
Due: icons, styles, web

chore(deps): add eslint dependencies
  packages/web/package.json
  yarn.lock
Due: web
