Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: icons, styles, web

chore(deps): update dependency yarn to v1.22.5
  packages/icons/package.json
  packages/styles/package.json
  packages/web/package.json
  yarn.lock
Due: icons, styles, web

chore(release): publish v0.18.27 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(deps): update dependency @types/react to v16.9.48
  packages/web/package.json
  yarn.lock
Due: web

docs(icons): update natds-icons readme [skip ci]
  packages/icons/README.md
Due: icons

docs(icons): update readme [skip ci]
  packages/icons/README.md
Due: icons

docs(icons): add React Native section [skip ci]
  packages/icons/README.md
Due: icons

chore(release): publish v0.18.28 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

docs(icons): update instructions for RN [skip ci]
  packages/icons/README.md
Due: icons

chore(deps): update dependency prettier to v2.1.1
  packages/web/package.json
  yarn.lock
Due: web

docs(icons): add cdn instructipns [skip ci]
  packages/icons/docs/using-cdn.md
Due: icons

docs(icons): remove unneeded divider [skip ci]
  packages/icons/docs/using-cdn.md
Due: icons

chore(release): publish v0.18.29 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(deps): update dependency react-docgen-typescript to v1.20.3
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency @storybook/react to v6
  packages/web/package.json
  yarn.lock
Due: web

chore(release): publish v0.18.30 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(deps): update dependency ts-loader to v8.0.3
  packages/web/package.json
  yarn.lock
Due: web

chore(release): publish v0.18.31 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

fix(deps): update dependency @naturacosmeticos/natds-react to ^0.13.0
  packages/web/package.json
  yarn.lock
Due: web

chore(release): publish v0.18.32 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(deps): update dependency rollup to v2.26.7
  packages/icons/package.json
  packages/web/package.json
  yarn.lock
Due: icons, web

chore(release): publish v0.18.33 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(release): publish v0.18.34 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

fix(deps): update dependency @naturacosmeticos/natds-react to ^0.15.0
  packages/web/package.json
  yarn.lock
Due: web

chore(release): publish v0.18.35 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(deps): update dependency @types/lodash to v4.14.161
  packages/web/package.json
  yarn.lock
Due: web

chore(release): publish v0.18.36 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(deps): update dependency ts-jest to v26.3.0
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update storybook monorepo to v5.3.21
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update storybook monorepo to v6
  packages/web/package.json
  yarn.lock
Due: web

Path conditions:
  icons: any of: packages/icons
  styles: any of: packages/styles
  web: any of: packages/web
