Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: icons, styles, web

chore(deps): update stryker monorepo
  package.json
  yarn.lock
Due: none

chore(deps): update dependency webpack-merge to v5.7.0
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency @rollup/plugin-babel to v5.2.2
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency @types/jest to v26.0.19
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update babel monorepo
  packages/web/package.json
  yarn.lock
Due: web

chore(release): publish v1.0.1-alpha.DSY-1706.45.0 via lerna [ci skip]
  CHANGELOG.md
  packages/styles/CHANGELOG.md
  packages/web/CHANGELOG.md
Due: styles, web

chore: fix release scripts
  package.json
Due: none

chore(release): publish v1.0.1 via lerna [ci skip]
  CHANGELOG.md
  lerna.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, web

chore: set env var on lerna commands, exclude files from publishing
  .cicd/configure-git.sh
  .cicd/release-npm.sh
  lerna.json
Due: none

chore(deps): update dependency @types/react to v16.14.2
  package.json
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency @types/react-dom to v16.9.10
  packages/web/package.json
  yarn.lock
Due: web

chore: removes older scripts
  .travis.yml
  scripts/build-storybook.sh
  scripts/helpers/addVersionOnConfig.js
  scripts/helpers/prependVersionToArray.js
  scripts/helpers/prependVersionToArray.test.js
  scripts/helpers/uniqueArray.js
  scripts/helpers/uniqueArray.test.js
Due: none

feat: add size and position attribute to the Tag component
  packages/web/src/Components/ContextualBadge/ContextualBadge.stories.tsx
  packages/web/src/Components/ContextualBadge/ContextualBadge.test.tsx
  packages/web/src/Components/ContextualBadge/__fixtures__/types.ts
  packages/web/src/Components/ContextualBadge/__snapshots__/ContextualBadge.stories.storyshot
  packages/web/src/Components/ContextualBadge/__snapshots__/ContextualBadge.test.tsx.snap
  packages/web/src/Components/ContextualBadge/index.ts
  packages/web/src/Components/DrawerMenu/MenuItemText/MenuItemText.tsx
  packages/web/src/Components/DrawerMenu/__snapshots__/DrawerMenu.test.tsx.snap
  packages/web/src/Components/Tag/Tag.argTypes.ts
  packages/web/src/Components/Tag/Tag.props.ts
  packages/web/src/Components/Tag/Tag.stories.tsx
  packages/web/src/Components/Tag/Tag.styles.ts
  packages/web/src/Components/Tag/Tag.test.tsx
  packages/web/src/Components/Tag/Tag.tsx
  packages/web/src/Components/Tag/__fixtures__/colors.ts
  packages/web/src/Components/Tag/__fixtures__/positions.ts
  packages/web/src/Components/Tag/__fixtures__/sizes.ts
  packages/web/src/Components/Tag/__snapshots__/Tag.test.tsx.snap
  packages/web/src/Components/Tag/index.ts
  packages/web/src/Components/index.test.tsx
  packages/web/src/index.ts
Due: web

chore(release): publish v1.1.0-alpha.DSY-997.1.0 via lerna [ci skip]
  lerna.json
  packages/web/package.json
Due: web

style(tag): fix component padding
  packages/web/src/Components/Tag/Tag.styles.ts
  packages/web/src/index.ts
Due: web

chore(release): publish v1.1.0-alpha.DSY-997.2.0 via lerna [ci skip]
  lerna.json
  packages/web/package.json
Due: web

chore: add icons docs to storybook
  packages/web/.storybook/main.js
  packages/web/docs/icons.stories.mdx
Due: web

chore: add icons docs to styleguidist
  styleguide.config.js
Due: none

WIP(rating): create rating component
  packages/web/src/Components/Rating/Rating.tsx
  packages/web/src/Components/Rating/index.ts
  packages/web/src/index.ts
Due: web

WIP(rating): add component props
  packages/web/src/Components/Rating/Rating.props.ts
  packages/web/src/Components/Rating/__fixtures__/sizes.ts
  packages/web/src/Components/Rating/index.ts
  packages/web/src/index.ts
Due: web

WIP(rating): create component story
  packages/web/src/Components/Rating/Rating.argTypes.ts
  packages/web/src/Components/Rating/Rating.stories.tsx
Due: web

WIP(rating): update component by adding the 'size' and 'rate' attributes
  packages/web/src/Components/Rating/Rating.stories.tsx
  packages/web/src/Components/Rating/Rating.styles.ts
  packages/web/src/Components/Rating/Rating.tsx
Due: web

test(rating): add component test and fix errors shown by the test
  packages/web/src/Components/Rating/Rating.styles.ts
  packages/web/src/Components/Rating/Rating.test.tsx
  packages/web/src/Components/Rating/Rating.tsx
  packages/web/src/Components/Rating/__snapshots__/Rating.test.tsx.snap
Due: web

refactor(rating): remove unused prop from argTypes file
  packages/web/src/Components/Rating/Rating.argTypes.ts
Due: web

chore: prevent styleguidist from importing dependencies from md files
  packages/web/docs/icons.md
Due: web

chore(tag): exports Tag as ContextualBadge
  packages/web/src/Components/Tag/Tag.tsx
  packages/web/src/Components/Tag/index.ts
Due: web

chore(release): publish v1.1.0-alpha.DSY-997.4.0 via lerna [ci skip]
  lerna.json
  packages/web/package.json
Due: web

chore(tag): exports Tag as Contextual Badge
  packages/web/src/Components/Tag/Tag.tsx
  packages/web/src/Components/Tag/index.ts
Due: web

chore(release): publish v1.1.0-alpha.DSY-997.5.0 via lerna [ci skip]
  lerna.json
  packages/web/package.json
Due: web

chore(tag): adds mensage warning about deprecation of ContextualBadge
  packages/web/src/Components/Tag/Tag.tsx
  packages/web/src/Components/Tag/index.ts
  packages/web/src/index.ts
Due: web

chore(tag): updates Tag import into MenuItemText
  packages/web/src/Components/DrawerMenu/MenuItemText/MenuItemText.tsx
Due: web

chore(release): publish v1.1.0-alpha.DSY-997.6.0 via lerna [ci skip]
  lerna.json
  packages/web/package.json
Due: web

feat(tag): add size and position attribute to the Tag component
  lerna.json
  packages/web/package.json
  packages/web/src/Components/ContextualBadge/ContextualBadge.stories.tsx
  packages/web/src/Components/ContextualBadge/ContextualBadge.test.tsx
  packages/web/src/Components/ContextualBadge/ContextualBadge.tsx
  packages/web/src/Components/ContextualBadge/__fixtures__/types.ts
  packages/web/src/Components/ContextualBadge/__snapshots__/ContextualBadge.stories.storyshot
  packages/web/src/Components/ContextualBadge/__snapshots__/ContextualBadge.test.tsx.snap
  packages/web/src/Components/ContextualBadge/index.ts
  packages/web/src/Components/DrawerMenu/MenuItemText/MenuItemText.tsx
  packages/web/src/Components/DrawerMenu/__snapshots__/DrawerMenu.test.tsx.snap
  packages/web/src/Components/Tag/Tag.argTypes.ts
  packages/web/src/Components/Tag/Tag.props.ts
  packages/web/src/Components/Tag/Tag.stories.tsx
  packages/web/src/Components/Tag/Tag.styles.ts
  packages/web/src/Components/Tag/Tag.test.tsx
  packages/web/src/Components/Tag/Tag.tsx
  packages/web/src/Components/Tag/__fixtures__/colors.ts
  packages/web/src/Components/Tag/__fixtures__/positions.ts
  packages/web/src/Components/Tag/__fixtures__/sizes.ts
  packages/web/src/Components/Tag/__snapshots__/Tag.test.tsx.snap
  packages/web/src/Components/Tag/index.ts
  packages/web/src/Components/index.test.tsx
  packages/web/src/index.ts
Due: web

refactor(rating): update component argTypes to have a max and min value in the storybook controls
  packages/web/src/Components/Rating/Rating.argTypes.ts
Due: web

refactor(rating): add custom icon and max rate value
  packages/web/src/Components/Rating/Rating.stories.tsx
  packages/web/src/Components/Rating/Rating.tsx
Due: web

Path conditions:
  icons: any of: packages/icons
  styles: any of: packages/styles
  web: any of: packages/web
