Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: icons, styles, web

codecov.yml:

coverage:
  status:
    project:
      default: off
      icons:
        target: auto
        flags:
          - icons
      styles:
        target: auto
        flags:
          - styles
      web:
        target: auto
        flags:
          - web
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
flags:
  icons:
    paths:
      - packages/icons
    carryforward: false
  styles:
    paths:
      - packages/styles
    carryforward: false
  web:
    paths:
      - packages/web
    carryforward: false

chore(examples/single-spa): add to lerna config
  lerna.json
Due: none

build(scripts): call correct storybook build script
  scripts/build-storybook.sh
Due: none

ci(travis): run chromatic after publishing package
  .travis.yml
Due: none

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(release): publish v0.23.1 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/gatsby/CHANGELOG.md
  examples/gatsby/package.json
  lerna.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, web

ci: exit once storybook was uploaded
  .travis.yml
Due: none

chore(release): publish v0.23.2 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/gatsby/CHANGELOG.md
  examples/gatsby/package.json
  lerna.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, web

chore(deps): update dependency eslint-plugin-react to v7.21.5
  package.json
  yarn.lock
Due: none

chore(release): publish v0.23.3 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/gatsby/CHANGELOG.md
  examples/gatsby/package.json
  lerna.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, web

chore(deps): update typescript-eslint monorepo to v4.6.0
  package.json
  yarn.lock
Due: none

docs(storybook): pause css animations for specific components
  packages/web/src/Components/CircularProgress/CircularProgress.stories.tsx
  packages/web/src/Components/LinearProgress/LinearProgress.stories.tsx
  packages/web/src/Components/Popover/Popover.stories.tsx
Due: web

chore(release): publish v0.23.4 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/gatsby/CHANGELOG.md
  examples/gatsby/package.json
  lerna.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, web

chore(release): publish v0.23.5 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/gatsby/CHANGELOG.md
  examples/gatsby/package.json
  lerna.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, web

docs(storybook): disable js animations when using chromatic
  packages/web/src/Components/CircularProgress/Template.tsx
  packages/web/src/Components/LinearProgress/Template.tsx
  packages/web/src/Components/Popover/Template.tsx
Due: web

chore(release): publish v0.23.6 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/gatsby/CHANGELOG.md
  examples/gatsby/package.json
  lerna.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, web

docs(popover): pause animation at end for chromatic
  packages/web/src/Components/Popover/Popover.stories.tsx
Due: web

chore(release): publish v0.23.7 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/gatsby/CHANGELOG.md
  examples/gatsby/package.json
  lerna.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, web

test(popover): prevent transitions when using Chromatic
  packages/web/src/Components/Popover/Popover.stories.tsx
  packages/web/src/Components/Popover/Popover.tsx
  packages/web/src/Components/Popover/Template.tsx
Due: web

chore(release): publish v0.23.8 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/gatsby/CHANGELOG.md
  examples/gatsby/package.json
  lerna.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, web

chore(deps): update dependency @testing-library/dom to v7.26.3
  packages/web/package.json
  yarn.lock
Due: web

chore(web): upgrade @testing-library/dom to 7.26.3
  packages/web/package.json
  yarn.lock
Due: web

test: make createNodeMock generic
  packages/web/src/__mocks__/createNodeMock.ts
Due: web

test(__mocks__): create mock for ReactDOM
  packages/web/src/__mocks__/ReactDOM.tsx
Due: web

refactor(web): change storyshots to TypeScript
  packages/web/src/Components/Storyshots.test.tsx
Due: web

refactor(popover): change styling strategy
  packages/web/src/Components/Popover/ActionLink/ActionLink.props.ts
  packages/web/src/Components/Popover/ActionLink/ActionLink.test.tsx
  packages/web/src/Components/Popover/ActionLink/ActionLink.tsx
  packages/web/src/Components/Popover/ActionLink/__snapshots__/ActionLink.test.tsx.snap
  packages/web/src/Components/Popover/ActionLink/index.ts
  packages/web/src/Components/Popover/Popover.props.ts
  packages/web/src/Components/Popover/Popover.stories.tsx
  packages/web/src/Components/Popover/Popover.styles.ts
  packages/web/src/Components/Popover/Popover.test.tsx
  packages/web/src/Components/Popover/Popover.tsx
  packages/web/src/Components/Popover/StyledPopper/StyledPopper.props.ts
  packages/web/src/Components/Popover/StyledPopper/StyledPopper.tsx
  packages/web/src/Components/Popover/StyledPopper/index.ts
  packages/web/src/Components/Popover/__snapshots__/Popover.test.tsx.snap
  packages/web/src/Components/Popover/getActionLink/ActionLink.props.ts
  packages/web/src/Components/Popover/getActionLink/__snapshots__/getActionLink.test.tsx.snap
  packages/web/src/Components/Popover/getActionLink/getActionLink.test.tsx
  packages/web/src/Components/Popover/getActionLink/getActionLink.tsx
  packages/web/src/Components/Popover/getActionLink/index.ts
Due: web

fix(input): prevent type errors when using `margin` prop
  packages/web/src/Components/Input/Input.props.ts
Due: web

test(web): change storyshots snapshots filename
  packages/web/src/Components/__snapshots__/Storyshots.test.tsx.snap
Due: web

chore(release): publish v0.23.9 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/gatsby/CHANGELOG.md
  examples/gatsby/package.json
  lerna.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, web

docs(popover): disable chromatic for RightPlacement story
  packages/web/src/Components/Popover/Popover.stories.tsx
Due: web

chore(release): publish v0.23.10 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/gatsby/CHANGELOG.md
  examples/gatsby/package.json
  lerna.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, web

test(__mocks__): fix type errors, prevent eslint warning
  packages/web/src/__mocks__/createNodeMock.ts
Due: web

chore(release): publish v0.23.11 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/gatsby/CHANGELOG.md
  examples/gatsby/package.json
  lerna.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, web

chore(deps): update dependency @types/lodash to v4.14.164
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency codecov to v3.8.0
  packages/styles/package.json
  packages/web/package.json
  yarn.lock
Due: styles, web

chore(deps): update dependency commitizen to v4.2.2
  package.json
  yarn.lock
Due: none

chore(deps): update dependency directory-tree to v2.2.5
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency eslint to v7.12.1
  package.json
  yarn.lock
Due: none

chore(deps): update dependency eslint-plugin-import to v2.22.1
  package.json
  yarn.lock
Due: none

chore(deps): update dependency react-docgen to v5.3.1
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency rollup to v2.33.0
  packages/web/package.json
  yarn.lock
Due: web
