Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: icons, styles, web

fix(fab): prevent TypeScript error when using Fab props & fixtures
  packages/web/src/Components/Fab/Fab.test.tsx
Due: web

chore(deps): upgrade storybook deps to 6.0.21
  packages/web/package.json
  yarn.lock
Due: web

docs(web): add todo for future fixes/refactorings
  packages/web/src/Themes/index.ts
Due: web

refactor(icons): remove unused tslint config file
  packages/icons/tslint.json
Due: icons

refactor(avatar): prevent TypeScript errors, register tech debts
  packages/web/src/Components/Avatar/Avatar.styles.ts
Due: web

fix(input state help text provider): prevent TypeScript errors
  packages/web/src/Components/InputStateHelpTextProvider.tsx
Due: web

fix(link): prevent TypeScript errors and register tech debts
  packages/web/src/Components/Link.tsx
Due: web

fix(text field): prevent TypeScript errors and register tech debts
  packages/web/src/Components/TextField/shared.ts
Due: web

refactor(toolbar): remove TypeScript errors and enforce dot-notation
  packages/web/src/Components/Toolbar/Toolbar.styles.ts
  packages/web/src/Components/Toolbar/Toolbar.tsx
Due: web

feat(icon): add support to uppercaseX size tokens [DSY-1461]
  packages/web/src/Components/Icon/Icon.styles.ts
  packages/web/src/Components/Icon/Icon.tsx
  packages/web/src/Components/Icon/makeIconStyles.ts
Due: web

refactor(icon): rewrite fontSize getter
  packages/web/src/Components/Icon/getFontSize.ts
Due: web

build(web): don't suppress implicit any index errors
  packages/web/tsconfig.json
Due: web

chore(icons): add fonts.d.ts typings file
  packages/icons/src/fonts/fonts.d.ts
Due: icons

refactor(icons): remove redundant `fonts.d.ts` file
  packages/icons/src/fonts/fonts.d.ts
Due: icons

test(web): prevent TypeScript errors
  packages/web/src/Components/index.test.tsx
Due: web

fix(icon): prevent TypeScript errors when getting font size for Icon
  packages/web/src/Components/Icon/getFontSize.test.tsx
Due: web

docs(avatar): register tech debts related to TypeScript error
  packages/web/src/Components/Avatar/Avatar.styles.test.ts
Due: web

test(web): update test snapshots for components
  packages/web/src/Components/Avatar/__snapshots__/Avatar.test.tsx.snap
  packages/web/src/Components/Icon/__snapshots__/Icon.test.tsx.snap
  packages/web/src/Components/Intro/__snapshots__/index.test.tsx.snap
  packages/web/src/__tests__/__snapshots__/Chip.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/DrawerMenu.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/List.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TableSortLabel.spec.tsx.snap
Due: web

feat(icons): update `outlined-content-channel` and `outlined-product-perfumery` icons [DSY-1362]
  packages/icons/src/assets/cleaned/outlined-content-channel.svg
  packages/icons/src/assets/cleaned/outlined-product-perfumery.svg
  packages/icons/src/assets/raw/outlined/outlined-content-channel.svg
  packages/icons/src/assets/raw/outlined/outlined-product-perfumery.svg
Due: icons

refactor(icons): remove raw outlined icons from filled folder [DSY-1362]
  packages/icons/src/assets/raw/filled/outlined-place-rocket.svg
  packages/icons/src/assets/raw/filled/outlined-place-runningtruck.svg
Due: icons

feat(icons): updated Fonts, CSS, JSON and Swift files with new/updated icons [DSY-1362]
  packages/icons/src/fonts/natds-icons.eot
  packages/icons/src/fonts/natds-icons.svg
  packages/icons/src/fonts/natds-icons.ttf
  packages/icons/src/fonts/natds-icons.woff
  packages/icons/src/fonts/natds-icons.woff2
  packages/icons/src/natds-icons.css
  packages/icons/src/natds-icons.css.d.ts
  packages/icons/src/natds-icons.json
  packages/icons/src/natds-icons.swift
Due: icons

fix(icon): prevent error on getting font size when theme is undefined
  packages/web/src/Components/Icon/getFontSize.ts
Due: web

chore(eslint): don't ignore declaration file on eslint check
  .eslintignore
Due: none

style(icons): add missing line break on CSS type declarations file
  packages/icons/src/natds-icons.css.d.ts
Due: icons

fix(avatar): prevent error on Avatar styling when palette.primary is not defined
  packages/web/src/Components/Avatar/Avatar.styles.ts
Due: web

style(icon): don't error when CSS declaration file has multiple lines [DSY-1362]
  .eslintrc.js
Due: none

refactor(avatar): extract root and fallback styles to separate functions
  packages/web/src/Components/Avatar/Avatar.styles.ts
Due: web

refactor(avatar): revert styles to previous code [DSY-798]
  packages/web/src/Components/Avatar/Avatar.styles.test.ts
  packages/web/src/Components/Avatar/Avatar.styles.ts
Due: web

docs(badge): remove vertical margin for badges set
  packages/web/src/Components/Badge/Template.tsx
Due: web

docs(button): add non-breaking spaces between buttons
  packages/web/src/Components/Button/Button.stories.tsx
Due: web

docs(fab): add support for choosing variants, add deprecation message for disabled
  packages/web/src/Components/Fab/Fab.argTypes.ts
Due: web

docs(fab): prevent missing children error, change standard to small icon on some stories
  packages/web/src/Components/Fab/Fab.stories.tsx
Due: web

refactor(fab): adopt object notation on getColorProp() args
  packages/web/src/Components/Fab/Fab.tsx
  packages/web/src/Components/Fab/getColorProp.ts
Due: web

feat(icon): add support for color prop, dark mode and default icon [DSY-831]
  packages/web/src/Components/Icon/Icon.argTypes.ts
  packages/web/src/Components/Icon/Icon.props.ts
  packages/web/src/Components/Icon/Icon.stories.tsx
  packages/web/src/Components/Icon/Icon.styles.ts
  packages/web/src/Components/Icon/Icon.tsx
  packages/web/src/Components/Icon/__fixtures__/colors.ts
  packages/web/src/Components/Icon/getFontSize.ts
Due: web

style(icon): add line breaks for every explicit property [DSY-831]
  packages/web/src/Components/Icon/Icon.tsx
Due: web

fix(icon): prevent icon font size to be an empty value
  packages/web/src/Components/Icon/getFontSize.ts
Due: web

test(icon): add tests for icon default name [DSY-831]
  packages/web/src/Components/Icon/Icon.test.tsx
  packages/web/src/Components/Icon/__snapshots__/Icon.test.tsx.snap
Due: web

test(fab): use object notation for getColorProp() args
  packages/web/src/Components/Fab/getColorProp.test.ts
Due: web

refactor(avatar): consolidate all guards in a single if
  packages/web/src/Components/Avatar/Avatar.styles.ts
Due: web

Path conditions:
  icons: any of: packages/icons
  styles: any of: packages/styles
  web: any of: packages/web
