Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: icons, styles, web

codecov.yml:

coverage:
  status:
    project:
      default: off
      icons:
        target: auto
        flags:
          - icons
      styles:
        target: auto
        flags:
          - styles
      web:
        target: auto
        flags:
          - web
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
flags:
  icons:
    paths:
      - packages/icons
    carryforward: false
  styles:
    paths:
      - packages/styles
    carryforward: false
  web:
    paths:
      - packages/web
    carryforward: false

chore(deps): update dependency @types/jest to v26.0.22
  package.json
  yarn.lock
Due: none

chore(deps): pin dependencies
  package.json
  packages/react/package.json
  packages/styles/package.json
  packages/web/package.json
  packages/web/src/Components/Container/package.json
  yarn.lock
Due: styles, web

chore(button): improve styles
  packages/react/.storybook/preview-head.html
  packages/react/src/ThemeProvider/ThemeProvider.tsx
  packages/react/src/components/Button/Button.stories.tsx
  packages/react/src/components/Button/Button.styles.ts
  packages/react/src/components/Button/__snapshots__/Button.test.tsx.snap
Due: none

chore(release): publish v1.5.7-alpha.DSY-1843.2.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: none

feat(divider): add new component
  packages/react/src/components/Divider/Divider.props.ts
  packages/react/src/components/Divider/Divider.stories.tsx
  packages/react/src/components/Divider/Divider.styles.ts
  packages/react/src/components/Divider/Divider.test.tsx
  packages/react/src/components/Divider/Divider.tsx
  packages/react/src/components/Divider/__snapshots__/Divider.test.tsx.snap
  packages/react/src/components/Divider/index.ts
  packages/react/src/helpers/StoryContainer.tsx
  packages/react/src/index.ts
Due: none

chore(deps): update dependency @types/lodash to v4.14.168
  packages/web/package.json
  yarn.lock
Due: web

chore(release): publish v1.6.0-alpha.DSY-1961.1.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: none

chore(divider): improve stories
  packages/react/src/components/Divider/Divider.stories.tsx
Due: none

chore(deps): update babel monorepo to v7.13.13
  package.json
  packages/web/package.json
  yarn.lock
Due: web

chore(release): publish v1.6.0-alpha.DSY-1961.4.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: none

chore(button): apply onverlay on hover
  packages/react/src/components/Button/Button.styles.ts
  packages/react/src/components/Button/Button.tsx
  packages/react/src/components/Button/__snapshots__/Button.test.tsx.snap
Due: none

chore(release): publish v1.5.7-alpha.DSY-1843.5.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: none

chore(release): publish v1.5.7-alpha.DSY-1843.6.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: none

feat(icon): add new component
  packages/react/package.json
  packages/react/src/components/Icon/Icon.props.ts
  packages/react/src/components/Icon/Icon.stories.tsx
  packages/react/src/components/Icon/Icon.styles.ts
  packages/react/src/components/Icon/Icon.test.tsx
  packages/react/src/components/Icon/Icon.tsx
  packages/react/src/components/Icon/__snapshots__/Icon.test.tsx.snap
  packages/react/src/components/Icon/index.ts
  packages/react/src/index.ts
  yarn.lock
Due: none

chore: remove mode option from Storybook toolbar
  packages/react/.storybook/decorators/themeDecorator.js
  packages/react/.storybook/globalTypes/index.js
Due: none

chore: hide button storie
  packages/react/src/components/Button/Button.stories.tsx
Due: none

chore(release): publish v1.6.0-alpha.DSY-1961.7.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: none

refactor(button): remove div that created the hover effect
  packages/react/src/components/Button/Button.styles.ts
  packages/react/src/components/Button/Button.tsx
  packages/react/src/components/Button/__snapshots__/Button.test.tsx.snap
Due: none

chore(deps): update dependency @babel/core to v7.13.14
  package.json
  packages/web/package.json
  yarn.lock
Due: web

chore(release): publish v1.5.7-alpha.DSY-1843.8.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: none

chore(release): publish v1.6.0-alpha.DSY-1959.1.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: none

chore(release): publish v1.6.0-alpha.DSY-1961.10.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: none

chore(deps): update dependency @types/react to v17.0.3
  packages/react/package.json
  packages/web/package.json
  yarn.lock
Due: web

chore(release): publish v1.6.0-alpha.DSY-1961.14.0 via lerna [skip-ci]
  lerna.json
  packages/react/package.json
Due: none

Update pull_request_template.md
  .github/pull_request_template.md
Due: none
