Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: icons, styles, web

chore(release): publish v0.7.16-alpha.9 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

ci: avoid running sanity check twice on pre-release or release scenarios
  .travis.yml
Due: none

chore(release): publish v0.7.16-alpha.10 via lerna [skip ci]
  lerna.json
  packages/docs/package.json
  packages/icons/package.json
  packages/styles/package.json
  packages/web/package.json
Due: icons, styles, web

chore(release): publish v0.7.16-alpha.11 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(release): publish v0.7.16-alpha.12 via lerna [skip ci]
  lerna.json
  packages/docs/package.json
  packages/icons/package.json
  packages/styles/package.json
  packages/web/package.json
Due: icons, styles, web

chore(release): publish v0.7.16-alpha.13 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore: don't force versioning on releases
  package.json
Due: none

chore(release): publish v0.7.16-alpha.14 via lerna [skip ci]
  lerna.json
  packages/docs/package.json
  packages/icons/package.json
  packages/styles/package.json
  packages/web/package.json
Due: icons, styles, web

chore: refactor build & release workflow
  .travis.yml
  package.json
  packages/docs/package.json
  packages/icons/package.json
  packages/styles/package.json
  packages/web/package.json
Due: icons, styles, web

chore(release): publish v0.7.16-alpha.15 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore: fix from-git arg at lerna version
  package.json
Due: none

chore(release): publish v0.7.16 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

fix: ignore generated license files
  .gitignore
Due: none

chore(deps): update dependency @types/react-native to v0.62.17
  packages/docs/package.json
  yarn.lock
Due: none

chore(deps): update dependency @types/lodash to v4.14.157
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency @types/react to v16.9.41
  packages/docs/package.json
  yarn.lock
Due: none

chore(deps): update dependency rollup to v2.19.0
  packages/icons/package.json
  packages/web/package.json
  yarn.lock
Due: icons, web

chore(docs): remove semantic-release from packages/docs
  packages/docs/package.json
Due: none

chore(deps): update dependency @rollup/plugin-typescript to v5
  packages/icons/package.json
  packages/web/package.json
  yarn.lock
Due: icons, web

chore(deps): update dependency semantic-release to v17.1.1
  packages/docs/package.json
  yarn.lock
Due: none

chore(release): publish v0.7.17 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(deps): update dependency ts-jest to v26.1.1
  packages/styles/package.json
  packages/web/package.json
  yarn.lock
Due: styles, web

chore(release): publish v0.7.18 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, web

chore(deps): update dependency @rollup/plugin-babel to v5.0.4
  packages/web/package.json
  yarn.lock
Due: web

chore(release): publish v0.7.19 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: web

chore(deps): update dependency sass to v1.26.9
  packages/styles/package.json
  yarn.lock
Due: styles

chore(release): publish v0.7.20 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, web

chore(release): publish v0.8.0 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(deps): update dependency netlify to v4.3.5
  package.json
  yarn.lock
Due: none

chore(deps): update dependency rollup to v2.20.0
  packages/icons/package.json
  packages/web/package.json
  yarn.lock
Due: icons, web

chore(deps): update stryker monorepo to v3.3.1
  package.json
  yarn.lock
Due: none

chore(release): publish v0.8.1 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, web

chore(deps): update babel monorepo to v7.10.4
  packages/docs/package.json
  yarn.lock
Due: none

chore(deps): update dependency @types/jest to v26.0.4
  packages/web/package.json
  yarn.lock
Due: web

fix(deps): update dependency styled-components to v5
  packages/web/package.json
  yarn.lock
Due: web

chore: add "testu" command for updating snapshots
  packages/web/package.json
Due: web

chore(deps): update lock file
  yarn.lock
Due: none

chore(release): publish v0.8.2 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: web

chore(web): update component snapshots
  packages/web/src/__tests__/__snapshots__/DatePicker.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Icon.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/KeyboardDatePicker.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TextField.spec.tsx.snap
Due: web

chore(deps): update dependency @rollup/plugin-node-resolve to v8.1.0
  packages/web/package.json
  yarn.lock
Due: web

Path conditions:
  icons: any of: packages/icons
  styles: any of: packages/styles
  web: any of: packages/web
