Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: icons, styles, web

codecov.yml:

coverage:
  status:
    project:
      default: off
      icons:
        target: auto
        flags:
          - icons
      styles:
        target: auto
        flags:
          - styles
      web:
        target: auto
        flags:
          - web
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
flags:
  icons:
    paths:
      - packages/icons
    carryforward: false
  styles:
    paths:
      - packages/styles
    carryforward: false
  web:
    paths:
      - packages/web
    carryforward: false

docs(icon): add todo for future supporting color tokens
  packages/web/src/Components/Icon/Icon.argTypes.ts
  packages/web/src/Components/Icon/Icon.props.ts
  packages/web/src/Components/Icon/Icon.stories.tsx
  packages/web/src/Components/Icon/__fixtures__/colors.ts
Due: web

refactor(app bar): change propTypes syntax, named importing of useStyles
  packages/web/src/Components/AppBar/AppBar.tsx
Due: web

feat(storybook): add example story for Sign In UI
  packages/web/docs/examples/sign-in.stories.tsx
Due: web

chore(jest): temp ignore coverage collecting for hooks
  packages/web/jest.config.js
Due: web

docs(avatar): change Avatar URL for stories
  packages/web/src/Components/Avatar/Avatar.stories.tsx
Due: web

docs(web): rearrange storybook navigation & docs
  packages/web/.storybook/main.js
  packages/web/docs/api-pattern-guidelines.stories.mdx
  packages/web/docs/changelog.stories.mdx
  packages/web/docs/components-folder.stories.mdx
  packages/web/docs/contributing.pt-br.stories.mdx
  packages/web/docs/getting-started.stories.mdx
Due: web

refactor(contextual badge): adopt useDefaultTheme hook
  packages/web/src/Components/ContextualBadge.tsx
Due: web

fix(web): prevent TypeScript errors when importing IThemeWeb or iconNames
  packages/web/src/Components/Chip.tsx
  packages/web/src/Components/DrawerBody.tsx
  packages/web/src/Components/DrawerFooter.tsx
  packages/web/src/Components/DrawerHeader.tsx
  packages/web/src/Components/DrawerMenu.tsx
Due: web

refactor(bottom navigation action): adopt useDefaultTheme hook
  packages/web/src/Components/BottomNavigationAction.tsx
Due: web

test(web): update components snapshots
  packages/web/src/__tests__/__snapshots__/Breadcrumbs.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/ContextualBadge.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/DrawerHeader.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/DrawerMenu.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Link.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Menu.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Popover.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Table.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TableBody.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TableCell.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TableFooter.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TableHead.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TablePagination.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TableRow.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TableSortLabel.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TextField.spec.tsx.snap
  packages/web/src/__tests__/themes/natura/__snapshots__/natura.spec.tsx.snap
Due: web

refactor(table body): remove duplicated test for TableBody
  packages/web/src/__tests__/TableBody.spec.tsx
Due: web

refactor(web): remove old `shared` folder
  packages/web/src/Components/shared/SizeArgType.ts
  packages/web/src/Components/shared/SizeProp.ts
  packages/web/src/Components/shared/__snapshots__/sizePropArgType.test.ts.snap
  packages/web/src/Components/shared/__snapshots__/spacingPropArgType.test.ts.snap
  packages/web/src/Components/shared/getDefaultTheme.test.ts
  packages/web/src/Components/shared/getDefaultTheme.ts
  packages/web/src/Components/shared/getSizeFromProp.test.ts
  packages/web/src/Components/shared/getSizeFromProp.ts
  packages/web/src/Components/shared/index.test.ts
  packages/web/src/Components/shared/index.ts
  packages/web/src/Components/shared/sizePropArgType.test.ts
  packages/web/src/Components/shared/sizePropArgType.ts
  packages/web/src/Components/shared/spacingPropArgType.test.ts
  packages/web/src/Components/shared/spacingPropArgType.ts
Due: web

chore(release): publish v0.21.0 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/mdx-deck/CHANGELOG.md
  examples/mdx-deck/package.json
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

feat(deps): upgrade styled-components dependencies
  packages/web/package.json
  yarn.lock
Due: web

refactor(contextual badge): rewrite component, stories and tess
  packages/web/src/Components/ContextualBadge.tsx
  packages/web/src/Components/ContextualBadge/ContextualBadge.argTypes.ts
  packages/web/src/Components/ContextualBadge/ContextualBadge.props.ts
  packages/web/src/Components/ContextualBadge/ContextualBadge.stories.tsx
  packages/web/src/Components/ContextualBadge/ContextualBadge.test.tsx
  packages/web/src/Components/ContextualBadge/ContextualBadge.tsx
  packages/web/src/Components/ContextualBadge/ContextualBadgeContainer/ContextualBadgeContainer.props.ts
  packages/web/src/Components/ContextualBadge/ContextualBadgeContainer/ContextualBadgeContainer.tsx
  packages/web/src/Components/ContextualBadge/ContextualBadgeContainer/index.ts
  packages/web/src/Components/ContextualBadge/__fixtures__/colors.ts
  packages/web/src/Components/ContextualBadge/__fixtures__/types.ts
  packages/web/src/Components/ContextualBadge/__snapshots__/ContextualBadge.test.tsx.snap
  packages/web/src/Components/ContextualBadge/index.ts
  packages/web/src/__tests__/ContextualBadge.spec.tsx
Due: web

refactor(intro): rewrite component code, stories and tests
  packages/web/src/Components/Intro/IIntroProps.ts
  packages/web/src/Components/Intro/Intro.argTypes.ts
  packages/web/src/Components/Intro/Intro.props.ts
  packages/web/src/Components/Intro/Intro.stories.tsx
  packages/web/src/Components/Intro/Intro.test.tsx
  packages/web/src/Components/Intro/Intro.tsx
  packages/web/src/Components/Intro/IntroContainer/IntroContainer.tsx
  packages/web/src/Components/Intro/IntroContainer/index.ts
  packages/web/src/Components/Intro/IntroDetails/IntroDetails.tsx
  packages/web/src/Components/Intro/IntroDetails/index.ts
  packages/web/src/Components/Intro/IntroTitle/IntroTitle.tsx
  packages/web/src/Components/Intro/IntroTitle/index.ts
  packages/web/src/Components/Intro/__fixtures__/colors.ts
  packages/web/src/Components/Intro/__fixtures__/titleVariants.ts
  packages/web/src/Components/Intro/__fixtures__/variants.ts
  packages/web/src/Components/Intro/__snapshots__/Intro.test.tsx.snap
  packages/web/src/Components/Intro/index.test.tsx
  packages/web/src/Components/Intro/index.ts
  packages/web/src/Components/Intro/index.tsx
Due: web

refactor(table): move TablePagination test to correct folder
  packages/web/src/Components/Table/TablePagination/TablePagination.test.tsx
  packages/web/src/Components/Table/TablePagination/__snapshots__/TablePagination.test.tsx.snap
  packages/web/src/__tests__/TablePagination.spec.tsx
Due: web

refactor(contextual badge): remove old test
  packages/web/src/__tests__/__snapshots__/ContextualBadge.spec.tsx.snap
Due: web

refactor(drawer): adopt useDefaultTheme() hook
  packages/web/src/Components/DrawerBody.tsx
Due: web

chore(release): publish v0.21.1 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/mdx-deck/CHANGELOG.md
  examples/mdx-deck/package.json
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(release): publish v0.21.2 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/mdx-deck/CHANGELOG.md
  examples/mdx-deck/package.json
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(release): publish v0.21.3 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/mdx-deck/CHANGELOG.md
  examples/mdx-deck/package.json
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(release): publish v0.21.4 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/mdx-deck/CHANGELOG.md
  examples/mdx-deck/package.json
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(release): publish v0.21.5 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/mdx-deck/CHANGELOG.md
  examples/mdx-deck/package.json
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(release): publish v0.21.6 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/mdx-deck/CHANGELOG.md
  examples/mdx-deck/package.json
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

build: add code security analysis [skip ci]
  .github/workflows/codeql-analysis.yml
Due: none

chore(release): publish v0.21.7 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/mdx-deck/CHANGELOG.md
  examples/mdx-deck/package.json
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(release): publish v0.21.8 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/mdx-deck/CHANGELOG.md
  examples/mdx-deck/package.json
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(release): publish v0.21.9 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/mdx-deck/CHANGELOG.md
  examples/mdx-deck/package.json
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(release): publish v0.21.10 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/mdx-deck/CHANGELOG.md
  examples/mdx-deck/package.json
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(release): publish v0.21.11 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/mdx-deck/CHANGELOG.md
  examples/mdx-deck/package.json
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(release): publish v0.21.12 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/mdx-deck/CHANGELOG.md
  examples/mdx-deck/package.json
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(release): publish v0.21.13 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/mdx-deck/CHANGELOG.md
  examples/mdx-deck/package.json
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(release): publish v0.21.14 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/mdx-deck/CHANGELOG.md
  examples/mdx-deck/package.json
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(release): publish v0.21.15 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/mdx-deck/CHANGELOG.md
  examples/mdx-deck/package.json
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(release): publish v0.21.16 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/mdx-deck/CHANGELOG.md
  examples/mdx-deck/package.json
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(renovate): remove trailing comma [skip ci]
  renovate.json
Due: none

chore(deps): update dependency @naturacosmeticos/natds-storybook-themes to v0.13.14
  packages/web/package.json
  yarn.lock
Due: web

chore(release): publish v0.21.17 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/mdx-deck/CHANGELOG.md
  examples/mdx-deck/package.json
  lerna.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(deps): update dependency @rollup/plugin-commonjs to v15.1.0
  packages/web/package.json
  yarn.lock
Due: web
