Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: icons, styles, web

docs: update roadmap [skip ci]
  docs/roadmap.md
Due: none

chore: update roadmap [skip ci]
  docs/roadmap.md
Due: none

docs: add element prorities to roadmap [skip ci]
  docs/roadmap.md
Due: none

ci: try to fix storybook build
  scripts/build-storybook.sh
Due: none

ci: fix "fatal: invalid refspec" error
  scripts/build-storybook.sh
Due: none

ci(docs): s-k-i-p only Travis CI on storybook build
  scripts/build-storybook.sh
Due: none

chore(docs): temp ignore type errors on Icons.story.tsx
  packages/docs/src/icons/Icons.story.tsx
Due: none

refactor(docs): refactor icons/index.tsx file
  packages/docs/src/icons/index.tsx
Due: none

chore(docs): temp ignore type warning on icons/sections.tsx
  packages/docs/src/icons/sections.tsx
Due: none

fix(icons): update generated `natds-icons` font files
  packages/icons/src/fonts/natds-icons.eot
  packages/icons/src/fonts/natds-icons.ttf
  packages/icons/src/fonts/natds-icons.woff
  packages/icons/src/fonts/natds-icons.woff2
Due: icons

chore(docs): add missing `@types/fuzzy-search` devDependency
  packages/docs/package.json
Due: none

chore(deps): update yarn lock file
  yarn.lock
Due: none

chore: prepare packages to graduation
  packages/icons/package.json
  packages/styles/package.json
  packages/web/package.json
Due: icons, styles, web

chore: prepare lerna config file to graduation
  lerna.json
Due: none

chore(release): publish v0.12.0 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(deps): update dependency @rollup/plugin-commonjs to v13.0.2
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency @rollup/plugin-commonjs to v14
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency @babel/core to v7.10.5
  packages/docs/package.json
  yarn.lock
Due: none

chore(deps): update dependency @types/react-native to v0.63.1
  packages/docs/package.json
  yarn.lock
Due: none

chore(deps): update dependency ts-loader to v8.0.1
  packages/docs/package.json
  yarn.lock
Due: none

chore(release): publish v0.12.1 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: web

docs: fix typo on roadmap [skip ci]
  docs/roadmap.md
Due: none

chore(release): publish v0.13.0-alpha.DSY-1148.0 via lerna [skip ci]
  lerna.json
  packages/docs/package.json
  packages/icons/package.json
  packages/styles/package.json
  packages/web/package.json
Due: icons, styles, web

refactor(web): use tokens in Table component and fix MaterialTablePagination variable name
  packages/web/src/Components/Table/Table.tsx
  packages/web/src/Components/Table/TablePagination.tsx
Due: web

refactor(web): use react-test-renderer in tests and update snapshots
  packages/web/src/__tests__/Table.spec.tsx
  packages/web/src/__tests__/TableBody.spec.tsx
  packages/web/src/__tests__/TableCell.spec.tsx
  packages/web/src/__tests__/TableFooter.spec.tsx
  packages/web/src/__tests__/TableHead.spec.tsx
  packages/web/src/__tests__/TablePagination.spec.tsx
  packages/web/src/__tests__/TableRow.spec.tsx
  packages/web/src/__tests__/TableSortLabel.spec.tsx
  packages/web/src/__tests__/__snapshots__/Table.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TableBody.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TableCell.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TableFooter.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TableHead.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TableRow.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TableSortLabel.spec.tsx.snap
Due: web

style(docs): move table compoentes to separate files and fix review suggestions
  packages/docs/src/components/Table/Components/HeaderWrapper.tsx
  packages/docs/src/components/Table/Components/TableHeaderCell.tsx
  packages/docs/src/components/Table/Components/TableWithSelectWrapper.tsx
  packages/docs/src/components/Table/Components/TableWrapper.tsx
  packages/docs/src/components/Table/Components/index.tsx
  packages/docs/src/components/Table/Interactive.tsx
  packages/docs/src/components/Table/Table.docs.mdx
  packages/docs/src/components/Table/Table.story.tsx
  packages/docs/src/components/Table/sections.tsx
Due: none

chore(deps): add eslint dependencies
  packages/web/package.json
  yarn.lock
Due: web

chore(web): add .eslintignore file
  packages/web/.eslintignore
Due: web

refactor(web): fix test typo's
  packages/web/src/__tests__/Table.spec.tsx
  packages/web/src/__tests__/TableBody.spec.tsx
  packages/web/src/__tests__/TableCell.spec.tsx
  packages/web/src/__tests__/TableFooter.spec.tsx
  packages/web/src/__tests__/TableHead.spec.tsx
  packages/web/src/__tests__/TableRow.spec.tsx
  packages/web/src/__tests__/TableSortLabel.spec.tsx
  packages/web/src/__tests__/__snapshots__/Table.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TableBody.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TableCell.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TableRow.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TableSortLabel.spec.tsx.snap
Due: web

refactor(docs): fix Interactive typo
  packages/docs/src/components/Table/Interactive.tsx
Due: none

refactor(styles): move TableSortLable margin props to styles
  packages/styles/src/__tests__/themes/avon/__snapshots__/avon.spec.ts.snap
  packages/styles/src/__tests__/themes/bodyShop/__snapshots__/theBodyShop.spec.ts.snap
  packages/styles/src/__tests__/themes/natura/__snapshots__/natura.spec.ts.snap
  packages/styles/src/themes/avon/avon-dark.ts
  packages/styles/src/themes/avon/avon-light.ts
  packages/styles/src/themes/natura/natura-dark.ts
  packages/styles/src/themes/natura/natura-light.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-dark.ts
  packages/styles/src/themes/theBodyShop/the-body-shop-light.ts
Due: styles

refactor(web): move TableSortLabel override style to packages/styles and update snapshots
  packages/web/src/Components/Table/TableSortLabel.tsx
  packages/web/src/__tests__/__snapshots__/Avatar.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/DrawerHeader.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Fab.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Intro.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/Popover.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TableSortLabel.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TextField.spec.tsx.snap
  packages/web/src/__tests__/themes/natura/__snapshots__/natura.spec.tsx.snap
Due: web

Path conditions:
  icons: any of: packages/icons
  styles: any of: packages/styles
  web: any of: packages/web
