Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: icons, styles, web

ci: always publish prereleases with $TRAVIS_BUILD_NUMBER syntax
  .travis.yml
Due: none

perf(web): import Container without importing everything
  packages/web/src/Components/Container/index.tsx
Due: web

refactor(web): move component tests to Components folder
  packages/web/src/Components/index.test.tsx
Due: web

feat(web): import Container when importing * from natds-web
  packages/web/src/index.ts
Due: web

chore(web): don't ban ts-comment on Components/index
  .eslintrc.js
Due: none

chore(release): publish v0.16.0 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(deps): update dependency @babel/plugin-proposal-object-rest-spread to v7.11.0
  packages/docs/package.json
  yarn.lock
Due: none

chore(release): publish v0.16.1 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
Due: none

chore(deps): update jest monorepo to v26.2.2
  package.json
  packages/icons/package.json
  packages/styles/package.json
  packages/web/package.json
  yarn.lock
Due: icons, styles, web

refactor: remove unneeded .netlify instructions
  .netlify/README.md
  .netlify/assets/step1.png
  .netlify/assets/step1_cli.png
  .netlify/assets/step2.png
  .netlify/assets/step3.png
  .netlify/assets/step4.png
  .netlify/assets/step5.png
  .netlify/assets/step6.png
  .netlify/assets/step7.png
  .netlify/assets/step8.png
Due: none

docs(web): update README
  packages/web/README.mdx
Due: web

chore(deps): update lock file
  yarn.lock
Due: none

docs(web): add docs for Fab component
  packages/web/src/Components/Fab/README.mdx
  packages/web/src/Components/Fab/sections.tsx
Due: web

refactor: remove duplicate roadmap doc file
  docs/roadmap.md
Due: none

chore: add Prettier config file
  .prettierrc
Due: none

chore: remove packages/docks from npm workspaces
  package.json
Due: none

chore(release): publish v0.16.2 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

chore(deps): update dependency @types/jest to v26.0.8
  packages/web/package.json
  yarn.lock
Due: web

refactor(storybook): adopt Container from Material UI
  packages/web/.storybook/decorators/container/index.tsx
  packages/web/.storybook/decorators/container/styles.scss
Due: web

docs(web): remove unneeded indentation
  packages/web/README.mdx
Due: web

docs(fab): add missing decorators
  packages/web/src/Components/Fab/README.mdx
Due: web

chore(release): publish v0.16.3 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: web

chore(deps): update dependency css-loader to v4.2.0
  packages/docs/package.json
  yarn.lock
Due: none

chore(release): publish v0.16.4 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
Due: none

chore(deps): update dependency @babel/core to v7.11.0
  packages/docs/package.json
  yarn.lock
Due: none

chore(release): publish v0.16.5 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
Due: none

chore(deps): update dependency @types/styled-components to v5.1.2
  packages/web/package.json
  yarn.lock
Due: web

feat(storybook): reenable knobs and theme
  packages/web/.storybook/addons.js
Due: web

docs(web): update Fab story and docs
  packages/web/src/Components/Fab/README.mdx
  packages/web/src/Components/Fab/index.story.tsx
  packages/web/src/Components/Fab/index.tsx
  packages/web/src/Components/Fab/parameters.ts
Due: web

Path conditions:
  icons: any of: packages/icons
  styles: any of: packages/styles
  web: any of: packages/web
