Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: icons, styles, web

codecov.yml:

coverage:
  status:
    project:
      default: off
      icons:
        target: auto
        flags:
          - icons
      styles:
        target: auto
        flags:
          - styles
      web:
        target: auto
        flags:
          - web
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
flags:
  icons:
    paths:
      - packages/icons
    carryforward: false
  styles:
    paths:
      - packages/styles
    carryforward: false
  web:
    paths:
      - packages/web
    carryforward: false

ci: try to fix not found versions JSON file
  scripts/build-storybook.sh
Due: none

test(web): remove typo from Select test
  packages/web/src/__tests__/Select/index.spec.tsx
Due: web

chore(deps): add `@date-io/date-fns` dependency
  packages/web/package.json
  yarn.lock
Due: web

feat(web): add `DatePicker` and `KeyboardDatePicker` components
  packages/web/src/Components/DatePicker/index.tsx
  packages/web/src/Components/KeyboardDatePicker/index.tsx
  packages/web/src/__tests__/DatePicker/__snapshots__/index.spec.tsx.snap
  packages/web/src/__tests__/DatePicker/index.spec.tsx
  packages/web/src/__tests__/KeyboardDatePicker/__snapshots__/index.spec.tsx.snap
  packages/web/src/__tests__/KeyboardDatePicker/index.spec.tsx
  packages/web/src/__tests__/index.spec.tsx
  packages/web/src/index.ts
Due: web

feat(docs): add `DatePicker` and `KeyboardDatePicker` components
  packages/docs/src/components/DatePicker/DatePicker.docs.mdx
  packages/docs/src/components/DatePicker/DatePicker.story.tsx
  packages/docs/src/components/DatePicker/sections.tsx
  packages/docs/src/components/KeyboardDatePicker/KeyboardDatePicker.docs.mdx
  packages/docs/src/components/KeyboardDatePicker/KeyboardDatePicker.story.tsx
  packages/docs/src/components/KeyboardDatePicker/sections.tsx
Due: none

chore(release): publish v0.12.0-alpha.DSY-841.0 via lerna [skip ci]
  lerna.json
  packages/docs/package.json
  packages/icons/package.json
  packages/styles/package.json
  packages/web/package.json
Due: icons, styles, web

chore: remove empty issue template
  .github/ISSUE_TEMPLATE/custom.md
Due: none

chore: update bug report template
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

fix: fix typo on postinstall script
  package.json
Due: none

chore: remove dedupe from postinstall
  package.json
Due: none

chore(deps): update dependency @types/react-native to v0.63.0
  packages/docs/package.json
  yarn.lock
Due: none

refactor(web): add default params and remove background ternary in Table Component
  packages/web/src/Components/Table/Table.tsx
  packages/web/src/Components/Table/TableContainer.tsx
  packages/web/src/Components/Table/TableRow.tsx
  packages/web/src/Components/Table/TableSortLabel.tsx
Due: web

test(web): add missing tests to Table Components
  packages/web/src/__tests__/Table.spec.tsx
  packages/web/src/__tests__/TableBody.spec.tsx
  packages/web/src/__tests__/TableCell.spec.tsx
  packages/web/src/__tests__/TableFooter.spec.tsx
  packages/web/src/__tests__/TableHead.spec.tsx
  packages/web/src/__tests__/TablePagination.spec.tsx
  packages/web/src/__tests__/TableRow.spec.tsx
  packages/web/src/__tests__/TableSortLabel.spec.tsx
  packages/web/src/__tests__/__snapshots__/Table.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TableBody.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TableCell.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TableFooter.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TableHead.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TablePagination.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TableRow.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TableSortLabel.spec.tsx.snap
Due: web

fix(web): fix class icon in TableSortLabel
  packages/web/src/Components/Table/TableSortLabel.tsx
Due: web

test(web): fix TableSortlabel snapshot
  packages/web/src/__tests__/__snapshots__/TableSortLabel.spec.tsx.snap
Due: web

chore(release): publish v0.11.3-alpha.DSY-1081.0 via lerna [skip ci]
  lerna.json
  packages/docs/package.json
  packages/icons/package.json
  packages/styles/package.json
  packages/web/package.json
Due: icons, styles, web

chore(release): publish v0.11.3-alpha.DSY-1075.0 via lerna [skip ci]
  lerna.json
  packages/docs/package.json
  packages/icons/package.json
  packages/styles/package.json
  packages/web/package.json
Due: icons, styles, web

fix(web): update test snapshots for Table* components
  packages/web/src/__tests__/__snapshots__/Table.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TableBody.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TableCell.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TableFooter.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TableHead.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TablePagination.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TableRow.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TableSortLabel.spec.tsx.snap
Due: web

chore(release): publish v0.11.3 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
Due: none

chore: add "dedupe" word to Typo CI safelist
  .typo-ci.yml
Due: none

fix(web): omit override props in Table component
  packages/web/src/Components/Table/Table.tsx
Due: web

test(web): update table components snapshots
  packages/web/src/__tests__/__snapshots__/Table.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TableBody.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TableCell.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TableFooter.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TableHead.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TablePagination.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TableRow.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TableSortLabel.spec.tsx.snap
Due: web

refactor(docs): remove unused code and pass rounded prop
  packages/docs/src/components/Table/Interactive.tsx
  packages/docs/src/components/Table/sections.tsx
Due: none

feat: add `outlined-place-rocket` and `outlined-place-runningtruck` icons
  packages/icons/src/assets/cleaned/outlined-place-rocket.svg
  packages/icons/src/assets/cleaned/outlined-place-runningtruck.svg
  packages/icons/src/assets/raw/filled/outlined-place-rocket.svg
  packages/icons/src/assets/raw/filled/outlined-place-runningtruck.svg
  packages/icons/src/fonts/natds-icons.eot
  packages/icons/src/fonts/natds-icons.svg
  packages/icons/src/fonts/natds-icons.ttf
  packages/icons/src/fonts/natds-icons.woff
  packages/icons/src/fonts/natds-icons.woff2
  packages/icons/src/natds-icons.css
  packages/icons/src/natds-icons.css.d.ts
  packages/icons/src/natds-icons.json
  packages/icons/src/natds-icons.swift
Due: icons

chore(release): publish v0.12.0-alpha.DSY-1081.0 via lerna [skip ci]
  lerna.json
  packages/docs/package.json
  packages/icons/package.json
  packages/styles/package.json
  packages/web/package.json
Due: icons, styles, web

chore: fetch from git after checking out from -docs branch
  scripts/build-storybook.sh
Due: none

ci: try to fix Storybook build
  scripts/build-storybook.sh
Due: none

chore: add pre-push hook
  package.json
  yarn.lock
Due: none

chore(deps): update yarn lock file
  yarn.lock
Due: none

feat(icons): add new social media icons
  packages/icons/src/assets/cleaned/filled-brand-facebook.svg
  packages/icons/src/assets/cleaned/filled-brand-google.svg
  packages/icons/src/assets/cleaned/filled-brand-instagram.svg
  packages/icons/src/assets/cleaned/filled-brand-linkedin.svg
  packages/icons/src/assets/cleaned/filled-brand-pinterest.svg
  packages/icons/src/assets/cleaned/filled-brand-spotify.svg
  packages/icons/src/assets/cleaned/filled-brand-twitter.svg
  packages/icons/src/assets/cleaned/filled-brand-whatsapp.svg
  packages/icons/src/assets/cleaned/filled-brand-youtube.svg
  packages/icons/src/assets/raw/filled/filled-brand-facebook.svg
  packages/icons/src/assets/raw/filled/filled-brand-google.svg
  packages/icons/src/assets/raw/filled/filled-brand-instagram.svg
  packages/icons/src/assets/raw/filled/filled-brand-linkedin.svg
  packages/icons/src/assets/raw/filled/filled-brand-pinterest.svg
  packages/icons/src/assets/raw/filled/filled-brand-spotify.svg
  packages/icons/src/assets/raw/filled/filled-brand-twitter.svg
  packages/icons/src/assets/raw/filled/filled-brand-whatsapp.svg
  packages/icons/src/assets/raw/filled/filled-brand-youtube.svg
  packages/icons/src/fonts/natds-icons.eot
  packages/icons/src/fonts/natds-icons.svg
  packages/icons/src/fonts/natds-icons.ttf
  packages/icons/src/fonts/natds-icons.woff
  packages/icons/src/fonts/natds-icons.woff2
  packages/icons/src/natds-icons.css
  packages/icons/src/natds-icons.css.d.ts
  packages/icons/src/natds-icons.json
  packages/icons/src/natds-icons.swift
Due: icons

chore(release): publish v0.12.0-alpha.DSY-1075.0 via lerna [skip ci]
  lerna.json
  packages/docs/package.json
  packages/icons/package.json
  packages/styles/package.json
  packages/web/package.json
Due: icons, styles, web

chore: update Typo CI config file
  .typo-ci.yml
Due: none

fix(web): update component test snapshots
  packages/web/src/__tests__/__snapshots__/Table.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TableBody.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TableCell.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TableFooter.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TableHead.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TablePagination.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TableRow.spec.tsx.snap
  packages/web/src/__tests__/__snapshots__/TableSortLabel.spec.tsx.snap
Due: web

test(web): adopt `react-test-renderer` instead of `enzyme` for `TablePagination`
  packages/web/src/__tests__/TablePagination.spec.tsx
  packages/web/src/__tests__/__snapshots__/TablePagination.spec.tsx.snap
Due: web

chore(release): publish v0.12.0-alpha.DSY-1148.0 via lerna [skip ci]
  lerna.json
  packages/docs/package.json
  packages/icons/package.json
  packages/styles/package.json
  packages/web/package.json
Due: icons, styles, web

chore: run yarn lint on pre-commit hook
  package.json
Due: none

fix: avoid warning on importing
  packages/web/src/__tests__/AppBar.spec.tsx
Due: web

docs: add roadmap document [skip ci]
  docs/roadmap.md
Due: none
