Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: icons, styles, web

ci: fix npm ERR ci, using yarn install
  .github/workflows/npm-publish.yml
Due: none

chore(deps): update dependency netlify to v4.3.7
  package.json
  yarn.lock
Due: none

chore(deps): update typescript-eslint monorepo to v3.7.1
  package.json
  yarn.lock
Due: none

docs: adopt org-wide PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

refactor(web): remove old TextField component
  packages/web/src/Components/TextField/CustomIcon.tsx
  packages/web/src/Components/TextField/Field.tsx
  packages/web/src/Components/TextField/PasswordReveal.tsx
  packages/web/src/Components/TextField/SearchClear.tsx
  packages/web/src/Components/TextField/index.tsx
  packages/web/src/Components/TextField/shared.ts
Due: web

chore(deps): update dependency ts-jest to v26.1.4
  packages/styles/package.json
  packages/web/package.json
  yarn.lock
Due: styles, web

chore(release): publish v0.15.2 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, web

ci: update publishing workflow
  .github/workflows/npm-publish.yml
Due: none

chore(deps): update dependency eslint-plugin-react to v7.20.5
  package.json
  yarn.lock
Due: none

chore(deps): update dependency tsconfig-paths-webpack-plugin to v3.3.0
  packages/docs/package.json
  yarn.lock
Due: none

chore(release): publish v0.15.3 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
Due: none

chore(deps): update dependency css-loader to v4.1.0
  packages/docs/package.json
  yarn.lock
Due: none

chore(release): publish v0.15.4 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
Due: none

chore(deps): update dependency netlify to v4.3.8
  package.json
  yarn.lock
Due: none

chore(docs): add `@storybook/theming` as dependency
  packages/docs/package.json
Due: none

chore(deps): update dependency css-loader to v4.1.1
  packages/docs/package.json
  yarn.lock
Due: none

feat(web): add `Container` layout component
  packages/web/src/Components/Container/index.tsx
  packages/web/src/__tests__/Container/__snapshots__/index.spec.tsx.snap
  packages/web/src/__tests__/Container/index.spec.tsx
Due: web

chore(release): publish v0.16.0-alpha.DSY-1279.0 via lerna [skip ci]
  lerna.json
  packages/docs/package.json
  packages/icons/package.json
  packages/styles/package.json
  packages/web/package.json
Due: icons, styles, web

chore(release): publish v0.15.5 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
Due: none

chore(deps): update jest monorepo to v26.2.1
  package.json
  packages/icons/package.json
  packages/styles/package.json
  packages/web/package.json
  yarn.lock
Due: icons, styles, web

docs(web): add docs for Container component
  packages/web/src/Components/Container/README.mdx
Due: web

refactor(web): move test and snapshot to component folder
  packages/web/jest.config.js
  packages/web/src/Components/Container/__snapshots__/index.test.tsx.snap
  packages/web/src/Components/Container/index.test.tsx
Due: web

chore(release): publish v0.15.6 via lerna [skip ci]
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: icons, styles, web

Path conditions:
  icons: any of: packages/icons
  styles: any of: packages/styles
  web: any of: packages/web
