Repository natura-cosmeticos/natds-js: changes, and which Codecov flags are due for each by the changed paths.
All: icons, styles, web

chore(deps): update dependency @types/chai to v4.2.14
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency @types/chai-enzyme to v0.6.8
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency @types/enzyme to v3.10.8
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency enzyme-to-json to v3.6.1
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency sinon to v9.2.1
  packages/web/package.json
  yarn.lock
Due: web

chore(deps): update dependency ts-loader to v8.0.7
  packages/web/package.json
  yarn.lock
Due: web

test(provider): remove enzyme dependency
  packages/web/src/Provider/Provider.test.tsx
  packages/web/src/Provider/__snapshots__/Provider.test.tsx.snap
Due: web

test(web): remove chai and enzyme deps, refactor mocks
  packages/web/config/test/setupChai.ts
  packages/web/config/test/setupEnzyme.ts
  packages/web/jest.config.js
  packages/web/src/__mocks__/fileMock.ts
  packages/web/src/__mocks__/styleMock.ts
Due: web

chore(storybook): remove redundant package manifest
  packages/web/.storybook/package.json
Due: web

chore(examples/create-react-app-with-typescript): update types deps
  examples/create-react-app-with-typescript/package.json
Due: none

chore(deps): add react types resolution
  package.json
Due: none

chore(deps): upgrade deps, remove unused ones
  packages/web/package.json
  yarn.lock
Due: web

chore(release): publish v0.22.14 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/gatsby/CHANGELOG.md
  examples/gatsby/package.json
  lerna.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, web

chore(.idea): add support to eslint fix-on-save
  .idea/jsLinters/eslint.xml
Due: none

chore(examples): bump react-scripts to 4.0.0
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/package.json
Due: none

fix(tooltip): prevent ref errors
  packages/web/src/Components/Tooltip/Tooltip.tsx
Due: web

docs(tooltip): improve children prop description
  packages/web/src/Components/Tooltip/Tooltip.props.ts
Due: web

fix(storybook): prevent errors on Tooltip story
  packages/web/src/Components/Tooltip/Tooltip.stories.tsx
Due: web

fix(storybook): prevent errors when building storybook
  packages/web/.storybook/main.js
  packages/web/.storybook/yarn.lock
Due: web

fix(deps): security upgrade for dot-prop and node-forge deps
  examples/single-spa/root/package-lock.json
  examples/single-spa/root/package.json
  package.json
  yarn.lock
Due: none

chore(release): publish v0.22.15 via lerna [skip ci]
  CHANGELOG.md
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/gatsby/CHANGELOG.md
  examples/gatsby/package.json
  lerna.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, web

chore(examples/single-spa): add missing version
  examples/single-spa/root/package.json
Due: none

feat: wrap makeStyles from Material UI library
  packages/web/src/index.ts
  packages/web/src/styles/createStyles/createStyles.ts
  packages/web/src/styles/createStyles/index.ts
  packages/web/src/styles/makeStyles/index.ts
  packages/web/src/styles/makeStyles/makeStyles.ts
Due: web

docs: remove old styled-components references
  packages/web/CHANGELOG.md
  packages/web/README.md
Due: web

style(text field): prevent ESLint false positive
  packages/web/src/Components/TextField/TextField.test.tsx
Due: web

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(examples/single-spa): bump package version to 0.22.15
  examples/single-spa/root/package.json
Due: none

test(styles): add missing test
  packages/web/src/styles/createStyles/createStyles.test.ts
Due: web

chore(release): publish v0.23.0 via lerna [skip ci]
  CHANGELOG.md
  examples/cdn/package-lock.json
  examples/cdn/package.json
  examples/create-react-app-with-typescript/CHANGELOG.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/CHANGELOG.md
  examples/create-react-app/package.json
  examples/gatsby/CHANGELOG.md
  examples/gatsby/package.json
  examples/mdx-deck/CHANGELOG.md
  examples/mdx-deck/package.json
  examples/single-spa/root/CHANGELOG.md
  examples/single-spa/root/package.json
  lerna.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
Due: styles, web

chore(.idea): add own .gitignore
  .idea/.gitignore
Due: none

chore(.idea): configure JS library mappings
  .idea/jsLibraryMappings.xml
Due: none

chore(.idea): add support to @types/jest
  .idea/natds-js.iml
Due: none

chore(.idea): set language level to JSX
  .idea/misc.xml
Due: none

fix(web): add support to importing createStyles
  packages/web/src/index.ts
Due: web

test(__mocks__): add createNodeMock for test renderer
  packages/web/src/__mocks__/createNodeMock.ts
Due: web

test(input): adopt createNodeMock from __mocks__ folder
  packages/web/src/Components/Input/Input.test.tsx
Due: web

test(web): add support to createNodeMock at test renderer
  packages/web/src/Components/Storyshots.test.js
Due: web

chore(deps): resolve react to 17.0.1
  package.json
Due: none

chore(deps): bump react-test-renderer to 17, add chromatic
  packages/web/package.json
Due: web

Path conditions:
  icons: any of: packages/icons
  styles: any of: packages/styles
  web: any of: packages/web
